/*!
 * Fonts
 * 
 * @version 1.0.0 2018/01/01 00:00
 * @author Jean <Jean@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// google font
/// ---------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

/// ---------------------------------------------------------------------------
/// icon
/// ---------------------------------------------------------------------------

//@import "../fonts/icon/style.css";
@import "https://i.icomoon.io/public/99eb13a9b2/jean-siteadmin/style.css";

/// ---------------------------------------------------------------------------
/// flag
/// ---------------------------------------------------------------------------

@import "../fonts/flag/css/flag-icon.min.css";

/// ---------------------------------------------------------------------------
/// fontawesome
/// ---------------------------------------------------------------------------
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";