﻿@using Web.Models;
@using Web.Service;
@{
    List<abouts> data = ViewBag.Data;
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                    <li><a>@ViewBag.ResLang["宗旨與理念"]</a></li>
                    

                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page2/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["關於長庚"]</h2>
                    <h3 class="fz-24 fwn">取之社會，用之社會，人本濟世</h3>
                </div>
            </div>

            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">


            @Html.Partial("AboutMenu")<!--共用選單-->


            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["宗旨與理念"]</h3>
        </section>

        @if (ViewBag.Data != null && data.Count > 0)
        {
            foreach (abouts item in data)
            {
                @Html.Raw(FunctionService.FormatImagePath(item.content))
            }
        }



    </div>
</main>

