﻿<div class="mobile-nav hide-tablet-portrait-up">
    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
        <option disabled>@ViewBag.ResLang["請選擇項目"]</option>
        <option @if (ViewBag.Action == "About") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["宗旨與理念"]</option>

        @if (!string.IsNullOrEmpty(ViewBag.webData.csr_url))
        {
            <option value="@ViewBag.webData.csr_url">@ViewBag.ResLang["永續發展"]</option>
        }
            <option @if (ViewBag.Action == "Historys") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Systems/Historys">@ViewBag.ResLang["大事記"]</option>
            <option @if (ViewBag.Action == "Overview") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Systems/Overview">@ViewBag.ResLang["服務概況"] </option>
            <option @if (ViewBag.Action == "Security") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Systems/Security">@ViewBag.ResLang["病人安全"] </option>
        </select>
</div>
<ul class="ul-reset fz-20 hide-tablet-portrait-under">
    <li><a @if (ViewBag.Action == "About") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["宗旨與理念"]</a></li>

    @if (!string.IsNullOrEmpty(ViewBag.webData.csr_url))
    {
        <li><a href="@ViewBag.webData.csr_url" target="_blank">@ViewBag.ResLang["永續發展"]</a></li>
    }
        <li><a @if (ViewBag.Action == "Historys") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/Systems/Historys">@ViewBag.ResLang["大事記"]</a></li>
        <li><a @if (ViewBag.Action == "Overview") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/Systems/Overview">@ViewBag.ResLang["服務概況"]</a></li>
        <li><a @if (ViewBag.Action == "Security") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/Systems/Security">@ViewBag.ResLang["病人安全"]</a></li>
    </ul>