﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<hospitals> hospitalsList = ViewBag.hospitalsList;
    hospitals data = ViewBag.Data;

}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a>@ViewBag.ResLang["醫療體系"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療體系"]</h2>
                    <h3 class="fz-24 fwn">從事醫療事業，促進全民健康</h3>
                </div>
            </div>

            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.hospitalTitle</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(hospitalsList))
                            {
                                string infoUrl = Url.Content("~/" + ViewBag.Lang) + "/Systems/AreaInfo/" + item.guid;

                                if (item.website_type == "url")
                                {
                                    infoUrl = item.website;
                                }
                                string selected = "";

                                if (ViewBag.ID == item.guid)
                                {
                                    selected = " selected";
                                }

                                <option @selected value="@infoUrl">
                                            @if (!string.IsNullOrEmpty(item.join_title))
                                            { @item.join_title }
                                            else { @item.title }</option>
                            }
                        }

                    </select>
                </li>
                <li class="flex-end hide-tablet-under">
                    <a class="btn__back" href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">
                        <div class="svg">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                            <g id="reply">
                            <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" /> </g>
                             </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <section class="area__info layout__container-1400">


            @if (data.view_type == "api")
            {
                List<SupervisorModel> supervisor = ViewBag.hospitalInfo.supervisor;

                if (supervisor != null && supervisor.Count > 0)
                {
                    <div class="top tac">
                        <!-- <h3 class="fz-36 fwb">基隆長庚紀念醫院暨情人湖院區</h3> -->
                        <!-- <div class="fz-20">服務、社會責任，全面提昇醫療水準，發展成為台灣東北部之臨床、教學重鎮，<br>擠身醫學中心，醫院永續性經營，承擔社會責任。 </div> -->
                        <div class="docs">
                            @foreach (SupervisorModel item in supervisor)
                            {
                                <div class="doc">
                                    <img src="@item.photoUrl" alt="@item.name">
                                    <div class="fz-20">@item.name @item.jobTitle</div>
                                </div>
                            }

                        </div>
                    </div>
                }
            }

            <div class="bottom">
                <h3 class="fz-32 fwb">@ViewBag.ResLang["院區簡介"]</h3>
                <div class="bg-grey fz-18">

                    @Html.Raw(ViewBag.hospitalInfo.profile)

                </div>
            </div>
        </section>

        <section class="area__contact layout__container-full tac">
            <div class="bgimage imgLiquidFill">
                <img src="~/images/05-system/page1/18.jpg" alt="">
            </div>
            <h3 class="fz-32 fwb">@ViewBag.ResLang["聯絡資訊"]</h3>
            <!-- 只有基隆院區需要切換分院按鈕 -->
            @if (ViewBag.JoinHospital != null)
            {
                <div class="btns fz-18 tac">
                    <div data-slide="0" class="btn__rec-main active">@data.title</div>
                    <div data-slide="1" class="btn__rec-main">@ViewBag.JoinHospital.title</div>
                </div>
            }
            <!---->
            <div class="slick-area-contact">
                <div class="item">
                    <div class="tels fz-24">
                        @if (ViewBag.hospitalInfo.tel != null && ViewBag.hospitalInfo.tel != "")
                        {
                            <div class="tel">TEL  <span>@ViewBag.hospitalInfo.tel</span></div>
                        }
                        @if (ViewBag.hospitalInfo.fax != null && ViewBag.hospitalInfo.fax != "")
                        {
                            <div class="tel"> FAX  <span>@ViewBag.hospitalInfo.fax</span></div>
                        }
                    </div>
                    @if (ViewBag.hospitalInfo.address != null && ViewBag.hospitalInfo.address != "")
                    {
                        <div class="locate fz-18"><i class="icon-location"></i>@ViewBag.ResLang["聯絡地址"] : @ViewBag.hospitalInfo.address </div>
                    }
                    <div class="info fz-18">
                        <div class="fwb">@ViewBag.ResLang["規模"]</div>
                        <ul class="ul-reset">
                            <li>@ViewBag.ResLang["病床總病床數"] :  @ViewBag.hospitalInfo.bedQty</li>
                            <li>@ViewBag.ResLang["醫生人數"] :  @ViewBag.hospitalInfo.doctorQty</li>
                            <li>@ViewBag.ResLang["醫事人員數"] :  @ViewBag.hospitalInfo.medicalQty</li>
                        </ul>
                    </div>
                    @if (!string.IsNullOrEmpty(data.traffic_url))
                    {
                        <div class="btnwrap">
                            <a href="@data.traffic_url" target="_blank" class="btn__round-full fwb fz-18">@ViewBag.ResLang["交通資訊"]</a>
                        </div>
                    }
                </div>
                <!-- 情人湖院區目前無API 先固定呈現 -->
                 @if (ViewBag.JoinHospital != null)
                 {

                    hospitals JoinHosptals = ViewBag.JoinHospital;

                <div class="item">
                    <div class="tels fz-24">
                        <div class="tel single">TEL  <span>@JoinHosptals.tel</span></div>
                    </div>
                    <div class="locate fz-18"><i class="icon-location"></i>@ViewBag.ResLang["聯絡地址"] : @JoinHosptals.address</div>
                    <div class="info fz-18">
                        <div class="fwb">@ViewBag.ResLang["規模"]</div>
                        <ul class="ul-reset">
                            <li>@ViewBag.ResLang["病床總病床數"] : @JoinHosptals.bedQty</li>
                            <li>@ViewBag.ResLang["醫生人數"] : @JoinHosptals.doctorQty</li>
                            <li>@ViewBag.ResLang["醫事人員數"] : @JoinHosptals.medicalQty</li>
                        </ul>
                    </div>
                    @if (!string.IsNullOrEmpty(JoinHosptals.traffic_url))
                    {
                        <div class="btnwrap">
                            <a href="@JoinHosptals.traffic_url" target="_blank" class="btn__round-full fwb fz-18">@ViewBag.ResLang["交通資訊"]</a>
                        </div>
                    }


                </div>
                 }
            </div>
        </section>

        @if(!string.IsNullOrEmpty(ViewBag.MapCode))
        {
             <section class="area__map layout-container-full">
                <div id="map">
                   @Html.Raw(ViewBag.MapCode.ToString())
                </div>
            </section>
        }
       


        <nav class="sidenav">
            <a class="js-btn-nav-arrow hide-tablet-portrait-up">
                <div class="arrow"><i class="icon-angle-right"></i></div>
            </a>
            <ul class="ul-reset fwb">
                <li>
                    <a href="https://register.cgmh.org.tw/Register/@data.hospitalID" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 54 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M47.061,31.664l-10.498,0c-0.732,0 -1.331,-0.597 -1.331,-1.33c0,-0.732 0.599,-1.329 1.331,-1.329l10.498,0c0.733,0 1.33,0.597 1.33,1.329c0,0.733 -0.597,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,36.914c-0.732,0 -1.33,-0.598 -1.33,-1.33l0,-10.496c0,-0.735 0.598,-1.33 1.33,-1.33c0.732,0 1.33,0.595 1.33,1.33l0,10.496c0,0.732 -0.598,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,21.133c-5.075,0 -9.205,4.127 -9.205,9.201c0,5.075 4.13,9.203 9.205,9.203c5.075,0 9.203,-4.128 9.203,-9.203c0,-5.074 -4.128,-9.201 -9.203,-9.201m0,20.462c-6.208,0 -11.261,-5.053 -11.261,-11.261c0,-6.208 5.053,-11.256 11.261,-11.256c6.208,0 11.261,5.048 11.261,11.256c0,6.208 -5.053,11.261 -11.261,11.261" style="fill-rule:nonzero;" /><path d="M30.766,41.518l-24.593,0c-3.078,0 -5.58,-2.5 -5.58,-5.587l0,-25.574c0,-3.077 2.502,-5.584 5.58,-5.584l27.754,0c3.078,0 5.584,2.507 5.584,5.584l0,4.456c0,0.702 -0.564,1.266 -1.266,1.266c-0.704,0 -1.273,-0.564 -1.273,-1.266l0,-4.456c0,-1.678 -1.367,-3.045 -3.045,-3.045l-27.754,0c-1.681,0 -3.047,1.367 -3.047,3.045l0,25.574c0,1.685 1.366,3.045 3.047,3.045l24.593,0c0.695,0 1.273,0.567 1.273,1.269c0,0.702 -0.578,1.273 -1.273,1.273" style="fill-rule:nonzero;" /><path d="M12.192,11.45c-0.84,0 -1.52,-0.68 -1.52,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.52,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M29.032,11.45c-0.839,0 -1.519,-0.68 -1.519,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.519,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M38.244,16.107l-36.383,0c-0.539,0 -0.966,-0.427 -0.966,-0.965c0,-0.537 0.427,-0.966 0.966,-0.966l36.383,0c0.532,0 0.959,0.429 0.959,0.966c0,0.538 -0.427,0.965 -0.959,0.965" style="fill-rule:nonzero;" /><rect x="7.478" y="20.827" width="3.198" height="3.187" style="" /><rect x="14.513" y="20.897" width="3.2" height="3.189" style="" /><rect x="21.412" y="20.827" width="3.198" height="3.187" style="" /><rect x="7.297" y="28.402" width="3.204" height="3.189" style="" /><rect x="14.336" y="28.474" width="3.193" height="3.189" style="" /><rect x="21.229" y="28.402" width="3.2" height="3.189" style="" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["即時掛號"]</div>
                    </a>
                </li>
                
                <li>
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Branch/@data.hospitalID">
                        <div class="svg" target="_blank">
                            <svg width="100%" height="100%" viewBox="0 0 41 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M16.912,20.996c-1.097,0 -2.169,0.565 -2.795,1.477c-0.61,0.888 -0.713,1.98 -0.292,3.078c1.779,4.59 5.585,7.196 6.821,7.945c1.093,-0.534 4.232,-2.319 6.494,-6.273c0.189,-0.333 0.374,-0.677 0.549,-1.041c0.779,-1.6 0.189,-3.108 -0.621,-3.991c-1.493,-1.631 -3.97,-1.543 -5.693,0.472c-0.19,0.221 -0.524,0.349 -0.77,0.339c-0.292,-0.01 -0.569,-0.149 -0.749,-0.385c-1.015,-1.339 -2.164,-1.621 -2.944,-1.621m3.673,14.562c-0.154,0 -0.308,-0.031 -0.446,-0.108c-0.236,-0.118 -5.745,-3.021 -8.13,-9.196c-0.651,-1.688 -0.472,-3.468 0.498,-4.888c1.774,-2.575 5.765,-3.037 8.155,-0.77c1.41,-1.251 2.821,-1.538 3.821,-1.538c1.492,0 2.959,0.656 4.021,1.815c1.59,1.724 1.949,4.083 0.939,6.16c-0.19,0.4 -0.4,0.79 -0.611,1.159c-3.139,5.488 -7.714,7.232 -7.909,7.304c-0.107,0.041 -0.22,0.062 -0.338,0.062" style="fill-rule:nonzero;" /><path d="M37.824,47.869l-34.098,0c-0.821,0 -1.59,-0.318 -2.164,-0.898c-0.58,-0.574 -0.898,-1.343 -0.898,-2.164l0,-35.021c0,-0.816 0.318,-1.58 0.898,-2.16c0.574,-0.574 1.338,-0.897 2.154,-0.897l2.59,0c0.636,0 1.159,0.528 1.159,1.164c0,0.641 -0.523,1.159 -1.159,1.159l-2.59,0c-0.195,0 -0.38,0.072 -0.518,0.216c-0.139,0.133 -0.211,0.323 -0.211,0.518l0,35.021c0,0.205 0.072,0.39 0.216,0.528c0.138,0.139 0.323,0.216 0.523,0.216l34.098,0c0.215,0 0.426,-0.082 0.585,-0.241c0.19,-0.19 0.231,-0.416 0.231,-0.57l0,-34.949c0,-0.2 -0.077,-0.38 -0.216,-0.518c-0.143,-0.149 -0.328,-0.221 -0.523,-0.221l-2.821,0c-0.641,0 -1.159,-0.518 -1.159,-1.159c0,-0.636 0.518,-1.164 1.159,-1.164l2.821,0c0.815,0 1.585,0.323 2.164,0.908c0.57,0.564 0.893,1.333 0.893,2.154l0,34.949c0,0.836 -0.328,1.621 -0.913,2.211c-0.605,0.595 -1.39,0.918 -2.221,0.918" style="fill-rule:nonzero;" /><path d="M11.009,12.176l19.604,0l-0.672,-5.001l-4.945,0c-0.513,0 -0.928,-0.41 -0.928,-0.923c0,-0.041 0.005,-0.082 0.01,-0.134l0,-0.502c0,-1.8 -1.462,-3.273 -3.267,-3.273c-1.8,0 -3.267,1.473 -3.267,3.273l0,0.508c0.01,0.046 0.01,0.087 0.01,0.128c0,0.513 -0.415,0.923 -0.923,0.923l-4.95,0l-0.672,5.001Zm20.665,1.857l-21.726,0c-0.267,0 -0.518,-0.118 -0.698,-0.318c-0.174,-0.2 -0.256,-0.472 -0.22,-0.734l0.923,-6.852c0.061,-0.462 0.456,-0.8 0.918,-0.8l4.831,0c0.149,-2.693 2.385,-4.832 5.109,-4.832c2.729,0 4.96,2.139 5.114,4.832l4.831,0c0.462,0 0.857,0.338 0.918,0.8l0.918,6.852c0.036,0.262 -0.046,0.534 -0.22,0.734c-0.18,0.2 -0.431,0.318 -0.698,0.318" style="fill-rule:nonzero;" /><path d="M22.181,5.476c0,0.8 -0.646,1.447 -1.446,1.447c-0.8,0 -1.446,-0.647 -1.446,-1.447c0,-0.8 0.646,-1.451 1.446,-1.451c0.8,0 1.446,0.651 1.446,1.451" style="fill-rule:nonzero;" /><path d="M31.914,40.989l-22.209,0c-0.508,0 -0.923,-0.415 -0.923,-0.928c0,-0.508 0.415,-0.923 0.923,-0.923l22.209,0c0.513,0 0.928,0.415 0.928,0.923c0,0.513 -0.415,0.928 -0.928,0.928" style="fill-rule:nonzero;" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["科部介紹"]</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@data.hospitalID">
                        <div class="svg" target="_blank">
                            <svg width="100%" height="100%" viewBox="0 0 36 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M2.427,40.71l30.177,0c-0.412,-10.337 -6.244,-16.95 -15.087,-16.95c-8.846,0 -14.675,6.613 -15.09,16.95m31.395,2.394l-32.613,0c-0.657,0 -1.193,-0.537 -1.193,-1.197c0,-12.472 6.87,-20.529 17.501,-20.529c10.628,0 17.499,8.057 17.499,20.529c0,0.66 -0.537,1.197 -1.194,1.197" style="fill-rule:nonzero;" /><path d="M17.515,2.819c-5.11,0 -9.267,4.157 -9.267,9.269c0,5.133 4.157,9.29 9.267,9.29c2.679,0 5.237,-1.202 7.02,-3.291c0.077,-0.088 0.164,-0.166 0.263,-0.227c1.454,-1.486 1.978,-3.012 1.983,-5.726c-0.005,-2.795 -0.534,-4.327 -2.002,-5.818c-0.092,-0.061 -0.175,-0.128 -0.244,-0.211c-1.783,-2.089 -4.341,-3.286 -7.02,-3.286m0,20.942c-6.427,0 -11.655,-5.231 -11.655,-11.658c0,-6.442 5.228,-11.672 11.655,-11.672c3.301,0 6.452,1.439 8.68,3.946c0.044,0.036 0.086,0.067 0.124,0.103c2.355,2.306 2.842,4.694 2.85,7.577c-0.008,2.961 -0.495,5.349 -2.85,7.659c-0.041,0.037 -0.085,0.073 -0.131,0.104c-2.229,2.507 -5.375,3.941 -8.673,3.941" style="fill-rule:nonzero;" /><path d="M17.218,6.151c-1.865,0 -3.381,1.517 -3.381,3.384c0,1.862 1.516,3.378 3.381,3.378c1.864,0 3.381,-1.516 3.381,-3.378c0,-1.867 -1.517,-3.384 -3.381,-3.384m0,8.278c-2.701,0 -4.897,-2.197 -4.897,-4.894c0,-2.703 2.196,-4.901 4.897,-4.901c2.7,0 4.897,2.198 4.897,4.901c0,2.697 -2.197,4.894 -4.897,4.894" style="fill-rule:nonzero;" /><path d="M13.078,8.699l-5.165,0c-0.418,0 -0.759,-0.346 -0.759,-0.763c0,-0.418 0.341,-0.753 0.759,-0.753l5.165,0c0.418,0 0.759,0.335 0.759,0.753c0,0.417 -0.341,0.763 -0.759,0.763" style="fill-rule:nonzero;" /><path d="M13.078,11.732l-5.965,0c-0.404,0 -0.735,-0.33 -0.735,-0.732c0,-0.402 0.331,-0.732 0.735,-0.732l5.965,0c0.405,0 0.735,0.33 0.735,0.732c0,0.402 -0.33,0.732 -0.735,0.732" style="fill-rule:nonzero;" /><path d="M26.948,8.699l-5.165,0c-0.418,0 -0.759,-0.346 -0.759,-0.763c0,-0.418 0.341,-0.753 0.759,-0.753l5.165,0c0.419,0 0.758,0.335 0.758,0.753c0,0.417 -0.339,0.763 -0.758,0.763" style="fill-rule:nonzero;" /><path d="M27.5,11.939l-6.336,0c-0.418,0 -0.759,-0.34 -0.759,-0.753c0,-0.424 0.341,-0.763 0.759,-0.763l6.336,0c0.418,0 0.759,0.339 0.759,0.763c0,0.413 -0.341,0.753 -0.759,0.753" style="fill-rule:nonzero;" /><path d="M18.412,9.535c0,0.66 -0.534,1.191 -1.195,1.191c-0.66,0 -1.194,-0.531 -1.194,-1.191c0,-0.66 0.534,-1.197 1.194,-1.197c0.661,0 1.195,0.537 1.195,1.197" style="fill-rule:nonzero;" /><path d="M28.044,36.058c0,0.871 -0.706,1.578 -1.58,1.578c-0.875,0 -1.579,-0.707 -1.579,-1.578c0,-0.877 0.704,-1.584 1.579,-1.584c0.874,0 1.58,0.707 1.58,1.584" style="fill-rule:nonzero;" /><path d="M17.218,31.395c-0.116,0 -0.232,-0.021 -0.345,-0.068l-15.46,-6.194c-0.35,-0.14 -0.582,-0.48 -0.582,-0.862l0,-9.423c0,-0.516 0.415,-0.929 0.929,-0.929l2.302,0c0.514,0 0.929,0.413 0.929,0.929c0,0.51 -0.415,0.923 -0.929,0.923l-1.375,0l0,7.877l14.876,5.952c0.475,0.19 0.707,0.732 0.516,1.207c-0.144,0.366 -0.493,0.588 -0.861,0.588" style="fill-rule:nonzero;" /><path d="M17.79,31.395c-0.366,0 -0.712,-0.222 -0.858,-0.578c-0.194,-0.479 0.033,-1.022 0.507,-1.212l14.562,-5.957l0,-7.877l-1.53,0c-0.513,0 -0.928,-0.413 -0.928,-0.923c0,-0.516 0.415,-0.929 0.928,-0.929l2.458,0c0.513,0 0.928,0.413 0.928,0.929l0,9.423c0,0.377 -0.229,0.722 -0.577,0.862l-15.139,6.19c-0.113,0.046 -0.235,0.072 -0.351,0.072" style="fill-rule:nonzero;" /><path d="M22.414,37.358l-4.624,0c-0.513,0 -0.928,-0.419 -0.928,-0.929l0,-5.963c0,-0.516 0.415,-0.928 0.928,-0.928c0.513,0 0.928,0.412 0.928,0.928l0,5.034l3.696,0c0.514,0 0.929,0.413 0.929,0.929c0,0.51 -0.415,0.929 -0.929,0.929" style="fill-rule:nonzero;" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["醫師介紹"]</div>
                    </a>
                </li>
                <li>
                    <a href="@ViewBag.hospitalInfo.website" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 511 511" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M511.864,221.487c-0.921,-11.988 -6.455,-22.896 -15.581,-30.716l-44.286,-37.96l0,-107.867c0,-8.284 -6.716,-14.999 -14.999,-14.999l-59.998,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,30.728l-75.911,-64.695c-16.97,-14.539 -41.603,-14.537 -58.519,-0.043l-212.043,179.835c-18.753,16.068 -21.186,44.423 -4.866,63.473c12.439,14.465 32.364,19.077 49.35,13.107l0,229.584c0,8.284 6.516,14.999 14.799,14.999l361.986,0c8.284,0 14.999,-6.716 14.999,-14.999l0,-229.581c17.534,6.2 37.039,1.004 49.167,-13.13c7.82,-9.128 11.621,-20.754 10.701,-32.735Zm-119.865,-161.544l30.199,0l0,67.154l-30.199,-25.713l0,-41.441Zm-74.797,421.991l-122.195,0l0,-120.196l122.195,0l0,120.196Zm104.996,0l-75.197,0l0,-134.995c0,-8.284 -6.716,-14.999 -14.999,-14.999l-151.995,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,134.995l-75.197,0l0,-236.159l166.943,-141.613l165.245,141.473l0,236.299l-0.001,0Zm56.191,-247.24c-5.318,6.198 -14.772,7.107 -21.158,1.631l-190.466,-163.264c-5.595,-4.797 -13.845,-4.817 -19.464,-0.05c-4.059,3.442 -191.721,162.632 -192.515,163.306c-6.282,5.375 -15.782,4.642 -21.161,-1.615c-5.385,-6.285 -4.657,-15.774 1.569,-21.11l212.044,-179.836c5.66,-4.848 13.874,-4.849 19.53,-0.002l209.994,179.795c6.278,5.38 7.005,14.87 1.627,21.145Z" style="fill-rule:nonzero;" /><path d="M302.002,179.938l-91.996,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,89.996c0,8.284 6.516,14.999 14.799,14.999l91.996,0c8.284,0 14.999,-6.716 14.999,-14.999l0,-89.996c0.001,-8.284 -6.715,-14.999 -14.999,-14.999Zm-14.799,89.997l-62.198,0l0,-59.998l62.198,0l0,59.998Z" style="fill-rule:nonzero;" /><circle cx="271.999" cy="406.934" r="14.999" /></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["院區官網"]</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
@section scripts {

    @Scripts.Render("~/Scripts/js/plugin/jquery.tinyMap.min.js")


    <script>
        //tinyMap
     /*   setMap(25.120866, 121.7221361)
        function setMap(lat, lng) {
            $('#map').tinyMap({
                'center': {
                    'lat': lat,
                    'lng': lng
                },
                'zoom': 18,
                'marker': [
                    {
                        'addr': [lat, lng],
                        'icon': {
                            url: './images/00-logo-icon/icon-marker.svg',
                            scaledSize: [70, 70],
                        }
                    }
                ]
            });
        }*/
    </script>

}