﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{
    List<hospitals> hospitalsList = ViewBag.hospitalsList;
    //List<HospitalModel> apiHospital = ViewBag.Hospitals;
    List<string> isJoinID = ViewBag.isJoinID;
    GetOfficeServiceData OfficeAppData = new GetOfficeServiceData();//官網API
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a>@ViewBag.ResLang["醫療體系"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療體系"]</h2>
                    <h3 class="fz-24 fwn">從事醫療事業，促進全民健康</h3>
                </div>
            </div>

            @Html.Partial("Menu")<!--共用選單-->




        </section>

        <section class="area__head layout__container-full tac">
            <div class="bgimage imgLiquidFill">
                <img src="~/images/05-system/page1/1.jpg" alt="">
            </div>
            <div class="wrap">
                <h4 class="fz-36 fwb">@ViewBag.ResLang["組織架構"]</h4>

                <div class="fz-20">@Html.Raw(ViewBag.Data.sub_title)</div>
                @Html.Raw(@Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content)))


            </div>
        </section>

        <section id="area__intro" class="area__intro layout__container-1400">
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["院區簡介"]</h3>
            <div class="btns fz-18 tac">
                <div data-slide="0" class="btn__rec-main active">@ViewBag.ResLang["院區"]</div>
                <div data-slide="1" class="btn__rec-main">@ViewBag.ResLang["附設機構"]</div>
            </div>

            <div class="slick-system-area">
                <div class="item">
                    <ul class="area__list ul-reset">

                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in hospitalsList.FindAll(m => m.category == "1").Where(m => !isJoinID.Contains(m.guid)).OrderBy(m => m.sortIndex).ToList())
                            {
                                dynamic data = null;

                                string infoUrl = Url.Content("~/" + ViewBag.Lang) + "/Systems/AreaInfo/" + item.guid;

                                if (item.website_type == "url")
                                {
                                    infoUrl = item.website;
                                }
                                if (!string.IsNullOrEmpty(item.join_guid))
                                {
                                    <li class="full">
                                        <div class="wrap">
                                            <h4 class="fz-26 fwb tac">
                                                @if (!string.IsNullOrEmpty(item.join_title))
                                                {@item.join_title }
                                            else
                                            { @item.title}
                                            </h4>
                                            <div class="block bdr">
                                                <a class="img" href="@infoUrl">
                                                    <div class="imgLiquidFill">
                                                        @if (item.pic.Contains("/Content"))
                                                        {
                                                            <img src="@Url.Content(item.pic)" alt="@item.title">
                                                        }
                                                        else if (item.pic.Contains("//Uploads"))
                                                        {
                                                            <img src="@Url.Content(item.pic.Replace("//Uploads" , "/Uploads"))" alt="@item.title">
                                                        }
                                                        else
                                                        {
                                                            <img src="@Url.Content("/"+item.pic)" alt="@item.title">
                                                        }


                                                    </div>
                                                </a>
                                                <div class="text">
                                                    <a href="@infoUrl"><h5 class="fz-20 fwn">@item.title</h5></a>
                                                    @if (item.view_type == "api")
                                                    {
                                                        try
                                                        {


                                                            //var temp = apiHospital.Find(m => m.Loc == item.hospitalID);
                                                            Dictionary<string, string> callApiData = new Dictionary<string, string>();
                                                            callApiData.Add("language", ViewBag.defApiLang);
                                                            callApiData.Add("hospitalID", item.hospitalID);
                                                            var temp = OfficeAppData.GetBranch(callApiData);

                                                            if (temp != null)
                                                            {
                                                                data = temp[0];
                                                            }
                                                        }
                                                        catch
                                                        {
                                                            data = item;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        data = item;
                                                    }

                                                    @if (data != null)
                                                    {
                                                        <ul class="ul-reset ul-circle">
                                                            @if (data.address != null && data.address != "")
                                                            {
                                                                <li><a href="javascript:;" target="_blank">@data.address</a></li>
                                                            }
                                                            @if (data.tel != null && data.tel != "")
                                                            {
                                                                <li><a href="tel:@data.tel">@data.tel</a></li>
                                                            }
                                                            @if (data.website != null && data.website != "")
                                                            {
                                                                <li><a href="@data.website" target="_blank">@ViewBag.ResLang["院區官網"]</a></li>
                                                            }

                                                        </ul>
                                                    }
                                                </div>
                                            </div>
                                            @{
                                                string JosinGuid = item.join_guid;
                                                hospitals JoinData = hospitalsList.Find(m => m.guid == JosinGuid);
                                            }
                                            @if (JoinData != null)
                                            {
                                                <div class="block">
                                                    <a class="img" href="@Url.Content("~/" + ViewBag.Lang + "/Systems/AreaInfo/" + JoinData.guid)">
                                                        <div class="imgLiquidFill">
                                                            <img src="~/@JoinData.pic" alt="@JoinData.title">



                                                        </div>
                                                    </a>
                                                    <div class="text">
                                                        <a href="@Url.Content("~/" + ViewBag.Lang + "/Systems/AreaInfo/" + JoinData.guid)"><h5 class="fz-20 fwn">@JoinData.title</h5></a>
                                                        @if (JoinData != null)
                                                        {
                                                            <ul class="ul-reset ul-circle">
                                                                @if (JoinData.address != null && JoinData.address != "")
                                                                {
                                                                    <li><a href="javascript:;" target="_blank">@JoinData.address</a></li>
                                                                }
                                                                @if (JoinData.tel != null && JoinData.tel != "")
                                                                {
                                                                    <li><a href="tel:@JoinData.tel">@JoinData.tel</a></li>
                                                                }
                                                                @if (JoinData.website != null && JoinData.website != "")
                                                                {
                                                                    <li><a href="@JoinData.website" target="_blank">@ViewBag.ResLang["院區官網"]</a></li>
                                                                }

                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <div class="wrap">
                                            <a class="img" href="@infoUrl">
                                                <div class="imgLiquidFill">
                                                    @if (item.pic.Contains("/Content"))
                                                    {
                                                        <img src="@Url.Content(item.pic)" alt="@item.title">
                                                    }
                                                    else if (item.pic.Contains("/Uploads"))
                                                    {
                                                        <img src="@Url.Content(item.pic.Replace("//Uploads" , "/Uploads"))" alt="@item.title">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("/"+item.pic)" alt="@item.title">
                                                    }
                                                </div>
                                            </a>

                                            <div class="text">
                                                <a href="@infoUrl"><h4 class="fz-26 fwb">@item.title</h4></a>


                                                @if (item.view_type == "api")
                                                {
                                                    try
                                                    {


                                                        //var temp = apiHospital.Find(m => m.Loc == item.hospitalID);
                                                        Dictionary<string, string> callApiData = new Dictionary<string, string>();
                                                        callApiData.Add("language", ViewBag.defApiLang);
                                                        callApiData.Add("hospitalID", item.hospitalID);
                                                        var temp = OfficeAppData.GetBranch(callApiData);

                                                        if (temp != null)
                                                        {
                                                            data = temp[0];
                                                        }
                                                    }
                                                    catch
                                                    {
                                                        data = item;
                                                    }
                                                }
                                                else
                                                {
                                                    data = item;
                                                }

                                                @if (data != null)
                                                {
                                                    <ul class="ul-reset ul-circle">
                                                        @if (data.address != null && data.address != "")
                                                        {
                                                            <li><a href="javascript:;" target="_blank">@data.address</a></li>
                                                        }
                                                        @if (data.tel != null && data.tel != "")
                                                        {
                                                            <li><a href="tel:@data.tel">@data.tel</a></li>
                                                        }
                                                        @if (data.website != null && data.website != "")
                                                        {
                                                            <li><a href="@data.website" target="_blank">@ViewBag.ResLang["院區官網"]</a></li>
                                                        }

                                                    </ul>
                                                }

                                            </div>

                                        </div>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>

                <!--機構-->
                <div class="item">
                    <ul class="area__list ul-reset">
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in hospitalsList.FindAll(m => m.category == "2").OrderBy(m => m.sortIndex).ToList())
                            {
                                dynamic data = null;

                                string infoUrl = Url.Content("~/" + ViewBag.Lang) + "/Systems/AreaInfo/" + item.guid;

                                if (item.website_type == "url")
                                {
                                    infoUrl = item.website;
                                }
                                <li>
                                    <div class="wrap">
                                        <a class="img" href="@infoUrl">
                                            <div class="imgLiquidFill">
                                                @if (item.pic.Contains("/Content"))
                                                {
                                                    <img src="@Url.Content(item.pic)" alt="@item.title">
                                                }
                                                else if (item.pic.Contains("/Uploads"))
                                                {
                                                    <img src="@Url.Content(item.pic.Replace("//Uploads" , "/Uploads"))" alt="@item.title">
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("/"+item.pic)" alt="@item.title">
                                                }
                                            </div>
                                        </a>

                                        <div class="text">
                                            <a href="@infoUrl"><h4 class="fz-26 fwb">@item.title</h4></a>



                                            @if (item.view_type == "api")
                                            {
                                                Dictionary<string, string> callApiData = new Dictionary<string, string>();
                                                callApiData.Add("language", ViewBag.defApiLang);
                                                callApiData.Add("hospitalID", item.hospitalID);
                                                var temp = OfficeAppData.GetBranch(callApiData);

                                                if (temp != null)
                                                {
                                                    data = temp[0];
                                                }
                                            }
                                            else
                                            {
                                                data = item;
                                            }


                                            @if (data != null)
                                            {
                                                <ul class="ul-reset ul-circle">
                                                    @if (data.address != null && data.address != "")
                                                    {
                                                        <li><a href="javascript:;" target="_blank">@data.address</a></li>
                                                    }
                                                    @if (data.tel != null && data.tel != "")
                                                    {
                                                        <li><a href="tel:@data.tel">@data.tel</a></li>
                                                    }
                                                    @if (data.website != null && data.website != "")
                                                    {
                                                        <li><a href="@data.website" target="_blank">@ViewBag.ResLang["院區官網"]</a></li>
                                                    }


                                                </ul>
                                            }



                                        </div>

                                    </div>
                                </li>


                            }
                        }
                    </ul>
                </div>
            </div>
        </section>

    </div>
</main>