﻿@using Web.ServiceModels;
@using Web.Service;
@{
    DeptDataModel Data = ViewBag.Data;

    //JEFF 2019/05/27
    List<DeptListModel> DeptList = ViewBag.Dept;
    DeptListModel Dept = new DeptListModel();
    string subOption = "";
    if (!string.IsNullOrEmpty(ViewBag.Guid))
    {
        Dept = DeptList.Where(m => m.deptId == ViewBag.Guid.ToString()).FirstOrDefault();
        if(Dept != null && Dept.subDept != null)
        {
            foreach (SubDeptModel item in Dept.subDept)
            {
                string selected = "";

                if (ViewBag.SubID == item.deptId)
                {
                    selected = " selected";
                }

                subOption += "<option @selected value=\"" + Url.Content("~/" + ViewBag.Lang) + "/Systems/BranchInfo/" + ViewBag.ThisHospitalIID + "/" + ViewBag.Guid + "/" + item.deptId + "\">" + item.deptName + "</option>";
            }
        }
    }


    List<DeptDataModel> topDep = ViewBag.TopDep;

    GetOfficeServiceData OfficeAppData = new GetOfficeServiceData();

}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["醫療體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/AreaInfo/@ViewBag.ThisHospitalGuid">@ViewBag.ThisHospital</a></li>
                    <li><a>@ViewBag.ResLang["科部介紹"]</a></li>
                </ul>
                <li><a>@Data.deptName</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療體系"]</h2>
                    <h3 class="fz-24 fwn">從事醫療事業，促進全民健康</h3>
                </div>
            </div>

            @Html.Partial("../Systems/Menu")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ThisHospital</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                @try
                {

                    <li class="fz-17">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">


                            @if (topDep != null && topDep.Count > 0)
                            {
                                string selected = "";

                                if (ViewBag.Guid == topDep[0].deptId && string.IsNullOrEmpty(ViewBag.SubID))
                                {
                                    selected = " selected";
                                }
                                <option @selected value="@Url.Content("~/" + ViewBag.Lang)/Systems/BranchInfo/@ViewBag.ThisHospitalIID/@ViewBag.Guid">@topDep[0].deptName</option>

                            }

                            @subOption




                        </select>
                    </li>

                }
                catch { }

                <li class="flex-end hide-tablet-under">
                    <a class="btn__back" href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@ViewBag.ThisHospitalIID">
                        <div class="svg">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                            <g id="reply">
                            <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" />

                                </g>
                              </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <section class="branch-info layout__container-1400">
            <h3 class="fz-36 tac">@Data.deptName</h3>
            <div class="layout__block-info">

                <div class="block">
                    <div class="block__title">
                        <h4 class="fz-32">@ViewBag.ResLang["科系簡介"]</h4>
                    </div>
                    <div class="block__text">
                        <div class="fz-18">@Html.Raw(Data.deptIntro)</div>
                    </div>
                </div>

                @if (Data.medicalTeam != null && Data.medicalTeam.Count > 0)
                {
                    <div class="block">
                        <div class="block__title">
                            <h4 class="fz-32">@ViewBag.ResLang["醫療團隊"]</h4>
                        </div>
                        <div class="block__text">
                            <div class="layout__tablewrap">
                                <table class="layout__table-main table-rwd fz-18">
                                    <tbody>
                                        <tr class="fz-17 hide-phone-under">
                                            <th width="18%">@ViewBag.ResLang["醫師姓名"]</th>
                                            <th width="18%">@ViewBag.ResLang["職位"]</th>
                                            <th width="50%">@ViewBag.ResLang["專長"]</th>
                                            <th width="14%">@ViewBag.ResLang["連結"]</th>
                                        </tr>
                                        @foreach (MedicalTeamModel item in Data.medicalTeam)
                                        {
                                            <tr>
                                                <td data-th="@ViewBag.ResLang["醫師姓名"]">
                                                    <div class="text">
                                                        @item.doctorName
                                                    </div>
                                                </td>
                                                <td data-th="@ViewBag.ResLang["職位"]">@item.jobTitle</td>
                                                <td data-th="@ViewBag.ResLang["專長"]">@item.specialty</td>
                                                <td><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DoctorInfo/@item.doctorId" class="btn__round-full-green">@ViewBag.ResLang["醫師資料"]</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }



                @if (Data.technicalTeam != null && Data.technicalTeam.Count > 0)
                {
                    <div class="block">
                        <div class="block__title">
                            <h4 class="fz-32">@ViewBag.ResLang["醫技團隊"]</h4>
                        </div>
                        <div class="block__text">
                            <div class="layout__tablewrap">
                                <table class="layout__table-main fz-18">
                                    <tbody>
                                        <tr class="fz-17">
                                            <th width="30%">@ViewBag.ResLang["醫師姓名"]</th>
                                            <th width="70%">@ViewBag.ResLang["職位"]</th>
                                        </tr>
                                        @foreach (TechnicalTeamModel item in Data.technicalTeam)
                                        {
                                            <tr>
                                                <td>@item.technicalName</td>
                                                <td>@item.jobTitle</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                }
                @if (Data.nursingTeam != null && Data.nursingTeam.Count > 0)
                {
                    <div class="block">
                        <div class="block__title">
                            <h4 class="fz-32">@ViewBag.ResLang["護理團隊"]</h4>
                        </div>
                        <div class="block__text">
                            <div class="layout__tablewrap">
                                <table class="layout__table-main fz-18">
                                    <tbody>
                                        <tr class="fz-17">
                                            <th width="30%">@ViewBag.ResLang["護理師姓名"]</th>
                                            <th width="70%">@ViewBag.ResLang["職位"]</th>
                                        </tr>

                                        @foreach (NursingTeamModel item in Data.nursingTeam)
                                        {
                                            <tr>
                                                <td>@item.nurseName</td>
                                                <td>@item.jobTitle</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                }
                @if (!string.IsNullOrEmpty(Data.services))
                {
                    <div class="block">
                        <div class="block__title">
                            <h4 class="fz-32">@ViewBag.ResLang["服務與特色"]</h4>
                        </div>
                        <div class="block__text">
                            <div class="fz-18">@Html.Raw(Data.services)</div>
                        </div>
                    </div>
                }

            </div>
        </section>
        <section class="layout__container-full por mt60">
            <div class="bgimage imgLiquidFill">
                <img src="~/images/05-system/page1/19.jpg" alt="">
            </div>
            <div class="area__contact layout__container-1400 tac">
                <h3 class="fz-32">@ViewBag.ResLang["聯絡資訊"]</h3>
                <div class="tels fz-24">
                    @if (Data.tel != "")
                    {
                        <div class="tel">TEL  <span>@Data.tel</span></div>
                    }
                    @if (Data.fax != "")
                    {
                        <div class="tel"> FAX  <span>@Data.fax</span></div>
                    }
                </div>
                <div class="locate fz-18">
                    @if (Data.eMail != "")
                    {
                        <div><i class="icon-mail-alt"></i>@ViewBag.ResLang["聯絡信箱"] : @Data.eMail</div>
                    }

                    @if (Data.location != "")
                    {
                        <div><i class="icon-location"></i>@ViewBag.ResLang["位置說明"] : @Data.location</div>
                    }
                </div>

                <div class="btnwrap" style="display:none;">
                    <a href="javascript:;" class="btn__round-full fwb fz-18">@ViewBag.ResLang["交通資訊"]</a>
                </div>

            </div>
        </section>
        @if (Data.links != null && Data.links.Count > 0)
        {
            <div class="branch-info-slide pd100">
                <div class="slider slick-four layout__container-1400">

                    @foreach (LinksModel item in Data.links)
                    {
                        <a href="@item.linkUrl" target="_blank"><h4>@item.linkName</h4></a>
                    }

                    <!--
                    <a href="javascript:;"><img src="~/images/05-system/page1/logo-1.jpg" alt=""></a>
                    <a href="javascript:;"><img src="~/images/05-system/page1/logo-2.jpg" alt=""></a>
                    <a href="javascript:;"><img src="~/images/05-system/page1/logo-3.jpg" alt=""></a>
                    <a href="javascript:;"><img src="~/images/05-system/page1/logo-4.jpg" alt=""></a>
                    <a href="javascript:;"><img src="~/images/05-system/page1/logo-3.jpg" alt=""></a>-->
                </div>
            </div>
        }
        <nav class="sidenav">
            <a class="js-btn-nav-arrow hide-tablet-portrait-up">
                <div class="arrow"><i class="icon-angle-right"></i></div>
            </a>
            <ul class="ul-reset fwb">
                <li>
                    <a href="@Html.Raw(Data.registerParam)" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 54 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M47.061,31.664l-10.498,0c-0.732,0 -1.331,-0.597 -1.331,-1.33c0,-0.732 0.599,-1.329 1.331,-1.329l10.498,0c0.733,0 1.33,0.597 1.33,1.329c0,0.733 -0.597,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,36.914c-0.732,0 -1.33,-0.598 -1.33,-1.33l0,-10.496c0,-0.735 0.598,-1.33 1.33,-1.33c0.732,0 1.33,0.595 1.33,1.33l0,10.496c0,0.732 -0.598,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,21.133c-5.075,0 -9.205,4.127 -9.205,9.201c0,5.075 4.13,9.203 9.205,9.203c5.075,0 9.203,-4.128 9.203,-9.203c0,-5.074 -4.128,-9.201 -9.203,-9.201m0,20.462c-6.208,0 -11.261,-5.053 -11.261,-11.261c0,-6.208 5.053,-11.256 11.261,-11.256c6.208,0 11.261,5.048 11.261,11.256c0,6.208 -5.053,11.261 -11.261,11.261" style="fill-rule:nonzero;" /><path d="M30.766,41.518l-24.593,0c-3.078,0 -5.58,-2.5 -5.58,-5.587l0,-25.574c0,-3.077 2.502,-5.584 5.58,-5.584l27.754,0c3.078,0 5.584,2.507 5.584,5.584l0,4.456c0,0.702 -0.564,1.266 -1.266,1.266c-0.704,0 -1.273,-0.564 -1.273,-1.266l0,-4.456c0,-1.678 -1.367,-3.045 -3.045,-3.045l-27.754,0c-1.681,0 -3.047,1.367 -3.047,3.045l0,25.574c0,1.685 1.366,3.045 3.047,3.045l24.593,0c0.695,0 1.273,0.567 1.273,1.269c0,0.702 -0.578,1.273 -1.273,1.273" style="fill-rule:nonzero;" /><path d="M12.192,11.45c-0.84,0 -1.52,-0.68 -1.52,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.52,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M29.032,11.45c-0.839,0 -1.519,-0.68 -1.519,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.519,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M38.244,16.107l-36.383,0c-0.539,0 -0.966,-0.427 -0.966,-0.965c0,-0.537 0.427,-0.966 0.966,-0.966l36.383,0c0.532,0 0.959,0.429 0.959,0.966c0,0.538 -0.427,0.965 -0.959,0.965" style="fill-rule:nonzero;" /><rect x="7.478" y="20.827" width="3.198" height="3.187" style="" /><rect x="14.513" y="20.897" width="3.2" height="3.189" style="" /><rect x="21.412" y="20.827" width="3.198" height="3.187" style="" /><rect x="7.297" y="28.402" width="3.204" height="3.189" style="" /><rect x="14.336" y="28.474" width="3.193" height="3.189" style="" /><rect x="21.229" y="28.402" width="3.2" height="3.189" style="" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["即時掛號"]</div>
                    </a>
                </li>
                @if (Data.website != null && Data.website != "")
                {
                    <li>
                        <a href="@Data.website" target="_blank">
                            <div class="svg">
                                <svg width="100%" height="100%" viewBox="0 0 511 511" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M511.864,221.487c-0.921,-11.988 -6.455,-22.896 -15.581,-30.716l-44.286,-37.96l0,-107.867c0,-8.284 -6.716,-14.999 -14.999,-14.999l-59.998,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,30.728l-75.911,-64.695c-16.97,-14.539 -41.603,-14.537 -58.519,-0.043l-212.043,179.835c-18.753,16.068 -21.186,44.423 -4.866,63.473c12.439,14.465 32.364,19.077 49.35,13.107l0,229.584c0,8.284 6.516,14.999 14.799,14.999l361.986,0c8.284,0 14.999,-6.716 14.999,-14.999l0,-229.581c17.534,6.2 37.039,1.004 49.167,-13.13c7.82,-9.128 11.621,-20.754 10.701,-32.735Zm-119.865,-161.544l30.199,0l0,67.154l-30.199,-25.713l0,-41.441Zm-74.797,421.991l-122.195,0l0,-120.196l122.195,0l0,120.196Zm104.996,0l-75.197,0l0,-134.995c0,-8.284 -6.716,-14.999 -14.999,-14.999l-151.995,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,134.995l-75.197,0l0,-236.159l166.943,-141.613l165.245,141.473l0,236.299l-0.001,0Zm56.191,-247.24c-5.318,6.198 -14.772,7.107 -21.158,1.631l-190.466,-163.264c-5.595,-4.797 -13.845,-4.817 -19.464,-0.05c-4.059,3.442 -191.721,162.632 -192.515,163.306c-6.282,5.375 -15.782,4.642 -21.161,-1.615c-5.385,-6.285 -4.657,-15.774 1.569,-21.11l212.044,-179.836c5.66,-4.848 13.874,-4.849 19.53,-0.002l209.994,179.795c6.278,5.38 7.005,14.87 1.627,21.145Z" style="fill-rule:nonzero;" /><path d="M302.002,179.938l-91.996,0c-8.284,0 -14.799,6.716 -14.799,14.999l0,89.996c0,8.284 6.516,14.999 14.799,14.999l91.996,0c8.284,0 14.999,-6.716 14.999,-14.999l0,-89.996c0.001,-8.284 -6.715,-14.999 -14.999,-14.999Zm-14.799,89.997l-62.198,0l0,-59.998l62.198,0l0,59.998Z" style="fill-rule:nonzero;" /><circle cx="271.999" cy="406.934" r="14.999" /></svg>
                            </div>
                            <div class="fz-16">@ViewBag.ResLang["專科官網"]</div>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</main>