﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{ 
    List<DeptListModel> deptListModels = ViewBag.Data;
    GetOfficeServiceData OfficeAppData = new GetOfficeServiceData();
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["醫療體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/AreaInfo/@ViewBag.ThisHospitalGuid">@ViewBag.ThisHospital</a></li>
                    <li><a>@ViewBag.ResLang["科部介紹"]</a></li>
                </ul>
            </div>
          
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療體系"]</h2>
                    <h3 class="fz-24 fwn">從事醫療事業，促進全民健康</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["科部介紹"]</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">

                    
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                            {
                                if (!string.IsNullOrEmpty(item.hospitalID))
                                {


                                    string selected = "";
                                    if (ViewBag.ID == item.hospitalID)
                                    {
                                        selected = " selected";
                                    }

                                    <option value="@Url.Content("~/" + ViewBag.Lang)/Systems/@Html.Raw("Branch/" + item.hospitalID)" @selected>
                                        @if (!string.IsNullOrEmpty(item.join_title))
                                        {@item.join_title }
                                    else
                                    { @item.title}
                                    </option>
                                }
                            }
                        }

                    </select>
                </li>
               
                <li class="flex-end hide-tablet-under">
                    <a class="btn__back" href="@Url.Content("~/" + ViewBag.Lang)/Systems/AreaInfo/@ViewBag.ThisHospitalGuid">
                        <div class="svg">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                            <g id="reply">
                            <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" />



            </g>
          </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <section class="layout__container-1400 pd__section-footer">
            <ul class="layout__list ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (DeptListModel item in deptListModels)
                    {
                        
                           
                            <li>
                                <h3 class="fwb fz-24">@item.deptName</h3>
                                <ul class="ul-reset innerlist fz-17">
                                    @if (item.hasWeb == "Y")
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/BranchInfo/@ViewBag.ThisHospitalIID/@item.deptId"><h4>@item.deptName</h4></a></li>
                                    }
                                    @if (item.subDept != null && item.subDept.Count > 0)
                                    {

                                        foreach (SubDeptModel subItem in (List<SubDeptModel>)item.subDept.FindAll(m => m.deptName.Contains(ViewBag.SearchKeyword)).ToList())
                                        {

                                            List<SubDeptModel> subData = (List<SubDeptModel>)item.subDept;

                                              Dictionary<string, string> callApiData = new Dictionary<string, string>();
                                                callApiData.Add("language",  ViewBag.defApiLang);            
                                                callApiData.Add("hospitalID", ViewBag.ThisHospitalIID);
                                                callApiData.Add("topDeptId", item.deptId); 
                                                callApiData.Add("deptId", subItem.deptId);                                             
             

                                            var Models = OfficeAppData.GetDept(callApiData);
                                            if (Models != null && Models.GetType().Name != "JObject")
                                            {

                                                if (subItem.subDept == null || subItem.subDept.Count == 0)
                                                {
                                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/BranchInfo/@ViewBag.ThisHospitalIID/@item.deptId/@subItem.deptId"><h4>@subItem.deptName</h4></a></li>
                                                }
                                                else
                                                {


                                            <li>
                                                <div class="innerlist__childlist">
                                                    @if (subItem.hasWeb == "Y")
                                                    {
                                                       <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/BranchInfo/@ViewBag.ThisHospitalIID/@item.deptId/@subItem.deptId"><h4>@subItem.deptName</h4></a>
                                                    }
                                                    else
                                                    {
                                                        <h4>@subItem.deptName</h4>
                                                    }

                                                    <ul class="ul-reset">
                                                        @foreach (SubDeptModel subItem2 in (List<SubDeptModel>)subItem.subDept.FindAll(m => m.deptName.Contains(ViewBag.SearchKeyword)).ToList())
                                                        {

                                                            <li>
                                                                <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/BranchInfo/@ViewBag.ThisHospitalIID/@item.deptId/@subItem.deptId/@subItem2.deptId">
                                                                    <h5>@subItem2.deptName</h5>
                                                                </a>
                                                            </li>

                                                        }

                                                    </ul>
                                                </div>
                                            </li>

                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </li>
                        
                    }
                }


            </ul>
        </section>
    </div>
</main>
