﻿@using Web.Models;
@{
    List<historys> historys = ViewBag.Data;
    List<historys_data> historys_Datas = ViewBag.SubData;
}
@section css {
    @Styles.Render("~/Styles/plugin/jquery.mCustomScrollbar.min.css")

}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                    <li><a>@ViewBag.ResLang["大事記"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page2/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["關於長庚"]</h2>
                    <h3 class="fz-24 fwn">取之社會，用之社會，人本濟世</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("AboutMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["大事記"]</h3>
        </section>

        <section class="about__history layout__container-full pd__section-footer">
                <ul class="layout__year-slide ul-reset slick-year">
                    @if (ViewBag.Data != null)
                    {
                        foreach (historys item in historys)
                        {
                            <li>
                                <div class="fz-36">@item.year</div>
                            </li>
                        }

                    }
                </ul>
                <div class="info-wrap">
                    <ul class="info ul-reset layout__container-1400 slick-year-for">


                        @if (ViewBag.Data != null)
                        {
                            foreach (historys item in historys)
                            {
                                List<string> pic = item.pic.Split(',').ToList();
                                List<string> picAlt = item.pic_alt.Split(',').ToList();

                                <li>
                                    <div class="block">
                                        @if (pic.Count > 0)
                                        {
                                            for (int i = 0; i < pic.Count; i++)
                                            {
                                                <div class="imgLiquidFill">
                                                    <img src="@Url.Content("~/" + pic[i])" alt="@if(picAlt != null && picAlt.Count < i) { @Html.Raw(picAlt[i].ToString())}">
                                                </div>
                                            }

                                        }
                                    </div>
                                    <div class="block block-text">
                                        <div class="fz-24 year">@item.year</div>
                                        <div class="scrollbox">
                                            <ul class="ul-reset fz-17">

                                                @if (historys_Datas != null && historys_Datas.Count > 0)
                                                {
                                                    foreach (historys_data SubItem in historys_Datas.FindAll(m => m.category == item.guid).ToList())
                                                    {
                                                        <li>
                                                            <span>@SubItem.day</span>
                                                            <span>@SubItem.title</span>
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>
                                                        <span></span>
                                                        <span></span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            }

                        }
                    </ul>
                </div>
            </section>
    </div>
</main>

@section scripts {
    <script>
        var winWidth = $(window).outerWidth();

        $(document).ready(function () {
            $('.scrollbox').mCustomScrollbar({
                theme: "my-theme",
            });
        });

        $(window).resize(function () {
            winWidth = $(window).outerWidth();
            if (winWidth > 768) {
                $('.scrollbox').mCustomScrollbar({
                    theme: "my-theme",
                });
            } else {
                $('.scrollbox').mCustomScrollbar("destroy");
            }
        })
    </script>

}