﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{
    index_info data = ViewBag.Data;
    List<GlobalArticleListModel> SE1 = ViewBag.SE1;
    List<GlobalArticleListModel> SE2 = ViewBag.SE2;
    List<string> reUrl = new List<string>();
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero layout__hero-index">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["長庚體系"]</a></li>
                </ul>
            </div>
            <div class="slider slick-default slick-hero">
                @if (ViewBag.SE1 != null && SE1.Count > 0)
                {
                    foreach (GlobalArticleListModel item in SE1)
                    {

                        <div class="imgLiquidFill hero__content">
                            <img src="@item.photoUrl" alt="@item.title">
                            <div class="layout__container-1400">
                                <div class="fz-64 fwb">@item.title</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/02-service/index/hero.jpg" alt="">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">中西醫整合、追求最優化<br>完整獨立、活潑的醫療空間</div>
                        </div>
                    </div>
                }
            </div>
            <div class="layout__nav-top layout__container-1400">
                <ul class="ul-reset fwb fz-17">
                    <li>
                        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 21 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><circle id="XMLID_235_" cx="10.158" cy="7.198" r="6.429" style="fill:#fff;" /><path id="XMLID_237_" d="M10.158,13.626c-5.523,0 -10,4.477 -10,10.001l20,0c0,-5.524 -4.477,-10.001 -10,-10.001Z" style="fill:#fff;fill-rule:nonzero;" /></g></svg>
                                </div>
                            </div>@ViewBag.ResLang["人員招募"]
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="index__head layout__page-title">
            <h3 class="fz-48 fwb">@data.subject</h3>
            <p class="fz-18">@Html.Raw(data.notes)</p>
            <div class="decline"></div>
        </section>

        @Html.Raw(FunctionService.FormatImagePath(data.content))
           @if (ViewBag.SE2 != null && SE2.Count > 0)
           {
               int s = 0;
        <section class="index__news layout__container-full">
            <div class="bgnews bgimage imgLiquidFill">
                <img src="~/images/05-system/1-2.jpg" alt="">
            </div>
            <div class="layout__container-1400 por">
                <h3 class="fz-32 fwb">@ViewBag.ResLang["聚焦點"]</h3>
                <a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A2" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                <div class="fz-18 slick-arrow-round slick-single">



                            @foreach (GlobalArticleListModel item in ViewBag.SE2)
                            {

                                    if (s % 3 == 0) { @Html.Raw("<div class=\"item\"><div class=\"wrap\">" + "\r\n") }

                                    reUrl = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/News/ArticleInfo/A2", SE2[s].Data, SE2[s]);

                                            <a href="@reUrl[0]" target="@reUrl[1]" class="block  @if (s % 3 == 0) { @Html.Raw("block-lg") } ">
                                                <div class="block__img @if (s % 3 == 0) { @Html.Raw("bgimage") } imgLiquidFill">
                                                    <img src="@item.photoUrl" alt="">
                                                </div>
                                                <div class="block__text">@item.title</div>
                                            </a>


                                      if (s % 3 == 2 || s == (SE2.Count - 1)) { @Html.Raw("</div></div>" + "\r\n") }

                                         s++;

                            }



                </div>
            </div>
        </section>
           }


        @Html.Raw(FunctionService.FormatImagePath(data.content2))

        @Html.Raw(FunctionService.FormatImagePath(data.content3))


    </div>
</main>