﻿<ul class="nav ul-reset fwb layout__container-1400">
    <li @if (ViewBag.ActionDefult == "Area") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">
            <div class="fz-24">@ViewBag.ResLang["醫療體系"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M376,33c-60.659,0 -99.595,42.012 -120,79.849c-20.405,-37.838 -59.341,-79.849 -120,-79.849c-76.963,0 -136,62.446 -136,145.268c0,21.61 4.327,41.561 12.294,60.732l114.434,0l25.854,-51.709c5.098,-10.166 21.738,-10.166 26.836,0l46.582,93.165l16.582,-33.164c5.098,-10.166 21.738,-10.166 26.836,0l16.582,33.164l46.582,-93.164c5.098,-10.166 21.738,-10.166 26.836,0l25.854,51.708l114.434,0c7.967,-19.171 12.294,-39.122 12.294,-60.732c0,-82.822 -59.037,-145.268 -136,-145.268Z" style="fill-rule:nonzero;" /><path d="M376,269c-5.684,0 -10.869,-3.208 -13.418,-8.291l-16.582,-33.164l-46.582,93.164c-2.549,5.083 -7.734,8.291 -13.418,8.291c-5.684,0 -10.869,-3.208 -13.418,-8.291l-16.582,-33.164l-16.582,33.164c-5.098,10.166 -21.738,10.166 -26.836,0l-46.582,-93.164l-16.582,33.164c-2.549,5.083 -7.734,8.291 -13.418,8.291l-107.963,0c30.873,48.574 86.474,94.713 156.024,153.413c19.526,16.479 40.298,34.014 62.109,52.925c2.827,2.446 6.328,3.662 9.829,3.662c3.501,0 7.002,-1.216 9.829,-3.662c21.812,-18.911 42.583,-36.445 62.109,-52.925c69.551,-58.7 125.151,-104.839 156.024,-153.413l-107.961,0Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.ActionDefult == "About") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">
            <div class="fz-24">@ViewBag.ResLang["關於長庚"]</div>
            <div class="svg svg-system-about">
                <svg width="100%" height="100%" viewBox="0 0 53 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M38.351,26.882c-2.733,3.625 -7.095,6.043 -11.929,6.043c-4.835,0 -9.197,-2.418 -11.93,-6.043c-3.206,-4.309 -8.304,-7.096 -14.031,-7.096l-0.263,0l0,2.628l0.21,0c4.94,0 9.354,2.418 12.034,6.097c3.206,4.256 8.303,6.989 13.98,6.989c5.675,0 10.773,-2.733 13.978,-6.989c2.733,-3.679 7.095,-6.097 12.035,-6.097l0.21,0l0,-2.628l-0.21,0c-5.781,0 -10.878,2.787 -14.084,7.096" style="fill-rule:nonzero;" /><path d="M35.145,16.266l0,3.521l-6.989,0l0,6.99l-1.735,0l-1.734,0l0,-5.255l0,-1.735l-1.734,0l-5.256,0l0,-3.521l6.99,0l0,-1.734l0,-5.255l3.469,0l0,6.989l6.989,0Zm-8.724,-10.51l-5.255,0l0,6.989l-6.989,0l0,10.51l6.989,0l0,7.042l10.458,0l0,-7.042l7.042,0l0,-10.51l-7.042,0l0,-6.989l-5.203,0Z" style="fill-rule:nonzero;" /><path d="M40.4,7.543c-3.206,-4.257 -8.303,-7.043 -13.979,-7.043c-5.676,0 -10.773,2.786 -13.979,6.99c-2.679,3.731 -7.094,6.148 -12.034,6.148l-0.211,0l0,2.628l0.263,0c5.729,0 10.827,-2.785 14.032,-7.094c2.733,-3.679 7.094,-6.044 11.929,-6.044c4.835,0 9.197,2.365 11.93,6.044c3.205,4.309 8.303,7.094 14.083,7.094l0.211,0l0,-2.628l-0.211,0c-4.939,0 -9.301,-2.417 -12.034,-6.095" style="fill-rule:nonzero;" /></g></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.ActionDefult == "Overview") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">
            <div class="fz-24">@ViewBag.ResLang["醫院訊息"]</div>
            <div class="svg">
                <svg width="90%" height="90%" viewBox="0 0 384 384" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M368,64l-64,0l0,-48c0,-8.832 -7.168,-16 -16,-16l-272,0c-8.832,0 -16,7.168 -16,16l0,352c0,8.832 7.168,16 16,16l32,0c8.832,0 16,-7.168 16,-16c0,-8.832 -7.168,-16 -16,-16l-16,0l0,-320l240,0l0,296c0,8.594 2.008,16.711 5.48,24l-165.48,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16l216,0c30.879,0 56,-25.129 56,-56l0,-248c0,-8.832 -7.168,-16 -16,-16Zm-16,264c0,13.23 -10.77,24 -24,24c-13.23,0 -24,-10.77 -24,-24l0,-232l48,0l0,232Z" style="fill-rule:nonzero;" /><path d="M80,160l64,0c8.832,0 16,-7.168 16,-16l0,-64c0,-8.832 -7.168,-16 -16,-16l-64,0c-8.832,0 -16,7.168 -16,16l0,64c0,8.832 7.168,16 16,16Zm16,-64l32,0l0,32l-32,0l0,-32Z" style="fill-rule:nonzero;" /><path d="M80,216l64,0c8.832,0 16,-7.168 16,-16c0,-8.832 -7.168,-16 -16,-16l-64,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16Z" style="fill-rule:nonzero;" /><path d="M208,216c8.832,0 16,-7.168 16,-16c0,-8.832 -7.168,-16 -16,-16l-16,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16l16,0Z" style="fill-rule:nonzero;" /><path d="M80,264l128,0c8.832,0 16,-7.168 16,-16c0,-8.832 -7.168,-16 -16,-16l-128,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16Z" style="fill-rule:nonzero;" /><path d="M224,296c0,-8.832 -7.168,-16 -16,-16l-128,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16l128,0c8.832,0 16,-7.168 16,-16Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.ActionDefult == "Recruit") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit">
            <div class="fz-24">@ViewBag.ResLang["人員招募"]</div>
            <div class="svg svg-adjust">
                <svg width="100%" height="100%" viewBox="0 0 360 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g id="XMLID_232_"><circle id="XMLID_235_" cx="179.992" cy="130.916" r="49.089" /><path id="XMLID_237_" d="M179.993,180.007c-42.171,0 -76.36,34.184 -76.36,76.36l152.72,0c0,-42.176 -34.189,-76.361 -76.36,-76.361Z" style="fill-rule:nonzero;" /><path id="XMLID_239_" d="M295.125,318.251l23.138,-23.144c26.036,-31.224 41.724,-71.363 41.724,-115.101c0,-99.248 -80.745,-179.993 -179.993,-179.993c-99.249,0 -179.994,80.744 -179.994,179.993c0,99.25 80.745,179.994 179.994,179.994c43.751,0 83.903,-15.699 115.131,-41.749Zm-262.399,-138.244c0,-81.204 66.064,-147.268 147.267,-147.268c81.204,0 147.268,66.064 147.268,147.268c0,81.203 -66.064,147.267 -147.267,147.267c-81.204,0 -147.268,-66.064 -147.268,-147.267Z" style="fill-rule:nonzero;" /></g></svg>
            </div>
        </a>
    </li>
</ul>