﻿@using Web.Models;
@using Web.Service;
@{ 
    List<about_overview_data> subData = ViewBag.subData;
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                    <li><a>@ViewBag.ResLang["服務概況"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page2/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["關於長庚"]</h2>
                    <h3 class="fz-24 fwn">取之社會，用之社會，人本濟世</h3>
                </div>
            </div>

            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("AboutMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["服務概況"]</h3>
        </section>
        <section class="about__service layout__container-1400 pd__section-footer">
            <div class="block">
                <div class="wrap">
                    <canvas id="chart1"></canvas>
                </div>
            </div>
            <div class="block">
                <div class="wrap">
                    <canvas id="chart2"></canvas>
                </div>
            </div>
            <div class="block">
                <div class="wrap">
                    <canvas id="chart3"></canvas>
                </div>
            </div>
            <div class="block">
                <div class="wrap">
                    <canvas id="chart4"></canvas>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts {

    @Scripts.Render("~/Scripts/js/plugin/Chart.min.js")


<script>
        var winWidth = $(window).outerWidth();
        function creatOption(title) {
            if (winWidth > 600) {
                return {
                    // responsive: true,
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                            fill: false,
                            borderWidth: 2,
                        },
                        point: {
                            borderWidth: 10,
                        }
                    },
                    title: {
                        display: true,
                        text: '' + title,
                        fontSize: 24,
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontSize: 18,
                            boxWidth: 15,
                        },
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 18,
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '(@ViewBag.ResLang["萬人次"])',
                                fontSize: 18,
                            },
                            ticks: {
                                fontSize: 18,
                                beginAtZero: false,
                            }
                        }]
                    },
                    maintainAspectRatio: false
                }
            } else {
                return {
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                            fill: false,
                            borderWidth: 2,
                        },
                        point: {
                            borderWidth: 5,
                        }
                    },
                    title: {
                        display: true,
                        text: '' + title,
                        fontSize: 18,
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontSize: 14,
                            boxWidth: 10,
                        },
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 14,
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '(@ViewBag.ResLang["萬人次"])',
                                fontSize: 14,
                            },
                            ticks: {
                                fontSize: 14
                            }
                        }]
                    },
                    maintainAspectRatio: false
                }
            }
        }
        var plugin = [{
            // fon size rwd
            beforeDraw: function (c) {
                var chartHeight = c.chart.width;
                // c.options.title.fontSize = chartHeight * 4.3 / 100;
                // c.scales['y-axis-0'].options.scaleLabel.fontSize = chartHeight * 4 / 100;
            }
        }];

            @if(ViewBag.ReportData != null)
            {

                foreach (KeyValuePair<int, string> item in ViewBag.ReportData)
                {
                    @Html.Raw(item.Value);
                  
                }

            }


        /*
        var isc1Load = false,
            isc2Load = false,
            isc3Load = false,
            isc4Load = false;
            */
    
            @if(ViewBag.Data != null)
            {
                int i = 1;
                foreach(about_overview item in ViewBag.Data)
                {
                    @Html.Raw("var isc"+i+"Load = false;");
                    i++;
                }

            }
        // Draw chart when in view
        function isScrolledIntoView(elem) {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();

            var elemTop = $(elem).offset().top;
            var elemBottom = elemTop + $(elem).height();

            return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
        }
        $(window).scroll(function () {

            @if(ViewBag.Data != null)
            {
                int i = 1;
                foreach(about_overview item in ViewBag.Data)
                {
                    string js = "if (isScrolledIntoView($('#chart"+i+"'))) {  if (!isc"+i+"Load) { var c"+i+" = new Chart($('#chart"+i+"'), {  type: 'line', data: data"+i+", options: creatOption('"+ item.title + "'),   plugins: plugin});isc"+i+"Load = true;}}" + "\r\n";
                        @Html.Raw(js);
                    i++;
                }

            }


        });
</script>

}