﻿@using Web.Models;
@using Web.ServiceModels;
@{
    recruits data = ViewBag.TopData;
    BulletinModel info = ViewBag.Data;
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a>@ViewBag.ResLang["人員招募"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitInfo/@ViewBag.ID">@Html.Raw(data.title + ViewBag.ResLang["人員招募"])</a></li>

                    <!--<li><a>@info.bulletinTitle</a></li>-->
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/recruit/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["人員招募"]</h2>
                    <h3 class="fz-24 fwn">掌握自己、邁向卓越、共創未來</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="layout__newsinfo layout__container-1400 pd__nav-first">
            <div class="head top">
                <h3 class="fz-30 fwb">@info.bulletinTitle</h3>
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <div class="tag fz-18 bg-grey">
                    <span>@info.startDate</span><span>@info.dept</span>
                </div>
                <article class="fz-17">
                    @Html.Raw(info.description)
                </article>

            </div>
            @if (info.attached != null && info.attached.Count > 0)
            {   
                    <h3>附件</h3>
                        foreach (AttachedModel item in info.attached)
                        {
                            <div>@Html.Raw(item.attachedSq + ". " + item.attachedName)　<a href="@item.attachedUrl"  style="text-decoration:underline; color:#0094ff" target="_blank" >附件</a></div>
                        }
                 
         
            }
            <div class="head">
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="btns fz-17">
                @if (ViewBag.prevID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitContent/@ViewBag.ID/@ViewBag.prevID" class="btn"><i class="icon-angle-left"></i>@ViewBag.ResLang["上一則"]</a>
                }
                <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitInfo/@ViewBag.ID" class="btn red">@ViewBag.ResLang["回列表"]</a>
                @if (ViewBag.nextID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitContent/@ViewBag.ID/@ViewBag.nextID" class="btn">@ViewBag.ResLang["下一則"]<i class="icon-angle-right"></i></a>
                }
            </div>
        </section>

    </div>
</main>