﻿@using Web.Models;
@using Web.ServiceModels;
@{ 
    recruits data = ViewBag.Data;   
}

<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit">@ViewBag.ResLang["人員招募"]</a></li>
                    <li><a>@Html.Raw(data.title + ViewBag.ResLang["人員招募"])</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/recruit/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["人員招募"]</h2>
                    <h3 class="fz-24 fwn">掌握自己、邁向卓越、共創未來</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@Html.Raw(data.title + ViewBag.ResLang["人員招募"])</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        @if (ViewBag.Recruit != null)
                        {
                            int i = 1;
                            foreach (recruits item in ViewBag.Recruit)
                            {
                                string selected = "";

                                if (ViewBag.ID == item.guid)
                                {
                                    selected = " selected";
                                }

                                <option @selected value="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitInfo/@item.guid">@item.title@ViewBag.ResLang["人員"]</option>
                            }
                        }

                    </select>
                </li>
            </ul>
        </div>
        <section class="recruit layout__container-full">
            <div class="layout__page-title">
                <h3 class="fz-36">@ViewBag.ResLang["招聘作業說明"]</h3>
                <div class="fz-20"></div>
                <p class="fz-20">@Html.Raw(data.top_notes)</p>
            </div>
            <div class="layout__textimg mb50">
                <div class="col">
                    <div class="col__img imgLiquidFill">
                        <img src="@Url.Content("~/"+data.pic)" alt="@data.pic_alt">
                    </div>
                    <div class="col__text">
                        <h4 class="fz-24 fwb">@ViewBag.ResLang["招募介紹"]</h4>
                        @Html.Raw(data.content)

                        <div class="btns tac-tablet-por">

                             @Html.Raw(data.link_list)
                        <!--
                            @if (!string.IsNullOrEmpty(data.resume_url))
                            {
                                <a href="@data.resume_url" target="_blank" class="btn__round-transparent fz-17 fwb">@ViewBag.ResLang["履歷登錄"]</a>
                            }
                            @if (!string.IsNullOrEmpty(data.admittance_url))
                            {
                                <a href="@data.resume_url" target="_blank" class="btn__round-transparent fz-17 fwb">@ViewBag.ResLang["錄取人員資料登錄"]</a>
                            }-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-grey pd100" id="list">
                <div class="layout__list-news layout__container-1400">
                    <h3 class="fz-36 tac mb50">@ViewBag.ResLang["職缺公告"]</h3>
                    <div class="searchbox tac">
                        <form action="" name="recruitForm" id="recruitForm" method="get">
                            <div class="title fz-20 fwb">@ViewBag.ResLang["搜尋職缺"]</div>
                            <ul class="ul-reset">
                                <li>
                                    <select name="orgnid" id="orgnid">
                                        <option value="Z" disabled selected>@ViewBag.ResLang["機構"]</option>
                                        <option value="Z">@ViewBag.ResLang["全部"]</option>
                                        <option value="G" @if (ViewData["orgnid"].ToString() == "G") { @Html.Raw("selected") }>@ViewBag.ResLang["長庚醫院"]</option>
                                        <option value="O" @if (ViewData["orgnid"].ToString() == "O") { @Html.Raw("selected") }>@ViewBag.ResLang["其他機構"]</option>
                                    </select>
                                </li>
                                <li>
                                    <select name="hospitalID" id="hospitalID">
                                        <option value="Z" disabled selected>@ViewBag.ResLang["院區"]</option>
                                        <option value="Z">@ViewBag.ResLang["全部"]</option>
                                        @if (ViewBag.Hospitals != null)
                                        {
                                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                                            {
                                                if (!string.IsNullOrEmpty(item.hospitalID))
                                                {
                                                
                                                    string selected = "";
                                                    if (ViewData["hospitalID"].ToString() == item.hospitalID)
                                                    {
                                                        selected = " selected";
                                                    }

                                                    <option @selected value="@item.hospitalID">
                                                        @if (!string.IsNullOrEmpty(item.join_title))
                                                        {@item.join_title }
                                                        else
                                                        { @item.title}
                                                    </option>
                                                }
                                            }
                                        }
                                    </select>
                                </li>
                                <li>
                                    <select name="bulletinType" id="bulletinType">
                                        <option value="Z" disabled selected>@ViewBag.ResLang["招募進度"]</option>
                                        <option value="Z">@ViewBag.ResLang["全部"]</option>
                                        <option value="A" @if (ViewData["bulletinType"].ToString() == "A") { @Html.Raw("selected") }>@ViewBag.ResLang["職缺公告"]</option>
                                        <option value="B" @if (ViewData["bulletinType"].ToString() == "B") { @Html.Raw("selected") }>@ViewBag.ResLang["筆試公告"]</option>
                                        <option value="C" @if (ViewData["bulletinType"].ToString() == "C") { @Html.Raw("selected") }>@ViewBag.ResLang["甄試結果公告"]</option>
                                    </select>
                                </li>
                                <li>
                                    <select name="category" id="category">
                                        <option value="Z" disabled selected>@ViewBag.ResLang["職類"]</option>
                                        <option value="Z">@ViewBag.ResLang["全部"]</option>
                                        @if (ViewBag.Recruit != null)
                                        {
                                            foreach (recruits item in ViewBag.Recruit)
                                            {

                                                string selected = "";
                                                if (ViewData["category"].ToString() == item.category)
                                                {
                                                    selected = " selected";
                                                }

                                                <option @selected value="@item.category">@item.title</option>
                                            }
                                        }
                                    </select>
                                </li>
                                <li class="lg">
                                    <input type="text" name="keyword" placeholder="@ViewBag.ResLang["關鍵字"]" value="@ViewBag.SearchKeyword">
                                </li>
                                <li>
                                    <button class="btn__rec-main-full" type="submit">@ViewBag.ResLang["查詢"]</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <ul class="ul-reset">
                        @if (ViewBag.RecruitList != null)
                        {
                            int i = 1;
                            foreach (RecruitmentListModel item in ViewBag.RecruitList)
                            {
                                <li>
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitContent/@ViewBag.ID/@item.bulletinId">
                                        <div class="fz-18 block">
                                            <span>@item.startDate</span>
                                        </div>
                                        <div class="fz-20 block">@item.bulletinTitle</div>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <ul class="layout__pagination ul-reset">
                    @Html.Raw(ViewBag.pageView)
                </ul>
            </div>
        </section>
        @if (ViewBag.RecruitHospitalData != null)
        {
            <section class="recruit layout__container-1400 pd100">
                <h3 class="fz-36 tac">@Html.Raw(ViewBag.ResLang["院區"]  + ViewBag.ResLang["資訊"])</h3>
                <div class="layout__grid-circleblock">


                    @{ 
                        int i = 1;
                    }
                  
                    @foreach (recruits_hospitals item in ViewBag.RecruitHospitalData)
                    {
                    <div class="child">
                        <div class="wrap">
                            <div class="imgLiquidFill"><img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt"></div>
                            <div class="text">
                                <h4 class="fz-26 tac-tablet-por">@item.title</h4>
                                <ul class="fz-17 ul-reset ul-circle">
                                    <li>@ViewBag.ResLang["聯絡人"]：@item.name </li>
                                    <li>@ViewBag.ResLang["電話"]：@item.tel</li>
                                    <li>e-mail：@item.email</li>
                                    <li>@ViewBag.ResLang["地址"]：@item.address</li>
                                </ul>
                                <div class="btns tac-tablet-por">
                                     @if (!string.IsNullOrEmpty(item.sp_url))
                                     {
                                             <a href="@Url.Content("~/"+item.sp_url)" target="_blank" class="btn__round-transparent">@ViewBag.ResLang["院區特色"]</a>
                                     }
                                    @if (!string.IsNullOrEmpty(item.job_url))
                                    {
                                        <a href="@item.job_url" class="btn__round-transparent" target="_blank">@ViewBag.ResLang["缺額單位"]</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    


                </div>
            </section>
        }


          @if (ViewBag.RecruitData != null)
          {
            <section class="recruit layout__container-full bg-grey pd100">
                <div class="layout__container-1400">
                    <h3 class="fz-36 tac">@ViewBag.ResLang["薪資與福利"]</h3>
                    <div class="btns fz-18 fwb tac slick-block-remote mb50">
                      
                            @{int i = 0;}
                            @foreach (recruits_data item in ViewBag.RecruitData)
                            {
                                <h4 data-slide="@i" class="btn__rec @if (i == 0)
                                { @Html.Raw("active") }">@item.title</h4>

                                i++;
                            }

                        

                    </div>
                    <div class="slick-block-switch">
                       
                            
                            @{i = 0;}
                            @foreach (recruits_data item in ViewBag.RecruitData)
                            {
                                <div class="item">
                                    <div class="fz-24 fwb">@item.title</div>
                                    <ul class="fz-17 ul-reset ul-circle ul-circle-color">
                                        @Html.Raw(item.content)
                                    </ul>
                                </div>
                            }
                        
                    </div>
                </div>
            </section>
          }


        </div>
</main>
