﻿@using Web.Models;
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a>@ViewBag.ResLang["人員招募"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/recruit/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["人員招募"]</h2>
                    <h3 class="fz-24 fwn">掌握自己、邁向卓越、共創未來</h3>
                </div>
            </div>


            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="recruit mt140 layout__container-full ">
            <h3 class="fz-36 tac mb100">@ViewBag.ResLang["職缺類別"]</h3>
            <div class="layout__textimg">
                @if (ViewBag.Recruit != null)
                {
                    int i = 1;
                    foreach (recruits item in ViewBag.Recruit)
                    {
                        <div id="@i" class="col">
                            <div class="col__img imgLiquidFill">
                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt">
                            </div>
                            <div class="col__text">
                                <h4 class="fz-24 fwb">@Html.Raw(item.title)@ViewBag.ResLang["人員招募"]</h4>
                                <p class="fz-17">@Html.Raw(item.notes)</p>
                                <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/RecruitInfo/@item.guid" class="btn__round-transparent fz-17 fwb">@ViewBag.ResLang["了解更多"]</a>
                            </div>
                        </div>
                        i++;
                    }
                }

            </div>
        </section>
    </div>
</main>