﻿@using Web.ServiceModels;
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a>@ViewBag.ResLang["會議與活動"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/03-research/activity/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["會議與活動"]</h2>
                    <h3 class="fz-24 fwn">止於至善，追求卓越，要做就做最好的</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            <ul class="ul-reset fz-20">
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["研討會資訊"]</a></li>
                <li><a class="active" href="@Url.Content("~/" + ViewBag.Lang)/Research/AcademicEventsList">@ViewBag.ResLang["學術活動資訊"]</a></li>
            </ul>
        </section>
        <section class="layout__list-news layout__container-1400 por">
            <h3 class="fz-36 fwb tac">@ViewBag.PathTitle</h3>
            <div class="search-box">
                <input type="text" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                <a href="research-activity.php"><i class="icon-search"></i></a>
            </div>
            <ul class="ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (AcademicEventsListModel item in ViewBag.Data)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Research/AcademicEvents/@item.bulletinId">
                                <div class="fz-18 block">
                                    <span class="tag fwb tac">@item.hospitalName</span>
                                    <span>@item.startDate</span>
                                </div>
                                <div class="fz-20 block">@item.bulletinTitle</div>
                            </a>
                        </li>
                    }

                }

            </ul>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset">
                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>