﻿@using Web.ServiceModels;
@{
    SeminarModel data = ViewBag.Data;
}
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["會議與活動"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/03-research/activity/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["研討會資訊"]</h2>
                    <h3 class="fz-24 fwn">止於至善，追求卓越，要做就做最好的</h3>
                </div>
            </div>

            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="layout__newsinfo layout__container-1400">
            <div class="head-tag btn__rec-main-full fz-18 fwb">@ViewBag.ResLang["研討會資訊"]</div>
            <div class="head top">
                @if (ViewBag.Lang == "tw")
                {
                    <h3 class="fz-30 fwb">@data.TITLE</h3>
                }
                else
                {
                    <h3 class="fz-30 fwb">@data.TITLE_EN</h3>
                }




                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <div class="tag fz-18 bg-grey">
                    <span>@data.ADDTIME</span><span>@data.TYPENAME</span>
                </div>
                <article class="fz-17">

                    @if (ViewBag.Lang == "tw")
                    {
                        <p>@Html.Raw(data.INFO)</p>
                    }
                    else
                    {
                        <p>@Html.Raw(data.INFO_EN)</p>
                    }
                </article>
                <!--
                <a class="btn__round-full fz18" href="javascript:;">詳細研討會資訊</a>
                    -->

            </div>
            <div class="head">
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="btns fz-17">
                <!--<a href="" class="btn"><i class="icon-angle-left"></i>上一則</a>-->
                <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity" class="btn red">@ViewBag.ResLang["回列表"]</a>
                <!-- <a href="" class="btn">下一則<i class="icon-angle-right"></i></a>-->
            </div>
        </section>
    </div>
</main>
