﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{
    List<GlobalArticleListModel> SC1 = ViewBag.SC1;
}
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__container-1400 layout__breadcrumb fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a>@ViewBag.ResLang["新聞與觀點"]</a></li>
                </ul>
            </div>
            @if (ViewBag.SC1 != null && SC1.Count > 0)
            {
                foreach (GlobalArticleListModel item in ViewBag.SC1)
                {
                    <div class="imgLiquidFill hero__content">
                        <img src="@item.photoUrl" alt="@item.title">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">@item.title</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="imgLiquidFill hero__content">
                    <img src="~/images/03-research/index/hero.jpg" alt="">
                    <div class="layout__container-1400">
                        <div class="fz-64 fwb">唯有研究才可降低不確定性<br>增加可能性</div>
                    </div>
                </div>
            }
            @Html.Partial("Menu")<!--共用選單-->
        </section>

        <section class="layout__grid-news">
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["新聞與觀點"]</h3>
                <div class="search-box">
                    <input type="text" name="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]" value="@ViewBag.SearchKeyword">
                    <a href="javascript:;"><i class="icon-search"></i></a>
                </div>
            </div>
            <ul class="list ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (GlobalArticleListModel item in ViewBag.Data)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Research/ArticleInfo/@ViewBag.ID/@item.articleId" class="wrap">
                                <div class="img"><div class="imgLiquidFill"><img src="@item.photoUrl" alt="@item.title"></div></div>
                                <div class="fz-20">@item.title</div>
                            </a>
                        </li>
                    }
                }


            </ul>
            <div class="layout__container-full bg-grey">
                <ul class="layout__pagination ul-reset  ">
                    @Html.Raw(ViewBag.pageView)
                </ul>
            </div>
        </section>
    </div>
</main>