﻿@using Web.ServiceModels;
@{
    List<DrugPaperListModel> DrugPaperList = ViewBag.Data;

}
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a>@ViewBag.ResLang["長庚藥學學報"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/03-research/education/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫學教育"]</h2>
                    <h3 class="fz-24 fwn">止於至善，追求卓越，要做就做最好的</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
            <div class="layout__container-1400 layout__nav-top">
                <ul class="ul-reset fwb fz-17">
                    <li>
                        <a href="https://www1.cgmh.org.tw/intr/intr2/c3s000/research/" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 495 495" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M487.083,225.514l-75.08,-75.08l0,-86.73c0,-15.682 -12.708,-28.391 -28.413,-28.391c-15.669,0 -28.377,12.709 -28.377,28.391l0,29.941l-55.903,-55.905c-27.639,-27.624 -75.694,-27.575 -103.27,0.05l-187.728,187.724c-11.082,11.104 -11.082,29.071 0,40.158c11.087,11.101 29.089,11.101 40.172,0l187.71,-187.729c6.115,-6.083 16.893,-6.083 22.976,-0.018l187.742,187.747c5.567,5.551 12.825,8.312 20.081,8.312c7.271,0 14.541,-2.764 20.091,-8.312c11.086,-11.086 11.086,-29.053 -0.001,-40.158Z" style="fill:#fff;fill-rule:nonzero;" /><path d="M257.561,131.836c-5.454,-5.451 -14.285,-5.451 -19.723,0l-165.126,165.077c-2.607,2.606 -4.085,6.164 -4.085,9.877l0,120.401c0,28.253 22.908,51.16 51.16,51.16l81.754,0l0,-126.61l92.299,0l0,126.61l81.755,0c28.251,0 51.159,-22.907 51.159,-51.159l0,-120.402c0,-3.713 -1.465,-7.271 -4.085,-9.877l-165.108,-165.077Z" style="fill:#fff;fill-rule:nonzero;" /></g></svg>
                                </div>
                            </div>@ViewBag.ResLang["長庚研究官網"]
                        </a>
                    </li>
                    <li>
                        <a href="https://www1.cgmh.org.tw/intr/intr1/c0040/" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><circle cx="26.677" cy="4.383" r="4.383" style="fill:#fff;" /><path d="M40.201,28.096c-1.236,-13.887 -7.854,-16.657 -7.854,-16.657c0,0 -6.396,-3.845 -13.129,1.052c-4.365,3.973 -5.373,10.038 -6.063,15.896c-0.349,2.977 4.307,2.941 4.653,0c0.412,-3.496 1,-7.008 2.735,-9.999l-0.008,3.375l-0.032,16.219l0,12.867c0,1.383 1.014,2.506 2.438,2.506c1.423,0 2.578,-1.123 2.578,-2.506l0,-18.392l2.278,0c0,4.309 0,14.144 0,18.451c0,3 4.652,3 4.652,0c0,-4.309 0,-8.619 0,-12.927l0.197,-16.251c0.002,-1.551 0.004,-2.937 0.004,-3.901c1.859,3.046 2.473,6.664 2.896,10.265c0.349,2.943 5.004,2.979 4.655,0.002Z" style="fill:#fff;fill-rule:nonzero;" /></g></svg>
                                </div>
                            </div>@ViewBag.ResLang["人體試驗倫理委員會"]
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="about__history layout__container-full pd__section-footer">
            <h3 class="fz-36 pd__nav-title  fwb tac">@ViewBag.PathTitle</h3>
            @if (ViewBag.YearLen != 0)
            {


                <ul class="layout__year-slide ul-reset slick-year">
                    @for (int i = ViewBag.FirstYear; i <= ViewBag.LastYear; i++)
                    {
                        <li>
                            <div class="fz-36">@(i)</div>
                        </li>
                    }

                </ul>
                <div class="info-wrap">
                    <ul class="info layout__list ul-reset layout__container-1400 slick-year-for">
                        @for (int i = ViewBag.FirstYear; i <= ViewBag.LastYear; i++)
                        {

                            List<DrugPaperListModel> SubDrugList = DrugPaperList.FindAll(m => m.volume.Contains(i.ToString())).ToList();


                            if (SubDrugList != null && SubDrugList.Count > 0)
                            {
                                <li>
                                    <ul class="bd-block ul-reset innerlist fz-17">
                                        @foreach (DrugPaperListModel item in SubDrugList)
                                        {
                                            List<string> YearMonth = item.volume.ToString().Split('年').ToList();
                                            int WestYear = int.Parse(YearMonth[0].ToString());
                                            <li><a href="@item.dataUrl" target="_blank"><h4>@Html.Raw(WestYear + "年" + YearMonth[1].ToString())</h4></a></li>
                                        }
                                    </ul>
                                </li>

                            }
                        }
                    </ul>
                </div>

            }
        </section>
    </div>
</main>