﻿@using Web.Models;
@using Web.Service;
@{
    List<edu_resource_data> EduResourceData = ViewBag.EduResourceData;
}
@section css {
    @Styles.Render("~/Styles/plugin/jquery.mCustomScrollbar.min.css")
}
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a>@ViewBag.ResLang["醫學教育"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/03-research/education/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫學教育"]</h2>
                    <h3 class="fz-24 fwn">止於至善，追求卓越，要做就做最好的</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section id="train" class="education__train layout__container-full">
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["教育培訓"]</h3>
            <ul class="layout__block-img-lr ul-reset">
                @if (ViewBag.EduTrain != null && ViewBag.EduTrain.Count > 0)
                {
                    foreach (edu_train item in ViewBag.EduTrain)
                    {
                        <li>
                            <div class="bgimage imgLiquidFill">
                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt">
                            </div>
                            <div class="layout__container-1400">
                                <div class="text">
                                    <h4 class="fz-24 fwb">@item.title</h4>
                                    <div class="fz-17">@Html.Raw(item.content)</div>
                                </div>
                            </div>
                        </li>

                    }
                }
            </ul>
        </section>
        <section id="resource" class="education__resource layout__container-1400">
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["教學資源"]</h3>

            <div class="layout__textimg">

                @if (ViewBag.EduResource != null && ViewBag.EduResource.Count > 0)
                {
                    foreach (edu_resource item in ViewBag.EduResource)
                    {
                        <div class="col">
                            <div class="col__img imgLiquidFill">
                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt">
                            </div>
                            <div class="col__text">
                                <h4 class="fz-24 fwb">@item.title</h4>
                                <div class="scrollbox">
                                    <ul class="layout__grid-double  grid-full ul-reset ">
                                        @if (ViewBag.EduResourceData != null)
                                        {
                                            List<edu_resource_data> edu_resource_data = EduResourceData.FindAll(m => m.category == item.guid).ToList();
                                            if (edu_resource_data != null && edu_resource_data.Count > 0)
                                            {
                                                foreach (edu_resource_data subItem in edu_resource_data)
                                                {
                                                    <li><a href="@subItem.url" target="_blank">@subItem.title</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
        </section>


        


        <section id="service" class="education__service layout__container-full">
            <div class="bgimage imgLiquidFill">
                <img src="~/images/03-research/education/6.jpg" alt="">
            </div>
            <div class="wrap tac">
                <h3 class="fz-36 fwb">@ViewBag.ResLang["各院區醫教業務洽詢單位"]</h3>
                <!-- <div class="fz-18 text">長庚醫研部支持的研究來自各獨立研究主持人的個別型計畫或研究團隊的整合型計畫。<br>有些被認為是現有的或是潛在具重大影響的臨床計畫會發展成研究中心的規模。目前許多長庚的研究計畫是受到核心實驗室資源的幫助。已建立一個生物銀行做為容納研究中捐獻者們的組織及體液標本。提供做臨床試驗研究的中心也已經成立。醫研部也支援動物照護及使用委員會以及人體試驗倫理委員會和智慧財產權等。</div> -->
                <div class="fz-17 fwb btns">
                    @if (ViewBag.EduService != null && ViewBag.EduService.Count > 0)
                    {
                        foreach (edu_service item in ViewBag.EduService)
                        {
                            <a href="@item.url" class="btn__round-transparent" target="_blank">@item.title</a>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts {

    <script>
        var winWidth = $(window).outerWidth();
        checkRwd();
        $(window).resize(function () {
            checkRwd();
        });
        function checkRwd() {
            winWidth = $(window).outerWidth();
            if (winWidth > 541) {
                $('.scrollbox').mCustomScrollbar({
                    theme: "my-theme",
                    scrollbarPosition: "outside"
                });
            } else {
                $('.scrollbox').mCustomScrollbar("destroy");
            }
        }


    </script>
}