﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{
    List<GlobalArticleListModel> SB1 = ViewBag.SB1;
    List<GlobalArticleListModel> SB2 = ViewBag.SB2;
    index_info data = ViewBag.Data;
    List<string> reUrl = new List<string>();
}
<main class="main research">
    <div class="inner">
        <section class="layout__hero layout__hero-index">
            <div class="layout__container-1400 layout__breadcrumb fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                </ul>
            </div>
            <div class="slider slick-default slick-hero">
                @if (ViewBag.SB1 != null && SB1.Count > 0)
                {
                    foreach (GlobalArticleListModel item in ViewBag.SB1)
                    {
                        <div class="imgLiquidFill hero__content">
                            <img src="@item.photoUrl" alt="@item.title">
                            <div class="layout__container-1400">
                                <div class="fz-64 fwb">@item.title</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/01-index/hero.jpg" alt="">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">唯有研究才可降低不確定性<br>增加可能性</div>
                        </div>
                    </div>
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/01-index/hero.jpg" alt="">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">唯有研究才可降低不確定性<br>增加可能性</div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="layout__page-title pd__page-title">
            <h3 class="fz-48 fwb">@data.subject</h3>
            <p class="fz-17">@Html.Raw(data.notes)</p>
        </section>
        @if (ViewBag.SB2 != null && SB2.Count > 0)
        {

            int s = 0;

            <section class="index__news layout__container-full bg-grey">
                <div class="layout__container-1400 por">
                    <div class="layout__page-title mb-30">
                        <h3 class="fz-32 fwb">@ViewBag.ResLang["新聞與觀點"]</h3>
                    </div>
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Research/ArticleList/A3" class="btn__round-transparent">@ViewBag.ResLang["了解更多"] </a>
                    <div class="news fz-18 slick-arrow-round slick-single">


                          @foreach (GlobalArticleListModel item in ViewBag.SB2)
                          {

                              reUrl = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/Research/ArticleInfo/A3", SB2[s].Data, SB2[s]);

                              if (s % 3 == 0) { @Html.Raw("<div class=\"item\">" + "\r\n") }

                              if (s % 3 == 0)
                              {
                                    <a href="@reUrl[0]" target="@reUrl[1]" class="news__block block-full">
                                        <div class="img imgLiquidFill">
                                            <img src="@item.photoUrl" alt="@item.title">
                                        </div>
                                        <div class="text">@item.title</div>
                                    </a>
                              }
                              else
                              {
                                    if (s % 3 == 1) { @Html.Raw(" <div class=\"news__block\"><div class=\"layout__textimg layout__textimg-arrow\">" + "\r\n") }



                                            <a href="@reUrl[0]" target="@reUrl[1]" class="col">
                                                <div class="col__img imgLiquidFill">
                                                    <img src="@item.photoUrl" alt="@item.title">
                                                </div>
                                                <div class="col__text">
                                                    <div>@item.title</div>
                                                </div>
                                            </a>

                                        if (s % 3 == 2 || s == (SB2.Count - 1)) { @Html.Raw("</div></div>" + "\r\n") }

                              }




                                  if (s % 3 == 2 || s == (SB2.Count - 1)) { @Html.Raw("</div>" + "\r\n") }

                                         s++;

                          }
                    </div>
                </div>
            </section>





        }
        @Html.Raw(FunctionService.FormatImagePath(data.content))

        @Html.Raw(FunctionService.FormatImagePath(data.content2))
        @Html.Raw(FunctionService.FormatImagePath(data.content3))

    </div>
</main>
