﻿<ul class="nav ul-reset fwb layout__container-1400">
    <li @if (ViewBag.Action == "Innovation") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation">
            <div class="fz-24">@ViewBag.ResLang["創新研究"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 461 461" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M151.215,94.719l-124.742,0c-4.204,-0.062 -8.15,2.022 -10.461,5.531c-2.311,3.513 -2.666,7.963 -0.941,11.796l16.25,35.982c1.038,2.124 1.62,4.45 1.702,6.812l0,219.982c0,31.001 25.134,56.135 56.135,56.135c31.001,0 56.132,-25.134 56.132,-56.135l0,-219.982c-0.024,-2.354 0.449,-4.688 1.385,-6.847l15.969,-36.017c1.71,-3.817 1.351,-8.24 -0.956,-11.726c-2.323,-3.501 -6.273,-5.582 -10.473,-5.531Zm-19.193,24.951l-8.143,18.334c-2.361,5.301 -3.564,11.043 -3.536,16.84l0,20.251l-62.373,46.931l0,-67.186c-0.078,-5.824 -1.386,-11.562 -3.849,-16.84l-8.459,-18.342l86.36,0.012Zm-42.864,286.512c-17.261,-0.031 -31.219,-14.053 -31.188,-31.306l0,-121.697l62.373,-46.931l0,168.574c0.062,17.253 -13.873,31.297 -31.134,31.36l-0.051,0Z" style="fill-rule:nonzero;" /><path d="M377.302,236.578c-9.794,-19.986 -14.907,-41.931 -14.958,-64.184l0,-76.426l7.401,0c6.827,0.113 12.452,-5.336 12.557,-12.163l0,-43.578c-0.008,-6.983 -5.578,-12.686 -12.557,-12.869l-121.448,0c-6.889,0 -11.944,5.98 -11.944,12.869l0,43.484c-0.223,6.543 4.899,12.027 11.437,12.253c0.172,0 0.336,0.008 0.503,0l6.773,0l0,76.422c0.062,22.23 -4.946,44.183 -14.642,64.184l-64.196,131.03c-6.69,13.736 -5.855,29.947 2.21,42.93c8.064,12.975 22.222,20.907 37.504,20.997l186.158,0c15.251,-0.082 29.393,-8.006 37.43,-20.973c8.034,-12.968 8.838,-29.155 2.128,-42.852l-64.356,-131.124Zm-115.998,-191.27l96.051,0l0,30.709l-96.051,0l0,-30.709Zm1.514,201.973c11.367,-23.327 17.253,-48.941 17.195,-74.887l0,-76.426l57.384,0l0,76.426c0.051,25.969 6.043,51.587 17.511,74.887l11.648,23.327l-115.074,0l11.336,-23.327Zm155.54,150.079c-3.427,5.711 -9.595,9.212 -16.258,9.216l-186.158,0c-6.66,-0.004 -12.831,-3.505 -16.25,-9.216c-3.568,-5.734 -3.923,-12.901 -0.941,-18.951l40.483,-82.854l139.575,0l40.49,82.854c2.978,6.05 2.623,13.217 -0.941,18.951Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Education" || ViewBag.Action == "DrugPaperList") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education">
            <div class="fz-24">@ViewBag.ResLang["醫學教育"] </div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 297 297" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M287.034,60.873l-20.819,-0.001l0,-21.551c0,-4.934 -3.61,-9.126 -8.49,-9.856c-0.852,-0.128 -21.134,-3.074 -45.557,1.37c-27.227,4.954 -48.941,17.171 -63.668,35.64c-14.728,-18.469 -36.442,-30.686 -63.668,-35.64c-24.424,-4.443 -44.706,-1.498 -45.557,-1.37c-4.88,0.731 -8.49,4.923 -8.49,9.856l0,21.551l-20.819,0c-5.503,0 -9.966,4.463 -9.966,9.967l0,187.805c0,3.227 1.562,6.254 4.193,8.124c2.631,1.87 6.004,2.35 9.051,1.288c0.748,-0.259 75.431,-25.747 131.12,-0.345c2.628,1.199 5.645,1.199 8.273,0c55.533,-25.33 130.376,0.088 131.12,0.345c1.068,0.372 2.174,0.555 3.276,0.555c2.043,0 4.065,-0.628 5.775,-1.842c2.631,-1.87 4.193,-4.897 4.193,-8.124l0,-187.805c-0.001,-5.504 -4.463,-9.967 -9.967,-9.967Zm-267.101,184.436l0,-164.504l10.852,0l0,132.726c0,2.896 1.267,5.646 3.458,7.539c2.191,1.893 5.105,2.742 7.969,2.319c0.55,-0.08 43.846,-6.024 75.478,15.679c-38.965,-6.663 -77.963,1.044 -97.757,6.241Zm118.601,-15.229c-13.932,-12.588 -32.079,-21.1 -53.702,-25.034c-10.406,-1.894 -20.06,-2.446 -27.78,-2.446c-2.292,0 -4.414,0.049 -6.333,0.126l0,-154.253l-0.001,0c19.155,-0.864 65.752,1.184 87.816,38.587l0,143.02Zm19.932,-143.019c21.985,-37.243 68.655,-39.384 87.816,-38.563l0,154.228c-8.383,-0.338 -20.62,-0.136 -34.114,2.32c-21.623,3.934 -39.77,12.445 -53.702,25.034l0,-143.019Zm20.811,152.013c31.636,-21.716 74.955,-15.766 75.495,-15.686c2.871,0.431 5.783,-0.413 7.981,-2.305c2.198,-1.894 3.462,-4.65 3.462,-7.552l0,-132.725l10.852,0l0,164.503c-19.8,-5.199 -58.814,-12.909 -97.79,-6.235Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Activity") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">
            <div class="fz-24">@ViewBag.ResLang["會議與活動"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 31 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M21.945,6.06l0,-0.701c0,-0.796 -0.646,-1.441 -1.441,-1.441l-2.365,0c0.197,-0.356 0.309,-0.797 0.309,-1.245c-0.001,-1.473 -1.199,-2.673 -2.671,-2.673c-1.472,0 -2.669,1.2 -2.669,2.673c0,0.448 0.112,0.889 0.309,1.245l-1.94,0c-0.796,0 -1.441,0.645 -1.441,1.441l0,0.701l-3.214,0c-1.207,0 -2.185,0.979 -2.185,2.186l0,21.546c0,1.207 0.978,2.187 2.185,2.187l18.334,0c1.207,0 2.186,-0.979 2.186,-2.187l0,-21.546c0,-1.207 -0.979,-2.186 -2.186,-2.186l-3.211,0Zm-7.758,-3.386c0,-0.878 0.713,-1.594 1.589,-1.594c0.878,0 1.591,0.716 1.591,1.594c0,0.502 -0.234,0.933 -0.6,1.245l-1.981,0c-0.365,-0.313 -0.599,-0.743 -0.599,-1.245Zm10.969,25.818c0,0.742 -0.602,1.344 -1.344,1.344l-15.646,0c-0.742,0 -1.344,-0.602 -1.344,-1.344l0,-18.902c0,-0.743 0.602,-1.344 1.344,-1.344l1.868,0c0,0.591 0.479,1.071 1.07,1.071l9.769,0c0.592,0 1.07,-0.479 1.07,-1.071l1.869,0c0.741,0 1.344,0.602 1.344,1.344l0,18.902Z" style="fill-rule:nonzero;" /><circle cx="10.852" cy="13.098" r="1.899" /><path d="M21.656,12.038l-6.476,0c-0.596,0 -1.08,0.475 -1.08,1.071c0,0.596 0.483,1.071 1.08,1.071l6.478,0c0.596,0 1.078,-0.475 1.078,-1.071c0,-0.596 -0.483,-1.071 -1.08,-1.071Z" style="fill-rule:nonzero;" /><circle cx="10.852" cy="18.485" r="1.899" /><path d="M21.656,17.391l-6.476,0c-0.596,0 -1.08,0.498 -1.08,1.094c0,0.596 0.483,1.092 1.08,1.092l6.478,0c0.596,0 1.078,-0.496 1.078,-1.092c0,-0.596 -0.483,-1.094 -1.08,-1.094Z" style="fill-rule:nonzero;" /><circle cx="10.852" cy="24.242" r="1.898" /><path d="M21.656,23.145l-6.476,0c-0.596,0 -1.08,0.498 -1.08,1.094c0,0.596 0.483,1.092 1.08,1.092l6.478,0c0.596,0 1.078,-0.497 1.078,-1.092c0,-0.596 -0.483,-1.094 -1.08,-1.094Z" style="fill-rule:nonzero;" /></g></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Search") { @Html.Raw("class=\"active\"")}>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search">
            <div class="fz-24">@ViewBag.ResLang["申請與查詢"]</div>
            <div class="svg svg-adjust">
                <svg width="80%" height="80%" viewBox="0 0 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="Search" d="M244.186,214.604l-54.379,-54.378c-0.289,-0.289 -0.628,-0.491 -0.93,-0.76c10.7,-16.231 16.945,-35.66 16.945,-56.554c0,-56.837 -46.075,-102.912 -102.911,-102.912c-56.836,0 -102.911,46.075 -102.911,102.911c0,56.835 46.074,102.911 102.91,102.911c20.895,0 40.323,-6.245 56.554,-16.945c0.269,0.301 0.47,0.64 0.759,0.929l54.38,54.38c8.169,8.168 21.413,8.168 29.583,0c8.168,-8.169 8.168,-21.413 0,-29.582Zm-141.275,-44.458c-37.134,0 -67.236,-30.102 -67.236,-67.235c0,-37.134 30.103,-67.236 67.236,-67.236c37.132,0 67.235,30.103 67.235,67.236c0,37.133 -30.103,67.235 -67.235,67.235Z" /></svg>
            </div>
        </a>
    </li>
</ul>