﻿@using Web.Models;
@using Web.Service;
@{
    List<app_inquiry> AppInquiry = ViewBag.AppInquiry;
}
<main class="main research">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></li>
                    <li><a>@ViewBag.ResLang["申請與查詢"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/03-research/search/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["申請與查詢"]</h2>
                    <h3 class="fz-24 fwn">止於至善，追求卓越，要做就做最好的</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>

        <section class="activity__search layout__container-1400 pd__section-footer">
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["申請與查詢"]</h3>
            <ul class="layout__list ul-reset">
                @if (ViewBag.AppInquiryCategory != null)
                {
                    foreach (app_inquiry_category item in ViewBag.AppInquiryCategory)
                    {
                        <li id="@item.guid">
                            <h3 class="fwb fz-24">@item.title</h3>
                            <ul class="ul-reset innerlist fz-17">
                                @if (ViewBag.AppInquiry != null)
                                {
                                    List<app_inquiry> app_inquiry = AppInquiry.FindAll(m => m.category == item.guid).ToList();
                                    if (app_inquiry != null && app_inquiry.Count > 0)
                                    {
                                        foreach (app_inquiry subItem in app_inquiry)
                                        {
                                            <li><a href="@subItem.url" target="_blank"><h4>@subItem.title</h4></a></li>
                                        }
                                    }
                                }
                                      
                            </ul>
                        </li>
                    }
                }

            </ul>
        </section>
    </div>
</main>
