﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<hospitals> hospitalsList = ViewBag.hospitalsList;
}
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["醫療諮詢"]</h3>

        </section>
        <section class="layout__container-1400 pd__section-footer">
            <div class="layout__grid-circleblock">
                @if (ViewBag.Hospitals != null)
                {
                    foreach (hospitals item in hospitalsList.OrderBy(m => m.sortIndex).ToList())
                    {
                        <div class="child">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Services/AdvisoryInfo/@item.guid" class="wrap">
                                <div class="imgLiquidFill"> <img src="~/@item.pic" alt="@item.title"></div>
                                <h4 class="fz-20">@item.title</h4>
                            </a>
                        </div>
                    }
                }
            </div>
        </section>
    </div>
</main>

