﻿@using Web.Models;
@{
    List<hospitals> hospitalsList = ViewBag.hospitalsList;
}
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["醫療諮詢"]</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in hospitalsList.OrderBy(m => m.sortIndex).ToList())
                            {
                                string selected = "";
                                if(ViewBag.ID == item.guid)
                                {
                                    selected = " selected";
                                }

                                <option @selected value="@Url.Content("~/" + ViewBag.Lang)/Services/AdvisoryInfo/@item.guid">@item.title</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>
        <section class="online__03 layout__container-1400 pd__section-footer">
            <h3 class="fz-36 fwb tac">@ViewBag.PathTitle</h3>
            <ul class="layout__grid-double ul-reset">
                @if (ViewBag.Data != null)
                {
                    foreach (hospitals_advisory item in ViewBag.Data)
                    {
                        <li>
                            <div class="wrap">
                                <h4 class="fz-24">@item.title</h4>
                                <ul class="info ul-reset fz-17">
                                    <li>
                                        <div class="info__child info__icon"><i class="icon-menu"></i></div>
                                        <div class="info__child fwb">@ViewBag.ResLang["服務項目"]</div>
                                        <div class="info__child">@item.subject</div>
                                    </li>
                                    <li>
                                        <div class="info__child info__icon"><i class="icon-phone"></i></div>
                                        <div class="info__child fwb">@ViewBag.ResLang["分機號碼"]</div>
                                        <div class="info__child">@item.ext</div>
                                    </li>
                                    <li>
                                        <div class="info__child info__icon"><i class="icon-clock"></i></div>
                                        <div class="info__child fwb">@ViewBag.ResLang["服務時段"]</div>
                                        <div class="info__child">@item.service_time</div>
                                    </li>
                                    <li>
                                        <div class="info__child info__icon"><i class="icon-location"></i></div>
                                        <div class="info__child fwb">@ViewBag.ResLang["所在位置"]</div>
                                        <div class="info__child">@item.area</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }

                }
                else
                {
                    <li class="text-center">無相關資訊</li>
                }
            </ul>
        </section>
    </div>
</main>

