﻿
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["用藥諮詢"]</h3>
            </div>
        </section>
        <section class="layout__container-1400">
            <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/ConsultationSend")" class="layout__container-1400" name="ConsultationForm" id="ConsultationForm" method="post">
                @Html.AntiForgeryToken()
                <div class="layout__form bg-white">
                    <div class="head-2 fz-20 fwb">@ViewBag.ResLang["用藥諮詢服務表單"] (<span class="fc-red"> * </span>@ViewBag.ResLang["為必填"] )</div>
                    <div class="form fc-light">
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["發問人"]<span class="fc-red"> * </span></div>
                            <div class="td"><input type="text" name="nickName" id="nickName" required value="@if (ViewBag.Consultation != null){@ViewBag.Consultation["nickName"]}" reifired></div>
                        </div>
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["發問時間"]</div>
                            <div class="td fc-black">@DateTime.Now.ToString("yyyy-MM-dd / HH:mm")</div>
                            <input type="hidden" name="postTime" id="postTime" value="@DateTime.Now.ToString("yyyyMMddHHmm")">
                        </div>
                        <div class="row row-half align-top">
                            <div class="td">@ViewBag.ResLang["性別"]<span class="fc-red"> * </span></div>
                            <div class="td">
                                <ul class="ul-reset inline no-margin">
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["男"]
                                            <input type="radio" name="sex" value="男" @if (ViewBag.Consultation == null || ViewBag.Consultation["sex"] == "男" ){@Html.Raw("checked")}>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["女"]
                                            <input type="radio" name="sex" value="女" @if (ViewBag.Consultation != null && ViewBag.Consultation["sex"] == "女" ){@Html.Raw("checked")}>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["年齡"]<span class="fc-red"> * </span></div>
                            <div class="td">
                                <select name="age" id="age" required>
                                    <option value="">@ViewBag.ResLang["選擇年齡"]</option>
                                    <option value="-20" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "-20" ){@Html.Raw("selected")}>20 @ViewBag.ResLang["歲"]@ViewBag.ResLang["以下"]</option>
                                    <option value="20-30" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "20-30" ){@Html.Raw("selected")}>21～30 @ViewBag.ResLang["歲"]</option>
                                    <option value="31-40" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "31-40" ){@Html.Raw("selected")}>31～40 @ViewBag.ResLang["歲"]</option>
                                    <option value="41-50" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "41-50" ){@Html.Raw("selected")}>41～50 @ViewBag.ResLang["歲"]</option>
                                    <option value="51-60" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "51-60" ){@Html.Raw("selected")}>51～60 @ViewBag.ResLang["歲"]</option>
                                    <option value="61-70" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "61-70" ){@Html.Raw("selected")}>61～70 @ViewBag.ResLang["歲"]</option>
                                    <option value="70-" @if (ViewBag.Consultation != null && ViewBag.Consultation["age"] == "70-" ){@Html.Raw("selected")}>70 @ViewBag.ResLang["歲"]@ViewBag.ResLang["以上"]</option>

                                </select>
                            </div>
                        </div>
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["職業"]</div>
                            <div class="td">
                                <select name="profession" id="profession" required>
                                    <option value="">@ViewBag.ResLang["用藥選擇職業諮詢"]</option>
                                    <option value="@ViewBag.ResLang["醫藥專業人員"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["醫藥專業人員"] ){@Html.Raw("selected")}>@ViewBag.ResLang["醫藥專業人員"]</option>
                                    <option value="@ViewBag.ResLang["公教"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] ==ViewBag.ResLang["公教"] ){@Html.Raw("selected")}>@ViewBag.ResLang["公教"]</option>
                                    <option value="@ViewBag.ResLang["工"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["工"] ){@Html.Raw("selected")}>@ViewBag.ResLang["工"]</option>
                                    <option value="@ViewBag.ResLang["商"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["商"] ){@Html.Raw("selected")}>@ViewBag.ResLang["商"]</option>
                                    <option value="@ViewBag.ResLang["服務業"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["服務業"] ){@Html.Raw("selected")}>@ViewBag.ResLang["服務業"]</option>
                                    <option value="@ViewBag.ResLang["學生"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["學生"] ){@Html.Raw("selected")}>@ViewBag.ResLang["學生"]</option>
                                    <option value="@ViewBag.ResLang["農林漁牧"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["農林漁牧"] ){@Html.Raw("selected")}>@ViewBag.ResLang["農林漁牧"]</option>
                                    <option value="@ViewBag.ResLang["無業"]" @if (ViewBag.Consultation != null && ViewBag.Consultation["profession"] == ViewBag.ResLang["無業"] ){@Html.Raw("selected")}>@ViewBag.ResLang["無業"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["電子信箱"]<span class="fc-red"> * </span></div>
                            <div class="td"><input type="email" name="eMail" id="eMail" value="@if (ViewBag.Consultation != null){@ViewBag.Consultation["eMail"]}"></div>
                        </div>
                        <div class="row align-top">
                            <div class="td">@ViewBag.ResLang["發表內容"]<span class="fc-red"> * </span></div>
                            <div class="td td-full">
                                <textarea name="description" id="description" cols="30" rows="6">@if (ViewBag.Consultation != null){@ViewBag.Consultation["description"]}</textarea>
                            </div>
                        </div>
                         <div class="row verify">
                             <div class="td">@ViewBag.ResLang["請輸入驗證碼"]<span class="fc-red"> * </span></div>
                          <div class="td">
                            <input type="text"  name="verification" id="verification" required>
                            <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                            <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                          </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="td hide-tablet-under"></div>
                            <div class="td">
                                <div class="img">
                                    <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="layout__form-btns pd__section-footer tac fz-18">
                    <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["確認送出"]</button>
                    <button class="btn__rec-main">@ViewBag.ResLang["重新填寫"]</button>
                </div>
            </form>
        </section>
    </div>
</main>


@section scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
        @Scripts.Render("~/Scripts/datepicker-zh-TW.js")
    }

    <script>
        $(document).ready(function () {


            $(".daterangepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1910:@DateTime.Now.ToString("yyyy")',
                dateFormat: 'yymmdd'
            });
            $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);

            $('#city').change(function () {


                var needVal = new FormData();
                needVal.append('city', $(this).val());



                      $.ajax({
                        type: 'POST',
                         url: '@Url.Content("~/" + ViewBag.Lang + "/Services/GetDistrict")',
                        data: needVal,
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () { },
                        success: function (json) {
                            //console.log(json);
                            //var reData = JSON.parse(json);
                            $('#district').html('<option disabled selected value="">@ViewBag.ResLang["選擇區鄉鎮"]</option>');
                            for (var i = 0; i < json.length; i++) {
                                $('#district').append('<option value="' + json[i].district +'">' + json[i].district+'</option>')
                            }

                        },
                        complete: function () { },
                        error: function () { }
                    });





            });





            $("#ConsultationForm").each(function () {


                $("#ConsultationForm").validate({

                    rules: {
                     
                    },
                    submitHandler: function (form) {


                        $('.submitBut').attr("disabled", true);

                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
    </script>

}

