﻿@using Web.ServiceModels;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->

            
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["用藥諮詢"]</h3>
                <a href="@Url.Content("~/" + ViewBag.Lang)/Services/ConsultationForm" class="quest-box fwb">
                    <i class="icon-comment"></i>
                    <div class="fz-18">@ViewBag.ResLang["我要發問"]</div>
                </a>
            </div>
        </section>
        <section class="online__04 layout__container-1400">
            <div class="intro">
                <div class="intro__img imgLiquidFill">
                    <img src="~/images/02-service/online/5.jpg" alt="">
                </div>
                <div class="intro__text fz-18">
                    這是一個免費提供民眾線上用藥諮詢的園地，由本院各院區藥師諮詢團隊駐站諮詢。<br>請珍惜諮詢資源，切勿重複發問，在輸入用藥問題時，請盡量完整敘述，若有相同或重複討論之主題，本網站有權下架處理。<br>由於駐站諮詢藥師回覆需要一段作業時間，若已回覆問題，將會寄送通知至您所留下的電子郵件。<br>諮詢團隊在本網站的所有回覆，僅作為民眾諮詢參考之用，未詳盡之處請詢問您的醫師或藥師，本網站不負任何法律責任！<br>如果想要修改會員資料及登入密碼，請點選會員資料管理。有任何關於網站會員之問題，也請與我們連絡。
                </div>
            </div>
            <ul class="qa-list fz-18 ul-reset">


                @if (ViewBag.Data != null)
                {
                    foreach (DrugConsultListModel item in ViewBag.Data)
                    {
                        <li>
                            <div class="head bg-grey">
                                <div class="fwb">@ViewBag.ResLang["發問人"]：@item.nickName（@item.postTime）</div>
                                <div>@ViewBag.ResLang["狀態"]： <span class="fc-light">@item.status</span></div>
                            </div>
                            <div class="body">

                                @Html.Raw(item.description)

                                @if (item.replyName != "" && item.replyDescription != "")
                                {
                                    <div class="ans">
                                        <div class="ans__head fwb">@ViewBag.ResLang["回覆人"]：@item.replyName（@item.replyTime）</div>
                                        <div>  @Html.Raw(item.replyDescription)</div>
                                    </div>
                                }



                            </div>
                        </li>
                    }
                }


                    </ul>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset  ">
              @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>
