﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<DoctorDeptListModel> deptListModels = ViewBag.Data;
    string test = "";
}
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                    <li><a>@ViewBag.ResLang["醫師介紹"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療團隊"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->

        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["醫師介紹"]</h2>
        </section>
        <div class="layout__nav-search">
            <form name="teamSearch" id="teamSearch" action="@Url.Content("~/"+ ViewBag.Lang+"/Services/TeamList")" method="GET">
                <input type="hidden" name="hospital" value="@ViewBag.ID" />
                <ul class="ul-reset">
                    <li class="fz-17">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')" id="changeHospital">


                            @if (ViewBag.Hospitals != null)
                            {
                                foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                                {
                                    if (!string.IsNullOrEmpty(item.hospitalID))
                                    {


                                        string selected = "";
                                        if (ViewBag.ID == item.hospitalID)
                                        {
                                            selected = " selected";
                                        }

                                        <option value="@Url.Content("~/" + ViewBag.Lang)/Services/@Html.Raw("DeptList/" + item.hospitalID)" @selected>
                                            @if (!string.IsNullOrEmpty(item.join_title))
                                            {@item.join_title }
                                        else
                                        { @item.title}
                                        </option>
                                    }
                                }
                            }

                        </select>
                    </li>
                    <li>

                        <input type="text" name="keyword" id="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]" value="@ViewBag.SearchKeyword">
                        <!--<a href="#1"><i class="icon-search"></i></a>-->
                        <button type="submit"><i class="icon-search"></i></button>

                    </li>
                    <li class="flex-end hide-tablet-under">
                        <a class="btn__back" href="javascript:history.back()">
                            <div class="svg">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                                <g id="reply">
                                <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" />















            </g>
          </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
        <section class="layout__container-1400 pd__section-footer">
            <ul class="layout__list ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (DoctorDeptListModel item in deptListModels)
                    {
                        List<DoctorDeptSubDeptModel> subData = (List<DoctorDeptSubDeptModel>)item.subDept.FindAll(m => m.deptName.Contains(ViewBag.SearchKeyword)).ToList();

                        <li>

                            <h3 class="fwb fz-24">@item.deptName</h3>

                            <ul class="ul-reset innerlist fz-17">
                                @if (subData.Count <= 0)
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptInfo/@ViewBag.ThisHospitalIID/@item.deptId"><h4>@item.deptName</h4></a></li>
                                }
                                @foreach (DoctorDeptSubDeptModel subItem in subData)
                                {

                                    if (subItem.subDept == null || subItem.subDept.Count == 0)
                                    {

                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptInfo/@ViewBag.ThisHospitalIID/@item.deptId/@subItem.deptId"><h4>@subItem.deptName</h4></a></li>
                                    }
                                    else
                                    {


                                        <li>
                                            <div class="innerlist__childlist">
                                                <h4>@subItem.deptName</h4>
                                                <ul class="ul-reset">
                                                    @foreach (DoctorDeptSubDeptModel subItem2 in (List<DoctorDeptSubDeptModel>)subItem.subDept.FindAll(m => m.deptName.Contains(ViewBag.SearchKeyword)).ToList())
                                                    {

                                                        <li>
                                                            <a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptInfo/@ViewBag.ThisHospitalIID/@item.deptId/@subItem.deptId/@subItem2.deptId">
                                                                <h5>@subItem2.deptName</h5>
                                                            </a>
                                                        </li>

                                                    }

                                                </ul>
                                            </div>
                                        </li>

                                    }

                                }
                            </ul>
                        </li>


                    }
                }


            </ul>
        </section>
    </div>
</main>
@section scripts {
    <script>

        $(document).ready(function () {

            $('#teamSearch').submit(function () {

                if ($('#keyword').val() == "") {
                    swal({
                        title: "@ViewBag.ResLang["系統訊息"].ToString()",
                        text: "@ViewBag.ResLang["請輸入關鍵字"]",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                    }, function () {

                    });
                    return false;
                }
                else {
                    return true;
                }

            });

        });
    </script>
}

