﻿@using Web.ServiceModels;
@using Web.Models;
@{
    DoctorModel Data = ViewBag.Data;
    //MedicalTeamModel medicalTeam = Data.DeptData.medicalTeam;
    List<DoctorDepModel> register = ViewBag.register;
}
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                    <li><a href="service-team-branch.php">@ViewBag.ResLang["醫師介紹"]</a></li>
                    <li><a>@Data.deptName</a></li>
                </ul>
            </div>

            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療團隊"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>


            @Html.Partial("ServiceMenu")<!--共用選單-->

            

        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["醫師介紹"]</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                @if (Data.DeptDataList != null && Data.DeptDataList.Count > 0)
                {
                    <li class="fz-17">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                              @foreach (DeptDoctorModel item in Data.DeptDataList)
                              {
                                  string selected = "";
                                  if(Data.doctorId == item.doctorId)
                                  {
                                      selected = " selected";
                                  }

                                 <option @selected value="@Url.Content("~/" + ViewBag.Lang)/Services/DoctorInfo/@item.doctorId">@Html.Raw(item.doctorName + ViewBag.ResLang["醫師"])</option>
                              }

                        </select>
                    </li>
                }
                <!--
                <li>
                    <input type="text" id="" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                    <a href="javascript:;"><i class="icon-search"></i></a>
                </li>-->
                <li class="flex-end hide-tablet-under">
                    <a class="btn__back" href="javascript:history.back()">
                        <div class="svg">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                            <g id="reply">
                            <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" /></g>
                             </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <section class="layout__container-1400 pd__section-footer">
            <div class="doc__top">
                <!-- w:300 h:320 -->
                @if (Data.photoUrl != null && Data.photoUrl != "")
                {
                    <img src="@Data.photoUrl" alt="@Html.Raw(Data.doctorName + ViewBag.ResLang["醫師"])" class="img">
                }

                <h3 class="fz-32">@Html.Raw(Data.doctorName + ViewBag.ResLang["醫師"])</h3>
                <div class="fz-20">@Data.specialty</div>
                <ul class="tag ul-reset fz-17">
                    @if (Data.language != "")
                    {
                        <li>@Data.language</li>
                    }

                    @if (Data.techingTitle != "")
                    {
                        <li>@Data.techingTitle</li>
                    }

                </ul>
            </div>
            <div class="doc__bottom layout__block-info">

                @if (ViewBag.register != null && register.Count > 0)
                {
                    <div class="block">
                        <div class="block__title">
                            <div class="fz-32 fwb">@ViewBag.ResLang["醫師網路掛號"]</div>
                            <div class="fz-17">@ViewBag.ResLang["直接點選進入醫師網路掛號畫面"]</div>
                        </div>
                        <div class="layout__list bg-grey">
                            <ul class="ul-reset innerlist fz-18">
                                 @foreach (DoctorDepModel item in register)
                                 {
                                         <li><a href="https://register.cgmh.org.tw/Department/@item.LOC/@item.DPID?id=@item.DRNO&name=@Data.doctorName" target="_blank">@Html.Raw(item.LOCNM +"-" + item.DPCNM)</a></li>
                                 }

                            </ul>
                        </div>
                    </div>
                }

                    <div class="block">
                        <div class="block__title">
                            <div class="fz-32 fwb">@ViewBag.ResLang["醫師資歷"]</div>
                        </div>
                        <ul class="resume ul-reset bg-grey">

                            @if (Data.jobTitle != null && Data.jobTitle.Count > 0)
                            {
                                <li>
                                    <div class="fz-24 fwb">@ViewBag.ResLang["現職"]</div>
                                    <ul class="ul-reset ul-circle ul-circle-color fz-18">
                                        @foreach (DoctorJobTitleModel item in Data.jobTitle)
                                        {
                                            <li>@item.jobTitle</li>
                                        }

                                    </ul>
                                </li>

                            }

                            @if (Data.education != null && Data.education.Count > 0)
                            {
                                <li>
                                    <div class="fz-24 fwb">@ViewBag.ResLang["學歷"]</div>
                                    <ul class="ul-reset ul-circle ul-circle-color fz-18">
                                        @foreach (DoctorEducationModel item in Data.education)
                                        {
                                            <li>@item.education</li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (Data.experience != null && Data.experience.Count > 0)
                            {
                                <li>
                                    <div class="fz-24 fwb">@ViewBag.ResLang["經歷"]</div>
                                    <ul class="ul-reset ul-circle ul-circle-color fz-18">
                                        @foreach (DoctorExperienceModel item in Data.experience)
                                        {
                                            <li>@item.experience</li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (Data.certification != null && Data.certification.Count > 0)
                            {
                                <li>
                                    <div class="fz-24 fwb">@ViewBag.ResLang["學會與認證"]</div>
                                    <ul class="ul-reset ul-circle ul-circle-color fz-18">
                                        @foreach (DoctorCertificationModel item in Data.certification)
                                        {
                                            <li>@item.certification</li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (Data.research != null && Data.research.Count > 0)
                            {
                                <li>
                                    <div class="fz-24 fwb">@ViewBag.ResLang["論文及期刊發表"]</div>
                                    <ul class="ul-reset ul-circle ul-circle-color fz-18">

                                        @foreach (DoctorResearchModel item in Data.research)
                                        {
                                            <li>@item.research<br>@item.comefrom<br>@item.author</li>
                                        }

                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
        </section>
    </div>
</main>