﻿@using Web.ServiceModels;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["用藥指導單張"]</h3>
            </div>
        </section>
        <section class="online__07 layout__container-1400 pd__section-footer">
            <div class="layout__tablewrap">
                <table class="layout__table-main fz-18">
                    <tr class="fz-17">
                        <th width="15%">@ViewBag.ResLang["編號"]</th>
                        <th width="85%">@ViewBag.ResLang["名稱"]</th>
                    </tr>
                    @if (ViewBag.Data != null)
                    {
                        foreach (DrugGuideListModel item in ViewBag.Data)
                        {
                            <tr>
                                <td>@item.medicNo</td>
                                <td><a href="@item.dataUrl" data-fancybox="gallery">@item.title</a></td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <!-- <div class="layout__lightbox">
              <div class="overlay">
              </div>
              <div class="wrap">
                <div class="reader">
                  <object data="src/test.pdf" type="application/pdf" width="100%" height="100%">
                    <p>您的瀏覽器不支援瀏覽 <a href="src/test.pdf">下載檔案</a></p>
                  </object>
                </div>
              </div>
              <div class="btn-close">
              </div>
            </div> -->
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset  ">
                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>
@section css {
    @Styles.Render("~/Scripts/fancybox/jquery.fancybox.min.css")
}
@section scripts {
    @Scripts.Render("~/Scripts/fancybox/jquery.fancybox.min.js")
}