﻿@using Web.ServiceModels;
@using Web.Service;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["藥品綜合查詢"]</h3>
            </div>
        </section>
        <section class="online__05 layout__container-1400 pd__section-footer">
            <div class="fz-20 fwb resualt">@ViewBag.ResLang["查詢關鍵字"] <span class="fc-main">@if (ViewBag.SearchKeyword != "")
{@Html.Raw(ViewBag.SearchKeyword)}@if (ViewBag.SearchCode != "")
            {@Html.Raw(ViewBag.SearchCode)}</span></div>
            <div class="layout__tablewrap js-lightbox">


                @if (ViewBag.Data != null)
                {
                    foreach (KeyValuePair<string, string> item in ViewBag.Data)
                    {
                        // List<DrugInfoModel> ChineseMedicine = item["中醫"];
                        if (item.Key == "中藥")
                        {
                            List<ChineseDrugModel> ChineseDrug = Newtonsoft.Json.JsonConvert.DeserializeObject<List<ChineseDrugModel>>(item.Value.ToString());

                            if (ChineseDrug != null && ChineseDrug.Count > 0)
                            {


                            <table class="layout__table-main fz-18">
                                <tr class="fz-17 hide-phone-under">
                                    <th width="35%"> @ViewBag.ResLang["藥品資訊"]</th>
                                    <th width="25%">@ViewBag.ResLang["圖示"]</th>
                                    <th width="25%">@ViewBag.ResLang["藥品鑑定"]</th>
                                    <th width="25%">@ViewBag.ResLang["易混淆中藥材"]</th>
                                </tr>
                                <tbody>




                                    @foreach (ChineseDrugModel SubItem in ChineseDrug)
                                    {
                                        <tr>
                                            <td data-th="@ViewBag.ResLang["藥品資訊"]" class="tal">
                                                <div class="text">
                                                    @*@Html.Raw(SubItem.藥品資訊.Replace("rn", "<br>"))*@

                                                    @Html.Raw(FunctionService.ReplaceRN(SubItem.藥品資訊.ToString()))
                                                </div>
                                            </td>

                                            <td data-th="@ViewBag.ResLang["圖示"]">
                                                <a>
                                                    <img src="@SubItem.圖示" alt="">
                                                    <div class="fwb fc-main tac">@ViewBag.ResLang["點選放大"]</div>
                                                </a>
                                            </td>

                                            <td data-th="@ViewBag.ResLang["藥品鑑定"]">@SubItem.藥品鑑別</td>
                                            <td data-th="@ViewBag.ResLang["易混淆中藥材"]">@SubItem.易混淆中藥材</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            }
                        }
                        if (item.Key == "西藥")
                        {
                            List<WesternDrugModel> WesternDrug = Newtonsoft.Json.JsonConvert.DeserializeObject<List<WesternDrugModel>>(item.Value.ToString());

                            if (WesternDrug != null && WesternDrug.Count > 0)
                            {
                            <table class="layout__table-main fz-18">
                                <tr class="fz-17 hide-phone-under">
                                    <th width="35%" >@ViewBag.ResLang["藥品資訊"]</th>
                                    <th width="16.25%">@ViewBag.ResLang["圖示"]</th>
                                    <th width="16.25%">@ViewBag.ResLang["仿單"]</th>
                                    <th width="16.25%">@ViewBag.ResLang["指導單張"]</th>
                                    <th width="16.25%">@ViewBag.ResLang["教學影片"]</th>
                                </tr>
                                <tbody>



                                    @foreach (WesternDrugModel SubItem in WesternDrug)
                                    {
                                        <tr>
                                            <td data-th="@ViewBag.ResLang["藥品資訊"]" class="tal">
                                                <div class="text">
                                                    @*@Html.Raw(SubItem.藥品資訊.Replace("rn", "<br>"))*@
                                                    @Html.Raw(FunctionService.ReplaceRN(SubItem.藥品資訊.ToString()))
                                                </div>
                                            </td>
                                            <td data-th="@ViewBag.ResLang["圖示"]">
                                                @if (!string.IsNullOrEmpty(SubItem.圖示))
                                                {
                                                    <a>
                                                        <img src="@SubItem.圖示" alt="">
                                                        <div class="fwb fc-main tac">@ViewBag.ResLang["點選放大"]</div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <div class="fwb fc-main tac">@ViewBag.ResLang["資料建置中"]</div>
                                                }

                                            </td>
                                            <td data-th="@ViewBag.ResLang["仿單"]">

                                                <a href="@SubItem.仿單" target="_blank">                                                  
                                                    <div class="fwb fc-main tac">@ViewBag.ResLang["檢視"]</div>
                                                </a>

                                            </td>
                                            <td data-th="@ViewBag.ResLang["指導單張"]">
                                                @if (!string.IsNullOrEmpty(SubItem.指導單張))
                                                {
                                                    <a href="@SubItem.指導單張" target="_blank">
                                                        <div class="fwb fc-main tac">@ViewBag.ResLang["檢視"]</div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <div class="fwb fc-main tac">@ViewBag.ResLang["資料建置中"]</div>
                                                }
                                            </td>
                                            <td data-th="@ViewBag.ResLang["教學影片"]">
                                                @if (!string.IsNullOrEmpty(SubItem.教學影片))
                                                {
                                                    string url = SubItem.教學影片;
                                                    if (SubItem.教學影片.IndexOf("http") == -1)
                                                    {
                                                        url = "https://www.cgmh.org.tw/stor/" + url;
                                                    }

                                                    <a href="@url" target="_blank">
                                                        <div class="fwb fc-main tac">@ViewBag.ResLang["檢視"]</div>
                                                    </a>
                                                }
                                                else
                                                {
                                                 <div class="fwb fc-main tac">@ViewBag.ResLang["資料建置中"]</div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                        }
                    }
                }
                else
                {

                    <table class="layout__table-main fz-18">
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <div class="text">
                                        @ViewBag.ResLang["查無相關資訊"]
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                }


                <div class="layout__lightbox">
                    <div class="overlay">
                    </div>
                    <div class="wrap">
                        <div class="reader">
                            <img src="~/images/02-service/online/6.jpg" alt=""></a>
                            <!-- <object data="src/test.pdf" type="application/pdf" width="100%" height="100%">
                  <p>您的瀏覽器不支援瀏覽 <a href="src/test.pdf">下載檔案</a></p>
                </object> -->
                        </div>
                        <div class="btn-close">
                            <i class="icon-cancel"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tac">
                <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Drug" class="btn__rec-main fz-18">@ViewBag.ResLang["回上一頁"]</a>
            </div>
        </section>
    </div>
</main>

