﻿<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["藥品綜合查詢"]</h3>
            </div>
        </section>
        <section class="online__05 layout__container-1400 pd__section-footer">
            <ul class="layout__list ul-reset">
                <li>
                    <form name="searchForm" action="@Url.Content("~/" + ViewBag.Lang)/Services/DrugSearch" method="GET">
                        <h3 class="fwb fz-24" style="display:none;">@ViewBag.ResLang["關鍵字查詢"]</h3>
                        <div class="block fz-18">
                            <span class="title" style="display:none;" >@ViewBag.ResLang["查詢關鍵字"]</span>
                            <span><input class="input" type="text" name="keyword" id="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字或條碼"]"></span>
                        </div>
                        <div class="block fz-18">                          
                            <button type="submit" class="btn__rec-main">@ViewBag.ResLang["確認送出"]</button>
                            <input type="reset" class="btn__rec-main" value="@ViewBag.ResLang["重新填寫"]">
                        </div>
                    </form>
                </li>
                <li style="display:none;">
                    <form name="searchForm2" action="@Url.Content("~/" + ViewBag.Lang)/Services/DrugSearch" method="GET">
                        <h3 class="fwb fz-24">@ViewBag.ResLang["條碼查詢"]</h3>
                        <div class="block fz-18">
                            <span class="title">@ViewBag.ResLang["條碼查詢"]</span>
                            <span><input class="input" type="text" name="bcode" id="bcode"></span>
                        </div>
                        <div class="block fz-18">
                            <button type="submit" class="btn__rec-main">@ViewBag.ResLang["確認送出"]</button>
                            <input type="reset" class="btn__rec-main" value="@ViewBag.ResLang["重新填寫"]">
                        </div>
                    </form>
                </li>
            </ul>
        </section>
    </div>
</main>

