﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<HealthEduListModel> data = ViewBag.Data;
    List<HealthEduListModel> dataA = data.FindAll(m => m.文章類別代號 == "A").ToList();
    List<HealthEduListModel> dataB = data.FindAll(m => m.文章類別代號 == "B").ToList();
    List<HealthEduListModel> dataC = data.FindAll(m => m.文章類別代號 == "C").ToList();
    List<HealthEduListModel> dataD = data.FindAll(m => m.文章類別代號 == "D").ToList();
    List<HealthEduListModel> dataE = data.FindAll(m => m.文章類別代號 == "E").ToList();
    List<HealthEduListModel> dataF = data.FindAll(m => m.文章類別代號 == "F").ToList();
    web_data WebData = ViewBag.webData;
}
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->

        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["衛教園地"]</h3>
                <div class="search-box">
                    <form name="searchForm" action="@Url.Content("~/" + ViewBag.Lang)/Services/GuardianSearch" method="GET">
                        <input type="text" name="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                        <!--<a href="service-online02-search.php"><i class="icon-search"></i></a>-->
                        <button type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="layout__nav-subclass pd__section-footer">
            <div class="online__02 layout__container-1400">
                <ul class="layout__list ul-reset">
                    <li>
                        <h3 class="fwb fz-24">@ViewBag.ResLang["衛教文章類別與清單"]</h3>
                        <ul class="layout__grid-double ul-reset">
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["疾病照護"]</div>
                                <select name="GuardianA" id="GuardianA" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataA != null && dataA.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataA)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }

                                </select>
                            </li>
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["技術類"]</div>
                                <select name="GuardianB" id="GuardianB" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataB != null && dataB.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataB)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }

                                </select>
                            </li>
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["藥物類"]</div>
                                <select name="GuardianC" id="GuardianC" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataC != null && dataC.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataC)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }
                                </select>
                            </li>
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["飲食類"]</div>
                                <select name="GuardianD" id="GuardianD" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataD != null && dataD.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataD)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }
                                </select>
                            </li>
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["檢查及檢驗須知"]</div>
                                <select name="GuardianE" id="GuardianE" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataE != null && dataE.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataE)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }
                                </select>
                            </li>
                            <li>
                                <div class="fz-18">@ViewBag.ResLang["預防保健類"]</div>
                                <select name="GuardianF" id="GuardianF" class="ChangeGuardian">
                                    <option value="">@ViewBag.ResLang["文章"]</option>
                                    @if (dataF != null && dataF.Count > 0)
                                    {
                                        foreach (HealthEduListModel item in dataF)
                                        {
                                            <option value="@item.文章編號">@item.文章名稱</option>
                                        }
                                    }

                                </select>
                            </li>
                        </ul>
                        <h3 class="fwb fz-24" style="cursor:pointer; margin-top:12px;" onclick="window.open('@WebData.share_url' , '_blank')">醫病共享決策-(關於自身的疾病有那些治療選擇)?</h3>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>
@section css {
    @Styles.Render("~/Scripts/fancybox/jquery.fancybox.min.css")
}
@section scripts {
    @Scripts.Render("~/Scripts/fancybox/jquery.fancybox.min.js")
    <script>
    $(document).ready(function () {


        $('.ChangeGuardian').change(function () {



           // window.open("https://webapp.cgmh.org.tw/asproot/healthedu/view/edu_detail.aspx?artno=" + $(this).val(), "_blank");


            $.fancybox.open({
                src: "https://webapp.cgmh.org.tw/healthedu/view/edu_detail.aspx?artno=" + $(this).val(),
                type: 'iframe',
                opts: {
                    afterShow: function (instance, current) {
                       // console.info('done!');
                    }
                }
            });


            /*
            var needVal = new FormData();
            needVal.append('codeNo', $(this).val());

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/"+ViewBag.Lang + "/Services/Ajax")',
                data: needVal,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () { },
                success: function (json) {

                    if (json.url != "") {
                        window.open(json.url, "_blank");
                    }
                },

                complete: function () { },

                error: function () { }
            });
            */
        });

    });
    </script>
}