﻿@using Web.ServiceModels;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["衛教園地"]</h3>
                <div class="search-box">
                    <form name="searchForm" action="@Url.Content("~/" + ViewBag.Lang)/Services/GuardianSearch" method="GET">
                        <input type="text" name="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                        <!--<a href="service-online02-search.php"><i class="icon-search"></i></a>-->
                        <button type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="layout__nav-subclass pd__section-footer">
            <div class="layout__container-1400">
                <div class="fz-20 fwb">@Html.Raw(ViewBag.ResLang["查詢到有關的衛教文章如下"].ToString().Replace("{keyword}", ViewBag.SearchKeyword))</div>
                <div class="layout__tablewrap">
                    <table class="layout__table-main">
                        <tbody>
                            <tr class="fz-17">
                                <th>@ViewBag.ResLang["編號"]</th>
                                <th>@ViewBag.ResLang["文章類別"]</th>
                                <th>@ViewBag.ResLang["建議看診科別"]</th>
                                <th>@ViewBag.ResLang["文章標題"]</th>
                            </tr>
                            @if (ViewBag.Data != null)
                            {
                                foreach (HealthEduContent4SearchModel item in ViewBag.Data)
                                {

                                    <tr class="fz-18">
                                        <td>@item.文章編號</td>
                                        <td>@item.文章類別名稱</td>
                                        <td>@item.建議看診科別</td>
                                        <td><a href="javascript:void(0);" data-val="@item.文章編號" class="ChangeGuardian">@item.文章標題</a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="layout__form-btns">
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Guardian" class="btn__rec-main fz-18 fwb">@ViewBag.ResLang["回上一頁"]</a>
                </div>
            </div>
        </section>
    </div>
</main>
@section css {
    @Styles.Render("~/Scripts/fancybox/jquery.fancybox.min.css")
}
@section scripts {
    @Scripts.Render("~/Scripts/fancybox/jquery.fancybox.min.js")
    <script>

        $(document).ready(function () {


            $('.ChangeGuardian').click(function () {

                $.fancybox.open({
                    src: "https://webapp.cgmh.org.tw/healthedu/view/edu_detail.aspx?artno=" + $(this).attr('data-val'),
                    type: 'iframe',
                    opts: {
                        afterShow: function (instance, current) {
                            // console.info('done!');
                        }
                    }
                });
            });
        });
    </script>
}