﻿@using Web.Models;
@using Web.Service;
@using Web.ServiceModels;
@{
    index_info data = ViewBag.Data;
    List<GlobalArticleListModel> SA1 = ViewBag.SA1;
}
<main class="main service">
    <div class="inner">
        <section class="layout__hero layout__hero-index">
            <div class="layout__container-1400 layout__breadcrumb fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                </ul>
            </div>
            <div class="slider slick-default slick-hero">
                @if (ViewBag.SA1 != null && SA1.Count > 0)
                {
                    foreach (GlobalArticleListModel item in ViewBag.SA1)
                    {
                        <div class="imgLiquidFill hero__content">
                            <img src="@item.photoUrl" alt="@item.title">
                            <div class="layout__container-1400">
                                <div class="fz-64 fwb">@item.title</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/02-service/index/hero.jpg" alt="">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">中西醫整合、追求最優化<br>完整獨立、活潑的醫療空間</div>
                        </div>
                    </div>
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/02-service/index/hero.jpg" alt="">
                        <div class="layout__container-1400">
                            <div class="fz-64 fwb">中西醫整合、追求最優化<br>完整獨立、活潑的醫療空間</div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="layout__page-title pd__page-title">
            <h3 class="fz-48 fwb">@data.subject</h3>
            <p class="fz-17">@Html.Raw(data.notes)</p>
            <div class="decline"></div>
        </section>

        @Html.Raw(FunctionService.FormatImagePath(data.content))

        @Html.Raw(FunctionService.FormatImagePath(data.content2))

        @Html.Raw(FunctionService.FormatImagePath(data.content3))


    </div>
</main>
