﻿<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>


            @Html.Partial("ServiceMenu")<!--共用選單-->


        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["網站會員"]</h3>
        </section>


            <section class="layout__nav-subclass pd__section-footer">
                <div class="list layout__container-full">
                    <div class="online__member-login layout__container-1400">
                        <div class="block">
                            <div class="imgLiquidFill bgimage">
                                <img src="~/images/02-service/online/1.jpg" alt="">
                            </div>
                            <div class="text">
                                <div class="fz-30 fwb">@ViewBag.ResLang["加入會員"]</div>
                                <div class="fz-18 margin">@ViewBag.ResLang["加入長庚網站會員"]</div>
                                <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Registered" class="btn__rec-main-full fz-18">@ViewBag.ResLang["立即註冊"]</a>
                            </div>
                        </div>


                        <div class="block tac">

                            <div class="fz-30 fwb">@ViewBag.ResLang["會員登入"]</div>
                            <div class="fz-18 fwb fc-main margin">@ViewBag.ResLang["維護會員資料請直接輸入帳號密碼登入"]</div>
                            <form action="@Url.Content("~/" + ViewBag.Lang)/Services/LoginCheck" class="fz-18" name="LoginForm" id="LoginForm" method="post">
                                @Html.AntiForgeryToken()
                                <div class="wrap-460">
                                    <div class="input">
                                        <div class="fc-light">@ViewBag.ResLang["帳號"]</div>
                                        <input type="text" name="account" id="account" required>
                                        <div class="_formErrorMsg"></div>
                                    </div>
                                    <div class="input">
                                        <div class="fc-light">@ViewBag.ResLang["密碼"]</div>
                                        <input type="password" name="password" id="password" required>
                                        <div class="_formErrorMsg"></div>
                                    </div>
                                    <div class="input verify">
                                        <div class="fc-light">@ViewBag.ResLang["驗證碼"]</div>
                                        <input type="text" name="verification" id="verification" required>
                                        <div class="verify__wrap">
                                            <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                                            <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                                        </div>
                                    </div>
                                    <!--
                <div class="img">
                    <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                </div>-->
                                    <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["登入"]</button>
                                </div>
                            </form>
                            <a class="fz-18 btn-forgot margin-forgot" href="@Url.Content("~/" + ViewBag.Lang)/Services/ForgotPassword">@ViewBag.ResLang["忘記密碼"]</a>
                            <a class="fz-18 btn-forgot margin-forgot" href="@Url.Content("~/" + ViewBag.Lang)/Services/SendActive">@ViewBag.ResLang["重新寄送會員啟用信"]</a>
                        </div>


                    </div>
                </div>
            </section>

    </div>
</main>
@section scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }

    <script>
        $(document).ready(function () {
            $("#LoginForm").each(function () {


                $("#LoginForm").validate({


                 submitHandler: function (form) {


                    $('.submitBut').attr("disabled", true);

                    return true;
                },
                errorPlacement: function (error, element) {
                    element.attr('style', 'border:#FF0000 1px solid;');
                    //element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                },
                success: function (error) {

                    var findID = $('#' + error[0].id.replace('-error', ''));

                    //console.log(error[0].id);

                    $(findID).attr('style', '');
                    //findID.next("._formErrorMsg").html('');
                    return false;

                }
            });
        });
        });
    </script>

}