﻿@using Web.ServiceModels;
@{
    MemberDataModel MemberData = ViewBag.MemberData;
}
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["會員服務"]</h3>
            <div class="fz18 online__text-wrap">歡迎您使用財團法人長庚紀念醫院全球資訊網站會員服務功能，請直接點選我們所提供之功能選項，<br>如果想要修改會員資料及登入密碼，請點選會員資料管理。有任何關於網站會員之問題，也請與我們連絡。</div>
        </section>
        <section class="layout__nav-subclass nav-tab">
            <div class="layout__container-1400">
                <ul class="nav ul-reset fz-17 slick-nav-subclass slick-arrow-round">
                    <li>@ViewBag.ResLang["會員資料管理"]</li>
                    <li>@ViewBag.ResLang["修改密碼"]</li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Logout">@ViewBag.ResLang["登出"]</a></li>
                </ul>
            </div>

            <div class="list layout__container-full bg-grey">
                <div class="layout__container-1400 slick-target-subclass">
                    <div class="item">
                        <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/MemberEditForm")" class="layout__container-1400" name="MemberEditForm" id="MemberEditForm" method="post">
                            @Html.AntiForgeryToken()
                            <div class="layout__form bg-white">
                                <div class="head-2 fz-20 fwb">@ViewBag.ResLang["會員資料管理"] (<span class="fc-red"> * </span>@ViewBag.ResLang["為必填"] )</div>
                                <div class="form fc-light">
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["會員帳號"]<span class="fc-red"> * </span></div>
                                        <div class="td"><input type="email" name="account" id="account" required readonly placeholder="@ViewBag.ResLang["您的會員帳號即電子信箱"]" value="@if(ViewBag.MemberData != null) {@MemberData.account}"><span class="iformErrorMsg"></span></div>
                                    </div>
                                 

                                    <div class="hr"></div>
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["中文姓名"]<span class="fc-red"> * </span></div>
                                        <div class="td"><input type="text" name="cName" id="cName" required placeholder="@ViewBag.ResLang["請填寫真實姓名"]" value="@if(ViewBag.MemberData != null) {@MemberData.cName}"><span class="_formErrorMsg"></span></div>
                                    </div>

                                    <div class="row align-top">
                                        <div class="td">@ViewBag.ResLang["性別"]<span class="fc-red"> * </span></div>
                                        <div class="td">
                                            <ul class="ul-reset inline no-margin">
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["男"]
                                                        <input type="radio" name="sex" value="M" @if (ViewBag.MemberData == null || MemberData.sex == "M") { @Html.Raw("checked") }>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["女"]
                                                        <input type="radio" name="sex" value="F" @if (ViewBag.MemberData != null && MemberData.sex == "F") { @Html.Raw("checked") }>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["出生日期"]</div>
                                        <div class="td"><input type="text" name="birthday" id="birthday" placeholder="" readonly class="daterangepicker" value="@if(ViewBag.MemberData != null) {@MemberData.birthday}"></div>
                                    </div>
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["聯絡電話"]</div>
                                        <div class="td"><input type="tel" name="tel" id="tel" placeholder="" value="@if(ViewBag.MemberData != null) {@MemberData.tel}"></div>
                                    </div>
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["地址"]</div>
                                        <div class="td"><input type="text" name="address" id="address" placeholder="" value="@if(ViewBag.MemberData != null) {@MemberData.address}"></div>
                                    </div>

                                    <div class="hr"></div>
                                    <div class="row align-top">
                                        <div class="td">@ViewBag.ResLang["訂閱電子報"]<span class="fc-red"> * </span></div>
                                        <div class="td">
                                            <ul class="ul-reset">
                                                <li>
                                                    <ul class="ul-reset inline">
                                                        <li>@ViewBag.ResLang["長庚醫訊"]</li>
                                                        <li>
                                                            <label class="radio">
                                                                @ViewBag.ResLang["是"]
                                                                <input type="radio" name="paperId" value="E01" @if (ViewBag.MemberData != null && MemberData.ePaper.FirstOrDefault().paperId == "E01") { @Html.Raw("checked") }>
                                                                <div class="checkmark"></div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="radio">
                                                                @ViewBag.ResLang["否"]
                                                                <input type="radio" name="paperId" value="E02" @if (ViewBag.MemberData == null || MemberData.ePaper.FirstOrDefault().paperId == "E02") { @Html.Raw("checked") }>
                                                                <div class="checkmark"></div>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li style="display:none;">
                                                    <ul class="ul-reset inline">
                                                        <li>@ViewBag.ResLang["未來新增"]</li>
                                                        <li>
                                                            <label class="radio">
                                                                @ViewBag.ResLang["是"]
                                                                <input type="radio" name="isOrder" value="Y" @if (ViewBag.MemberData != null && MemberData.ePaper.FirstOrDefault().isOrder == "Y") { @Html.Raw("checked") }>
                                                                <div class="checkmark"></div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="radio">
                                                                @ViewBag.ResLang["否"]
                                                                <input type="radio" name="isOrder" value="N" @if (ViewBag.MemberData == null || MemberData.ePaper.FirstOrDefault().isOrder == "N") { @Html.Raw("checked") }>
                                                                <div class="checkmark"></div>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                     <div class="row verify">
                                     <div class="td">@ViewBag.ResLang["請輸入驗證碼"]<span class="fc-red"> * </span></div>
                                  <div class="td">
                                    <input type="text"  name="verification" id="verification" required>
                                    <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                                    <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                                  </div>
                                </div>
                            <!--
                            <div class="img">
                                <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                            </div>-->

                                </div>
                            </div>
                            <div class="layout__form-btns tac fz-18">
                                <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["確認送出"]</button>
                                <button type="reset" class="btn__rec-main">@ViewBag.ResLang["重新填寫"]</button>
                            </div>
                        </form>
                    </div>
                    <div class="item">
                        <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/ModifyPassword")" class="layout__container-1400" name="ForgotForm" id="ForgotForm" method="post">
                            @Html.AntiForgeryToken()
                            <div class="layout__form bg-white">
                                <div class="head-2 fz-20 fwb">@ViewBag.ResLang["修改密碼"] (<span class="fc-red"> * </span>@ViewBag.ResLang["為必填"] )</div>
                                <div class="form fc-light">
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["設定密碼"]<span class="fc-red"> * </span></div>
                                        <div class="td"><input type="password" name="password" id="password" required placeholder="@ViewBag.ResLang["密碼格式"]"><span class="_formErrorMsg"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="td">@ViewBag.ResLang["確認密碼"]<span class="fc-red"> * </span></div>
                                        <div class="td"><input type="password" name="passwordChk" id="passwordChk" required placeholder="@ViewBag.ResLang["請再輸入一次密碼"]"><span class="_formErrorMsg"></span></div>
                                    </div>
                                    <div class="img">
                                        <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="layout__form-btns tac fz-18">
                                <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["確認送出"]</button>
                            </div>
                        </form>
                    </div>

                    <div class="item">
                        <div class="layout__container-1400"></div>
                    </div>
                </div>
            </div>


        </section>

    </div>
</main>

@section css {

    @Styles.Render("~/Styles/jquery-ui.css")
}

@section scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
        @Scripts.Render("~/Scripts/datepicker-zh-TW.js")
    }

    <script>
        $(document).ready(function () {


            $(".daterangepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1910:@DateTime.Now.ToString("yyyy")',
                dateFormat: 'yymmdd'
            });
            $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
                                 
            $("#MemberEditForm").each(function () {




                $("#MemberEditForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);

                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });

            $("#ForgotForm").each(function () {


                $("#ForgotForm").validate({
                    rules: {
                        password: {
                            required: true,
                            minlength: 6,
                            maxlength: 14,
                        },
                        passwordChk: {
                            required: true,
                            minlength: 6,
                            maxlength: 14,
                            equalTo: "#password",
                        },
                    },
                    submitHandler: function (form) {

                        $('.submitBut').attr("disabled", true);

                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
    </script>

}
