﻿
    <div class="mobile-nav hide-tablet-portrait-up">
        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
            <option disabled >@ViewBag.ResLang["請選擇項目"]</option>
            <option @if (ViewBag.ActionDefult == "Login") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["網站會員"]</option>
            <option @if (ViewBag.ActionDefult == "Guardian") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Guardian">@ViewBag.ResLang["衛教園地"]</option>
            <option @if (ViewBag.ActionDefult == "Advisory") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Advisory">@ViewBag.ResLang["醫療諮詢"]</option>
            <option @if (ViewBag.ActionDefult == "Consultation") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Consultation">@ViewBag.ResLang["用藥諮詢"]</option>
            <option @if (ViewBag.ActionDefult == "Drug") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Drug">@ViewBag.ResLang["藥品綜合查詢"]</option>
            <!-- <option value="service-online06.php">中醫用藥查詢</option> -->
            <option @if (ViewBag.ActionDefult == "DrugGuide") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/DrugGuide">@ViewBag.ResLang["用藥指導單張"]</option>
            <option @if (ViewBag.ActionDefult == "Questionnaire") { @Html.Raw("selected")} value="@Url.Content("~/" + ViewBag.Lang)/Services/Questionnaire">@ViewBag.ResLang["服務滿意度問卷調查"]</option>
        </select>
    </div>
    <ul class="ul-reset fz-20 hide-tablet-portrait-under">
        <li><a @if (ViewBag.ActionDefult == "Login") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["網站會員"]</a></li>
        <li><a @if (ViewBag.ActionDefult == "Guardian") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/Guardian">@ViewBag.ResLang["衛教園地"]</a></li>
        <li><a @if (ViewBag.ActionDefult == "Advisory") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/Advisory">@ViewBag.ResLang["醫療諮詢"]</a></li>
        <li><a @if (ViewBag.ActionDefult == "Consultation") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/Consultation">@ViewBag.ResLang["用藥諮詢"]</a></li>
        <li><a @if (ViewBag.ActionDefult == "Drug") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/Drug">@ViewBag.ResLang["藥品綜合查詢"]</a></li>
        <!-- <li><a href="service-online06.php">中醫用藥查詢</a></li> -->
        <li><a @if (ViewBag.ActionDefult == "DrugGuide") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/DrugGuide">@ViewBag.ResLang["用藥指導單張"]</a></li>
        <li><a @if (ViewBag.ActionDefult == "Questionnaire") { @Html.Raw("class=\"active\"")} href="@Url.Content("~/" + ViewBag.Lang)/Services/Questionnaire">@ViewBag.ResLang["服務滿意度問卷調查"]</a></li>
    </ul>

