﻿@using Web.Service;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.ResLang["服務滿意度問卷調查"]</h3>
                <div class="fz-18">@Html.Raw(ViewBag.Data.sub_title.Replace(Environment.NewLine, "<br />"))</div>
            </div>
        </section>
        <section class="online__08 layout__container-1400 pd__section-footer">
            @Html.Raw(@Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content)))
        </section>
    </div>
</main>