﻿@using Web.Models;
<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/online/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>


            @Html.Partial("ServiceMenu")<!--共用選單-->



        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["加入會員"]</h3>
        </section>


        <section class="layout__nav-subclass pd__section-footer">

            <div class="list layout__container-full">
                <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/RegisteredForm")" class="layout__container-1400" name="RegisteredForm" id="RegisteredForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="layout__form">
                        <div class="head fz-18 bg-grey">@ViewBag.ResLang["請確實填寫基本資料"] ( <span class="fc-red"> * </span>@ViewBag.ResLang["為必填"] )</div>
                        <div class="form fc-light">
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["會員帳號"]<span class="fc-red"> * </span></div>
                                <div class="td"><input type="email" name="account" id="account" required placeholder="@ViewBag.ResLang["您的會員帳號即電子信箱"]" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["account"]}"><span class="_formErrorMsg"></span></div>
                            </div>
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["設定密碼"]<span class="fc-red"> * </span></div>
                                <div class="td"><input type="password" name="password" id="password" required placeholder="@ViewBag.ResLang["密碼格式"]"><span class="_formErrorMsg"></span></div>
                            </div>
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["確認密碼"]<span class="fc-red"> * </span></div>
                                <div class="td"><input type="password" name="passwordChk" id="passwordChk" required placeholder="@ViewBag.ResLang["請再輸入一次密碼"]"><span class="_formErrorMsg"></span></div>
                            </div>


                            <div class="hr"></div>
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["中文姓名"]<span class="fc-red"> * </span></div>
                                <div class="td"><input type="text" name="cName" id="cName" required placeholder="@ViewBag.ResLang["請填寫真實姓名"]" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["cName"]}"><span class="_formErrorMsg"></span></div>
                            </div>

                            <div class="row align-top">
                                <div class="td">@ViewBag.ResLang["性別"]<span class="fc-red"> * </span></div>
                                <div class="td">
                                    <ul class="ul-reset inline no-margin">
                                        <li>
                                            <label class="radio">
                                                @ViewBag.ResLang["男"]
                                                <input type="radio" name="sex" value="M" @if (ViewBag.Registered == null || ViewBag.Registered["sex"] == "M") {@Html.Raw("checked")}>
                                                <div class="checkmark"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="radio">
                                                @ViewBag.ResLang["女"]
                                                <input type="radio" name="sex" value="F" @if(ViewBag.Registered != null && ViewBag.Registered["sex"] == "F") {@Html.Raw("checked")}>
                                                <div class="checkmark"></div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["出生日期"]</div>
                                <div class="td"><input type="text" name="birthday" id="birthday" placeholder="" readonly class="daterangepicker" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["birthday"]}"></div>
                            </div>
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["聯絡電話"]</div>
                                <div class="td"><input type="tel" name="tel" id="tel" placeholder="" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["tel"]}"></div>
                            </div>
                            <div class="row align-top">
                                <div class="td">@ViewBag.ResLang["連絡地址"]</div>
                                <div class="td td-full">
                                    <select class="select-s" name="city" id="city">
                                        <option disabled selected value="">@ViewBag.ResLang["選擇縣市"]</option>
                                        @if (ViewBag.Taiwan != null)
                                        {
                                            foreach (taiwan_city item in ViewBag.Taiwan)
                                            {
                                                string selected = "";

                                                if (ViewBag.Registered != null && ViewBag.Registered["city"] == item.city)
                                                {
                                                    selected = " selected";
                                                }
                                                <option value="@item.city" @selected>@item.city</option>
                                            }
                                        }


                                    </select>
                                    <select class="select-w" name="district" id="district">
                                        <option disabled selected value="">@ViewBag.ResLang["選擇區鄉鎮"]</option>
                                        @if (ViewBag.TaiwanDistrict != null)
                                        {
                                            foreach (taiwan_city item in ViewBag.TaiwanDistrict)
                                            {

                                                string selected = "";

                                                if (ViewBag.Registered != null && ViewBag.Registered["district"] == item.district)
                                                {
                                                    selected = " selected";
                                                }

                                                <option value="@item.district" @selected>@item.district</option>
                                            }
                                        }
                                    </select>
                                    <input class="select-w" name="rd" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["rd"]}">
                                    <input class="input-short" name="lane" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["lane"]}">
                                    <label>@ViewBag.ResLang["巷"]</label>
                                    <input class="input-short" name="do" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["do"]}">
                                    <label>@ViewBag.ResLang["弄"]</label>
                                    <input class="input-short" name="no" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["no"]}">
                                    <label>@ViewBag.ResLang["號"]</label>
                                    <input class="input-short" name="floor" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["floor"]}">
                                    <label>@ViewBag.ResLang["樓"]@ViewBag.ResLang["之"]</label>
                                    <input class="input-short" name="It" type="text" value="@if(ViewBag.Registered != null) {@ViewBag.Registered["It"]}">
                                </div>
                            </div>

                            <div class="hr"></div>
                            <div class="row align-top">
                                <div class="td">@ViewBag.ResLang["訂閱電子報"]<span class="fc-red"> * </span></div>
                                <div class="td">
                                    <ul class="ul-reset">
                                        <li>
                                            <ul class="ul-reset inline">
                                                <li>@ViewBag.ResLang["長庚醫訊"]</li>
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["是"]
                                                        <input type="radio" name="paperId" value="E01"  @if(ViewBag.Registered != null && ViewBag.Registered["paperId"] == "E01") {@Html.Raw("checked")}>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["否"]
                                                        <input type="radio" name="paperId" value="E02"  @if(ViewBag.Registered == null || ViewBag.Registered["paperId"] == "E02") {@Html.Raw("checked")}>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li style="display:none;">
                                            <ul class="ul-reset inline">
                                                <li>@ViewBag.ResLang["未來新增"]</li>
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["是"]
                                                        <input type="radio" name="isOrder" value="Y"  @if(ViewBag.Registered != null && ViewBag.Registered["isOrder"] == "Y") {@Html.Raw("checked")}>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        @ViewBag.ResLang["否"]
                                                        <input type="radio" name="isOrder" value="N" @if(ViewBag.Registered == null || ViewBag.Registered["isOrder"] == "N") {@Html.Raw("checked")}>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                               <div class="row verify">
                                     <div class="td">@ViewBag.ResLang["請輸入驗證碼"]<span class="fc-red"> * </span></div>
                                  <div class="td">
                                    <input type="text"  name="verification" id="verification" required>
                                    <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                                    <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                                  </div>
                                </div>
                            <!--
                            <div class="img">
                                <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                            </div>-->
                        </div>
                    </div>
                    <div class="layout__form-btns tac fz-18">
                        <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["確認送出"]</button>
                        <button type="reset" class="btn__rec-main">@ViewBag.ResLang["重新填寫"]</button>
                    </div>
                </form>
            </div>
        </section>

    </div>
</main>
    @section css {

          @Styles.Render("~/Styles/jquery-ui.css")
    }

    @section scripts {
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!-- * * * validate 表單驗證-->
        @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @if (ViewBag.Lang == "tw")
        {
            @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
            @Scripts.Render("~/Scripts/datepicker-zh-TW.js")
        }

        <script>
        $(document).ready(function () {


            $(".daterangepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1910:@DateTime.Now.ToString("yyyy")',
                dateFormat: 'yymmdd'
            });
            $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);

            $('#city').change(function () {


                var needVal = new FormData();
                needVal.append('city', $(this).val());



                      $.ajax({
                        type: 'POST',
                         url: '@Url.Content("~/" + ViewBag.Lang + "/Services/GetDistrict")',
                        data: needVal,
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () { },
                        success: function (json) {
                            //console.log(json);
                            //var reData = JSON.parse(json);
                            $('#district').html('<option disabled selected value="">@ViewBag.ResLang["選擇區鄉鎮"]</option>');
                            for (var i = 0; i < json.length; i++) {
                                $('#district').append('<option value="' + json[i].district +'">' + json[i].district+'</option>')
                            }

                        },
                        complete: function () { },
                        error: function () { }
                    });





            });





            $("#RegisteredForm").each(function () {


                $("#RegisteredForm").validate({

                    rules: {
                        account: {
                            required: true,
                            remote: '@Url.Content("~/"+ViewBag.Lang + "/Services/CheckAccount")'
                        },
                        password: {
                            required: true,
                            minlength: 6,
                            maxlength: 14,
                        },
                        passwordChk: {
                            required: true,
                            minlength: 6,
                            maxlength: 14,
                            equalTo: "#password",
                        },
                    },
                    submitHandler: function (form) {


                        $('.submitBut').attr("disabled", true);

                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
        </script>

    }

