﻿<main class="main service">
    <div class="inner online">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["線上服務"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/01-index/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["線上服務"]</h2>
                    <h3 class="fz-24 fwn">快速查詢相關業務，提供完善資訊服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            @Html.Partial("OnlineMenu")<!--共用選單-->
            <h3 class="fz-36 fwb tac">@ViewBag.ResLang["重新寄送會員啟用信"]</h3>
        </section>
        <section class="layout__nav-subclass pd__section-footer">
            <div class="list layout__container-full">
                <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/SendActiveForm")" class="layout__container-1400" name="ForgotForm" id="ForgotForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="layout__form">
                        <div class="head fz-18 bg-grey">@ViewBag.ResLang["沒有收到會員啟用信嗎"]</div>
                        <div class="form fc-light">
                            <div class="row">
                                <div class="td">@ViewBag.ResLang["電子信箱"]<span class="fc-red"> * </span></div>
                                <div class="td"><input type="email" name="account" id="account" placeholder="@ViewBag.ResLang["您的會員帳號即電子信箱"]"></div>
                            </div>
                            <div class="row verify">
                                <div class="td">@ViewBag.ResLang["請輸入驗證碼"]<span class="fc-red"> * </span></div>
                                <div class="td">
                                    <input type="text" name="verification" id="verification" required>
                                    <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                                    <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                                </div>
                            </div>
                            <!--
                            <div class="img margin-top">
                                <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                            </div>
                                -->
                        </div>
                    </div>
                    <div class="layout__form-btns tac fz-18">
                        <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["下一步"]</button>
                    </div>
                </form>
            </div>
        </section>

    </div>
</main>

@section css {

    @Styles.Render("~/Styles/jquery-ui.css")
}

@section scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @if (ViewBag.Lang == "tw")
    {
@Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
                    @Scripts.Render("~/Scripts/datepicker-zh-TW.js")}

    <script>$(document).ready(function () {


            $("#ForgotForm").each(function () {


                $("#ForgotForm").validate({

                    submitHandler: function (form) {

                        $('.submitBut').attr("disabled", true);

                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });</script>

}
