﻿@using Web.Models;
@{
    web_data WebData = ViewBag.webData;
}
<ul class="nav ul-reset fwb layout__container-1400">
    <li @if (ViewBag.Action == "Team") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">
            <div class="fz-24">@ViewBag.ResLang["醫療團隊"]</div>
            <div class="svg">
                <svg width="90%" height="90%" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><circle cx="255.999" cy="64.005" r="64" /><path d="M351.871,301.957l-14.528,-113.152c-1.632,-16.416 -15.328,-28.8 -31.808,-28.8l-17.536,0c-4.256,0 -8.32,1.696 -11.328,4.672l-20.672,20.672l-20.672,-20.672c-3.008,-2.976 -7.072,-4.672 -11.328,-4.672l-17.504,0c-16.512,0 -30.208,12.384 -31.808,28.384l-14.56,113.6c-0.576,4.544 0.832,9.152 3.872,12.576c3.04,3.456 7.392,5.44 12,5.44l17.28,0l13.376,163.2c1.6,16.384 15.328,28.8 31.84,28.8l35.04,0c16.512,0 30.208,-12.416 31.872,-29.088l13.344,-162.912l17.248,0c4.608,0 8.96,-1.984 12,-5.44c3.072,-3.424 4.48,-8.032 3.872,-12.608Z" style="fill-rule:nonzero;" /><circle cx="415.999" cy="64.005" r="64" /><path d="M95.999,0.005c-35.296,0 -64,28.704 -64,64c0,35.296 28.704,64 64,64c35.264,0 64,-28.704 64,-64c0,-35.296 -28.736,-64 -64,-64Z" style="fill-rule:nonzero;" /><path d="M511.871,301.957l-14.528,-113.12c-1.632,-16.448 -15.296,-28.832 -31.808,-28.832l-17.536,0c-4.256,0 -8.32,1.696 -11.328,4.672l-20.672,20.672l-20.672,-20.672c-3.008,-2.976 -7.072,-4.672 -11.296,-4.672l-17.536,0c-1.984,0 -3.776,0.704 -5.664,1.056c4.128,7.296 7.36,15.2 8.32,24.064l14.496,112.768c1.792,13.728 -2.496,27.552 -11.712,37.952c-4.352,4.992 -9.92,8.512 -15.872,11.264l10.624,104.096c1.632,16.416 15.328,28.8 31.84,28.8l35.04,0c16.512,0 30.208,-12.416 31.872,-29.088l13.312,-130.912l17.248,0c4.608,0 8.96,-1.984 12,-5.44c3.072,-3.424 4.48,-8.032 3.872,-12.608Z" style="fill-rule:nonzero;" /><path d="M139.967,335.685c-9.088,-10.272 -13.312,-24.064 -11.584,-37.728l14.56,-113.632c0.832,-8.512 3.968,-16.192 7.968,-23.296c-1.792,-0.32 -3.488,-1.024 -5.376,-1.024l-17.536,0c-4.256,0 -8.32,1.696 -11.328,4.672l-20.672,20.672l-20.672,-20.672c-3.008,-2.976 -7.072,-4.672 -11.296,-4.672l-17.537,0c-16.512,0 -30.208,12.384 -31.808,28.384l-14.56,113.6c-0.576,4.544 0.832,9.152 3.872,12.576c3.04,3.456 7.424,5.44 12,5.44l17.28,0l13.376,131.2c1.6,16.384 15.328,28.8 31.84,28.8l35.04,0c16.512,0 30.208,-12.416 31.872,-29.088l10.624,-103.84c-5.983,-2.784 -11.583,-6.336 -16.063,-11.392Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Guide") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Index">
            <div class="fz-24">@ViewBag.ResLang["就醫指南"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 384 384" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M352,88l-80,0l0,-32c0,-17.648 -14.352,-32 -32,-32l-96,0c-17.648,0 -32,14.352 -32,32l0,32l-80,0c-17.648,0 -32,14.352 -32,32l0,208c0,17.648 14.352,32 32,32l320,0c17.648,0 32,-14.352 32,-32l0,-208c0,-17.648 -14.352,-32 -32,-32Zm-96,32l32,0l0,16c0,8.824 -7.176,16 -16,16c-8.824,0 -16,-7.176 -16,-16l0,-16Zm-112,-64l96,0l0,32l-96,0l0,-32Zm-48,64l32,0l0,16c0,8.824 -7.176,16 -16,16c-8.824,0 -16,-7.176 -16,-16l0,-16Zm256,208l-320,0l-0.023,-208l32.023,0l0,16c0,26.473 21.527,48 48,48c26.473,0 48,-21.527 48,-48l0,-16l64,0l0,16c0,26.473 21.527,48 48,48c26.473,0 48,-21.527 48,-48l0,-16l32,0l0,208Z" style="fill-rule:nonzero;" /><path d="M224,208l-16,0l0,-16c0,-8.832 -7.168,-16 -16,-16c-8.832,0 -16,7.168 -16,16l0,16l-16,0c-8.832,0 -16,7.168 -16,16c0,8.832 7.168,16 16,16l16,0l0,16c0,8.832 7.168,16 16,16c8.832,0 16,-7.168 16,-16l0,-16l16,0c8.832,0 16,-7.168 16,-16c0,-8.832 -7.168,-16 -16,-16Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Online") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">
            <div class="fz-24">@ViewBag.ResLang["線上服務"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 612 612" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M257.938,336.072c0,17.355 -14.068,31.424 -31.423,31.424c-17.354,0 -31.422,-14.068 -31.422,-31.424c0,-17.354 14.068,-31.423 31.422,-31.423c17.355,0.001 31.423,14.07 31.423,31.423Zm127.547,-31.422c-17.354,0 -31.423,14.068 -31.423,31.424c0,17.354 14.069,31.422 31.423,31.422c17.354,0 31.424,-14.068 31.424,-31.422c-0.001,-17.355 -14.069,-31.424 -31.424,-31.424Zm226.515,13.907l0,59.719c0,29.982 -24.305,54.287 -54.288,54.287l-39.394,0c-39.035,108.384 -138.714,173.849 -212.318,173.849c-73.604,0 -173.283,-65.465 -212.318,-173.85l-39.394,0c-29.983,0 -54.288,-24.304 -54.288,-54.287l0,-59.719c0,-20.631 11.511,-38.573 28.46,-47.758c0.569,-84.785 25.28,-151.002 73.553,-196.779c47.882,-45.406 116.513,-68.431 203.987,-68.431c87.474,0 156.105,23.025 203.987,68.43c48.272,45.777 72.982,111.995 73.553,196.779c16.949,9.186 28.46,27.128 28.46,47.76Zm-114.901,17.714c0,-13.969 -0.715,-27.094 -1.771,-39.812c-24.093,-22.043 -67.832,-38.769 -123.033,-44.984c7.248,8.15 13.509,18.871 17.306,32.983c-33.812,-26.637 -100.181,-20.297 -150.382,-79.905c-2.878,-3.329 -5.367,-6.51 -7.519,-9.417c-0.025,-0.035 -0.053,-0.062 -0.078,-0.096l0.006,0.002c-8.931,-12.078 -11.976,-19.262 -12.146,-11.31c-1.473,68.513 -50.034,121.925 -103.958,129.46c-0.341,7.535 -0.62,15.143 -0.62,23.08c0,28.959 4.729,55.352 12.769,79.137c30.29,36.537 80.312,46.854 124.586,49.59c8.219,-13.076 26.66,-22.205 48.136,-22.205c29.117,0 52.72,16.754 52.72,37.424c0,20.668 -23.604,37.422 -52.72,37.422c-22.397,0 -41.483,-9.93 -49.122,-23.912c-30.943,-1.799 -64.959,-7.074 -95.276,-21.391c42.634,62.843 108.728,96.073 150.003,96.073c64.859,0 191.099,-81.935 191.099,-232.139Zm53.756,-72.002c-3.455,-147.951 -87.904,-226.107 -244.855,-226.107c-156.951,0 -241.399,78.156 -244.855,226.107l20.887,0c7.637,-49.867 23.778,-90.878 48.285,-122.412c39.053,-50.248 98.161,-75.727 175.683,-75.727c77.522,0 136.63,25.479 175.685,75.727c24.505,31.533 40.647,72.545 48.284,122.412l20.886,0Z" style="fill-rule:nonzero;" /></svg>
            </div>
        </a>
    </li>

</ul>

<div class="layout__container-1400 layout__nav-top">
    <ul class="ul-reset fwb fz-17">
        <li>
            <a href="@WebData.register_url" target="_blank">
                <div class="circle">
                    <div class="svg">
                        <svg width="100%" height="100%" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M13.874,12.684c0,0.82 0.539,1.482 1.202,1.482l4.784,0c0.662,0 1.201,-0.662 1.201,-1.482c0,-1.483 -0.359,-3.19 -1.841,-3.19c-0.45,0.45 -1.067,0.719 -1.752,0.719c-0.685,0 -1.303,-0.269 -1.752,-0.719c-1.483,0 -1.842,1.707 -1.842,3.19Zm1.437,-4.987c0,1.191 0.966,2.157 2.157,2.157c1.19,0 2.156,-0.966 2.156,-2.157c0,-1.19 -0.966,-2.156 -2.156,-2.156c-1.191,0 -2.157,0.966 -2.157,2.156Zm-11.5,4.672l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm4.313,-2.875l0,0.719c0,0.202 0.157,0.359 0.359,0.359l3.594,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-3.594,0c-0.202,0 -0.359,0.157 -0.359,0.359Zm-4.313,0l0,0.719c0,0.202 0.158,0.359 0.36,0.359l2.156,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-2.156,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm0,-2.875l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm-1.437,9.344l0,-12.578l20.125,0l0,12.578c0,0.191 -0.168,0.359 -0.359,0.359l-19.407,0c-0.191,0 -0.359,-0.168 -0.359,-0.359Zm-1.438,-13.656l0,13.656c0,0.988 0.809,1.797 1.797,1.797l19.407,0c0.988,0 1.796,-0.809 1.796,-1.797l0,-13.656c0,-0.988 -0.808,-1.797 -1.796,-1.797l-19.407,0c-0.988,0 -1.797,0.809 -1.797,1.797Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                    </div>
                </div>@ViewBag.ResLang["即時掛號"]
            </a>
        </li>
        <li>
            <a href="@WebData.reference_url" target="_blank">
                <div class="circle">
                    <div class="svg">
                        <svg width="100%" height="100%" viewBox="0 0 13 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="path-5" serif:id="path 5" d="M2.408,4.635c0,2.072 1.678,3.75 3.75,3.75c2.072,0 3.75,-1.678 3.75,-3.75c0,-2.072 -1.678,-3.75 -3.75,-3.75c-2.072,0 -3.75,1.678 -3.75,3.75Zm0,7.969l0,8.437l-1.172,0c-0.647,0 -1.172,0.525 -1.172,1.172c0,0.647 0.525,1.172 1.172,1.172l9.844,0c0.647,0 1.172,-0.525 1.172,-1.172c0,-0.647 -0.525,-1.172 -1.172,-1.172l-1.172,0l0,-9.75c0,-0.572 -0.459,-1.031 -1.031,-1.031l-7.641,0c-0.647,0 -1.172,0.525 -1.172,1.171c0,0.648 0.525,1.173 1.172,1.173l1.172,0Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                    </div>
                </div>@ViewBag.ResLang["該看哪一科"]
            </a>
        </li>
        <li>
            <a href="@WebData.symptom_url" target="_blank">
                <div class="circle">
                    <div class="svg">
                        <svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M20.208,12.445l0,-6.072c0,-0.635 -0.515,-1.15 -1.15,-1.15c-0.635,0 -1.15,0.515 -1.15,1.15l0,11.512c0,3.176 -2.574,5.75 -5.75,5.75c-3.176,0 -5.75,-2.574 -5.75,-5.75l0,-1.242c-3.284,-0.57 -5.75,-3.399 -5.75,-6.804c0,-0.001 0,-0.003 0,-0.004l0,0l0,-6.9c0,-1.265 1.035,-2.3 2.3,-2.3l1.15,0c0.635,0 1.15,0.515 1.15,1.15c0,0.635 -0.515,1.15 -1.15,1.15l-1.15,0l0,6.9c0,2.54 2.059,4.6 4.6,4.6c2.54,0 4.6,-2.06 4.6,-4.6l0,-6.9l-1.15,0c-0.635,0 -1.15,-0.515 -1.15,-1.15c0,-0.635 0.515,-1.15 1.15,-1.15l1.15,0c1.27,0 2.3,1.03 2.3,2.3l0,6.905c0,3.404 -2.466,6.233 -5.709,6.797l-0.041,0.006l0,1.242c0,1.905 1.545,3.45 3.45,3.45c1.905,0 3.45,-1.545 3.45,-3.45l0,-11.5c0,-1.905 1.545,-3.45 3.45,-3.45c1.905,0 3.45,1.545 3.45,3.45l0,6.06c0.692,0.406 1.15,1.145 1.15,1.992c0,1.271 -1.03,2.3 -2.3,2.3c-1.27,0 -2.3,-1.029 -2.3,-2.3c0,-0.846 0.458,-1.586 1.139,-1.986l0.011,-0.006l0,0Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                    </div>
                </div>@ViewBag.ResLang["醫師介紹"]
            </a>
        </li>
    </ul>
</div>