﻿@using Web.ServiceModels;
@using Web.Models;
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                    <li><a>@ViewBag.ResLang["醫師介紹"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療團隊"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["團隊搜尋"]</h2>
        </section>
        <div class="layout__nav-search">
            <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/TeamList")" name="TeamSearchForm" id="TeamSearchForm" method="get">
                <ul class="ul-reset">
                    <li class="fz-17">
                        <select name="hospital" id="hospital">
                            <option value="">@ViewBag.ResLang["院區"]</option>

                            @if (ViewBag.Hospitals != null)
                            {
                                foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                                {
                                    if (!string.IsNullOrEmpty(item.hospitalID))
                                    {

                                        string selected = "";
                                        if (ViewBag.ID == item.hospitalID)
                                        {
                                            selected = " selected";
                                        }

                                        <option @selected value="@item.hospitalID">
                                            @if (!string.IsNullOrEmpty(item.join_title))
                                            {
                                                @item.join_title 
                                            }
                                            else
                                            { 
                                                @item.title
                                            }
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </li>
                    <li class="fz-17">
                        <select name="dept" id="dept">
                            <option value="all">@ViewBag.ResLang["全科系"]</option>
                        </select>
                        <input type="hidden" name="deptVal" id="deptVal" value="all" />
                    </li>

                    <li>
                        <input type="text" name="keyword" id="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                        <button type="submit"><i class="icon-search"></i></button>
                    </li>
                </ul>
            </form>
        </div>
        <section class="layout__container-1400 pd__section-footer"></section>
    </div>
</main>
@section scripts {
    <script>

        $(document).ready(function () {

            $('#TeamSearchForm').submit(function () {

                if ($('#hospital').val() == "") {
                    swal({
                        title: "@ViewBag.ResLang["系統訊息"].ToString()",
                        text: "@ViewBag.ResLang["請選擇院區"].ToString()",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                    }, function () {

                    });
                    return false;
                }
                else {
                    return true;
                }

            });

            $('#dept').change(function () {
                var val = $('#dept').val();
                $('input[name="deptVal"]').val(val);
            });

            //切換醫院
            $('#hospital').change(function () {

                setLoadPlayer('');
                var needVal = new FormData();
                needVal.append('hospital', $(this).val());

                $('#dept').html('<option selected value="">@ViewBag.ResLang["全科系"]</option>');

                      $.ajax({
                        type: 'POST',
                         url: '@Url.Content("~/" + ViewBag.Lang + "/Services/GetDept")',
                        data: needVal,
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () { },
                        success: function (json) {

                            for (var i = 0; i < json.length; i++) {
                                $('#dept').append('<option value="' + json[i].deptId + '">' + json[i].deptName + '</option>');
                                if (json[i].subDept.length != 0) {
                                    var subDept = json[i].subDept;
                                    $.each(subDept, function (index, value) {
                                        $('#dept').append('<option value="' + json[i].deptId + "_" + value.deptId + '">　└' + value.deptName + '</option>');
                                    });
                                }
                            }
                            setLoadPlayer('none');
                        },
                        complete: function () { },
                        error: function () { }
                    });
            });

        });
    </script>
}