﻿@using Web.Models;
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                    <li><a>@ViewBag.ResLang["醫師介紹"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療團隊"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>

            @Html.Partial("ServiceMenu")<!--共用選單-->
   
            
        </section>
        <section class="layout__page-title pd__nav-first">
            <h3 class="fz-36 fwb">@ViewBag.ResLang["醫療團隊"]</h3>
            <p class="fz-20">以院區查詢醫護人員，快速瀏覽相關資訊。</p>
        </section>
        <section class="layout__container-1400 pd__section-footer">
            <div class="layout__grid-circleblock">
                @if (ViewBag.Hospitals != null)
                {
                    foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                    {
                        if (!string.IsNullOrEmpty(item.hospitalID))
                        {
                            <div class="child">
                                <a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@item.hospitalID" class="wrap">
                                    <div class="imgLiquidFill">

                                        @if (item.pic.Contains("/Content"))
                                        {
                                            <img src="@Url.Content(item.pic)" alt="@item.title">
                                        }
                                        else if (item.pic.Contains("/Uploads"))
                                        {
                                            <img src="@Url.Content(item.pic.Replace("//Uploads" , "/Uploads"))" alt="@item.title">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("/"+item.pic)" alt="@item.title">
                                        }

                                    
                                    </div>
                                    <h4 class="fz-20">
                                        @if (!string.IsNullOrEmpty(item.join_title))
                                        {@item.join_title }
                                    else
                                    { @item.title}
                                    </h4>
                                </a>
                            </div>
                        }

                    }
                }
            </div>
        </section>
    </div>
</main>