﻿@using Web.ServiceModels;
@using Web.Service;
@using Web.Models;
@{ 
    List<DoctorDeptListModel> DeptList = ViewBag.Dept;
    List<DoctorDeptListModel> DeptListSelect = ViewBag.Dept;
    List<string> DeptId = ViewBag.DeptId;

    if (!string.IsNullOrEmpty(Request["dept"]))
    {
        DeptList = DeptList.FindAll(m => m.deptId == DeptId[0].ToString()).ToList();
    }

    GetOfficeServiceData OfficeAppData = new GetOfficeServiceData();

    List<hospitals>
    hospital = ViewBag.Hospitals;

    hospitals hosData = hospital.Find(m => m.hospitalID == Request["hospital"].ToString());

    string hospitalTitle = hosData.title;

    if (!string.IsNullOrEmpty(hosData.join_title))
    {
        hospitalTitle = hosData.join_title;
    } 


      Dictionary<string, List<SearchDoctorModel>> DoctorList = ViewBag.DoctorList;
}

<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@Request["hospital"].ToString()">@hospitalTitle</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@Request["hospital"].ToString()">@ViewBag.ResLang["醫師介紹"]</a></li>
                    @if (DeptId != null && DeptId[0].ToString() != "all")
                    {
                        <li><a>@DeptList.Find(m => m.deptId == DeptId[0].ToString()).deptName</a></li>
                    }
                    else
                    {
                        <li><a>@ViewBag.ResLang["全科系"]</a></li>
                    }
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫療團隊"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>
            @Html.Partial("ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["醫師介紹"]</h2>
        </section>
        <div class="layout__nav-search">
            <form action="@Url.Content("~/" + ViewBag.Lang + "/Services/TeamList")" name="TeamSearchForm" id="TeamSearchForm" method="get">
                <ul class="ul-reset">
                    <li class="fz-17">
                        <select name="hospital" id="hospital">
                            <option value="">@ViewBag.ResLang["院區"]</option>
                            @if (ViewBag.Hospitals != null)
                            {
                                foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                                {
                                    if (!string.IsNullOrEmpty(item.hospitalID))
                                    {

                                        string selected = "";
                                        if (Request["hospital"].ToString() == item.hospitalID)
                                        {
                                            selected = " selected";
                                        }

                                        <option @selected value="@item.hospitalID">
                                            @if (!string.IsNullOrEmpty(item.join_title))
                                            {
                                                @item.join_title 
                                            }
                                        else
                                        { 
                                                @item.title
                                        }
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </li>
                    <li class="fz-17">
                        <select name="dept" id="dept">
                            <option value="">@ViewBag.ResLang["全科系"]</option>
                            @if (ViewBag.Dept != null)
                            {
                                foreach (DoctorDeptListModel item in DeptListSelect)
                                {
                                    string selected = "";
                                    if (!string.IsNullOrEmpty(Request["dept"]) && Request["dept"].ToString() == item.deptId)
                                    {
                                        selected = " selected";
                                    }

                                        <option value="@item.deptId" @selected>@item.deptName</option> if (item.subDept != null && item.subDept.Count > 0)
                                        {
                                            foreach (DoctorDeptSubDeptModel subItem in item.subDept)
                                            {
                                                if (DeptId != null && DeptId.Count >= 2 && DeptId[1].ToString() == subItem.deptId)
                                                {
                                                    selected = " selected";
                                                }
                                                else
                                                {
                                                    selected = "";
                                                }
                                            <option value="@Html.Raw(item.deptId+"_"+subItem.deptId)" @selected>　└@subItem.deptName</option>}
                                        }
                                    }
                                }
                        </select>
                        @if (DeptId != null && DeptId.Count >= 2)
                        {
                            <input type="hidden" name="deptVal" id="deptVal" value="@Html.Raw(DeptId[0].ToString() + "_" + DeptId[1].ToString())" />
                        }
                        else if(DeptId != null && DeptId.Count == 1)
                        {
                            <input type="hidden" name="deptVal" id="deptVal" value="@Html.Raw(DeptId[0].ToString())" />
                        }
                        else
                        {
                            <input type="hidden" name="deptVal" id="deptVal" value="all" />
                        }
                    </li>
                    <li>
                        <input type="text" name="keyword" id="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]" value="@if(ViewBag.keyword != ""){@Html.Raw(ViewBag.keyword)}">
                        <button type="submit"><i class="icon-search"></i></button>
                    </li>
                    <li class="flex-end hide-tablet-under">
                        <a class="btn__back" href="@Url.Action("TeamSearch", "Services")">
                            <div class="svg">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 459 459" xml:space="preserve">
                                <g id="reply"><path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" /></g>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
        <section class="team-list layout__container-1400 pd__section-footer">
            @if (DoctorList.Count > 0)
            {

                foreach (KeyValuePair<string, List<SearchDoctorModel>> item in DoctorList)
                {
                    if (item.Value.Count > 0)
                    {
                        <h3 class="fz-36 tac">@item.Key</h3>

                        <ul class="ul-reset mb50">
                            @foreach (SearchDoctorModel Doctor in item.Value)
                            {
                                <li>
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/Services/DoctorInfo/@Doctor.doctorId">
                                        <h4 class="fz-24">@Doctor.doctorName</h4>
                                        <ul class="ul-reset ul-circle inner-list fz-17">
                                            @if (ViewBag.showHospital == "Y")
                                            {
                                                <li>@Doctor.hospitalName</li>
                                            }


                                            <li>@Doctor.jobTitle</li>
                                            @if(!string.IsNullOrEmpty(Doctor.specialty))
                                            {
                                                <li>@Doctor.specialty</li>
                                            }
                                            
                                        </ul>
                                    </a>
                                </li>
                            }


                        </ul>
                    }



                }


            }
         


        </section>
    </div>
</main>

@section scripts {
    <script>

        $(document).ready(function () {

            $('#TeamSearchForm').submit(function () {

                if ($('#hospital').val() == "") {
                    swal({
                        title: "@ViewBag.ResLang["系統訊息"].ToString()",
                        text: "@ViewBag.ResLang["請選擇院區"].ToString()",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                    }, function () {

                    });
                    return false;
                }
                else {
                    return true;
                }

            });

            $('#dept').change(function () {
                var val = $('#dept').val();
                $('input[name="deptVal"]').val(val);
            });

            //切換醫院
            $('#hospital').change(function () {

                setLoadPlayer('');
                var needVal = new FormData();
                needVal.append('hospital', $(this).val());

                $('#dept').html('<option selected value="">@ViewBag.ResLang["全科系"]</option>');

                      $.ajax({
                        type: 'POST',
                         url: '@Url.Content("~/" + ViewBag.Lang + "/Services/GetDept")',
                        data: needVal,
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () { },
                        success: function (json) {

                            for (var i = 0; i < json.length; i++) {
                                $('#dept').append('<option value="' + json[i].deptId + '">' + json[i].deptName + '</option>');
                                var subDept = json[i].subDept;
                                if (subDept != null && subDept.length > 0) {
                                    for (var s = 0; s < subDept.length; s++) {
                                        $('#dept').append('<option value="' + json[i].deptId + '_' + subDept[s].deptId + '">　└' + subDept[s].deptName + '</option>');
                                    }
                                }

                            }
                            setLoadPlayer('none');
                        },
                        complete: function () { },
                        error: function () { }
                    });
            });

        });
    </script>
}