﻿<div class="custom-control custom-checkbox checkboxes">
    <input class="custom-control-input selectAll" type="checkbox" value="{$value}" data-title="{$title}" data-guid="{$value}" id="ck_{$value}" />
    <label class="custom-control-label" for="ck_{$value}"> </label>
</div>