﻿@using Web.Service;
@using Web.Models;
@using Web.Controllers;
@using Newtonsoft.Json;
@{
    List<cm_list> CmList = ViewBag.Data;
    web_data WebData = ViewBag.webData;

}
<main class="main service">
    <div class="inner">
        <section class="layout__hero">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["特色醫療中心"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/07-cm/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["特色醫療中心"]</h2>
                    <h3 class="fz-24 fwn">專業的醫護人員，提供最佳的醫療服務</h3>
                </div>
            </div>
            </ul>
            <div class="layout__container-1400 layout__nav-top">
                <ul class="ul-reset fwb fz-17">
                    <li>
                        <a href="@WebData.register_url" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M13.874,12.684c0,0.82 0.539,1.482 1.202,1.482l4.784,0c0.662,0 1.201,-0.662 1.201,-1.482c0,-1.483 -0.359,-3.19 -1.841,-3.19c-0.45,0.45 -1.067,0.719 -1.752,0.719c-0.685,0 -1.303,-0.269 -1.752,-0.719c-1.483,0 -1.842,1.707 -1.842,3.19Zm1.437,-4.987c0,1.191 0.966,2.157 2.157,2.157c1.19,0 2.156,-0.966 2.156,-2.157c0,-1.19 -0.966,-2.156 -2.156,-2.156c-1.191,0 -2.157,0.966 -2.157,2.156Zm-11.5,4.672l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm4.313,-2.875l0,0.719c0,0.202 0.157,0.359 0.359,0.359l3.594,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-3.594,0c-0.202,0 -0.359,0.157 -0.359,0.359Zm-4.313,0l0,0.719c0,0.202 0.158,0.359 0.36,0.359l2.156,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-2.156,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm0,-2.875l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm-1.437,9.344l0,-12.578l20.125,0l0,12.578c0,0.191 -0.168,0.359 -0.359,0.359l-19.407,0c-0.191,0 -0.359,-0.168 -0.359,-0.359Zm-1.438,-13.656l0,13.656c0,0.988 0.809,1.797 1.797,1.797l19.407,0c0.988,0 1.796,-0.809 1.796,-1.797l0,-13.656c0,-0.988 -0.808,-1.797 -1.796,-1.797l-19.407,0c-0.988,0 -1.797,0.809 -1.797,1.797Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                                </div>
                            </div>@ViewBag.ResLang["即時掛號"]
                        </a>
                    </li>
                    <li>
                        <a href="@WebData.reference_url" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 13 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="path-5" serif:id="path 5" d="M2.408,4.635c0,2.072 1.678,3.75 3.75,3.75c2.072,0 3.75,-1.678 3.75,-3.75c0,-2.072 -1.678,-3.75 -3.75,-3.75c-2.072,0 -3.75,1.678 -3.75,3.75Zm0,7.969l0,8.437l-1.172,0c-0.647,0 -1.172,0.525 -1.172,1.172c0,0.647 0.525,1.172 1.172,1.172l9.844,0c0.647,0 1.172,-0.525 1.172,-1.172c0,-0.647 -0.525,-1.172 -1.172,-1.172l-1.172,0l0,-9.75c0,-0.572 -0.459,-1.031 -1.031,-1.031l-7.641,0c-0.647,0 -1.172,0.525 -1.172,1.171c0,0.648 0.525,1.173 1.172,1.173l1.172,0Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                                </div>
                            </div>@ViewBag.ResLang["看哪一科"]
                        </a>
                    </li>
                    <li>
                        <a href="@WebData.symptom_url" target="_blank">
                            <div class="circle">
                                <div class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M20.208,12.445l0,-6.072c0,-0.635 -0.515,-1.15 -1.15,-1.15c-0.635,0 -1.15,0.515 -1.15,1.15l0,11.512c0,3.176 -2.574,5.75 -5.75,5.75c-3.176,0 -5.75,-2.574 -5.75,-5.75l0,-1.242c-3.284,-0.57 -5.75,-3.399 -5.75,-6.804c0,-0.001 0,-0.003 0,-0.004l0,0l0,-6.9c0,-1.265 1.035,-2.3 2.3,-2.3l1.15,0c0.635,0 1.15,0.515 1.15,1.15c0,0.635 -0.515,1.15 -1.15,1.15l-1.15,0l0,6.9c0,2.54 2.059,4.6 4.6,4.6c2.54,0 4.6,-2.06 4.6,-4.6l0,-6.9l-1.15,0c-0.635,0 -1.15,-0.515 -1.15,-1.15c0,-0.635 0.515,-1.15 1.15,-1.15l1.15,0c1.27,0 2.3,1.03 2.3,2.3l0,6.905c0,3.404 -2.466,6.233 -5.709,6.797l-0.041,0.006l0,1.242c0,1.905 1.545,3.45 3.45,3.45c1.905,0 3.45,-1.545 3.45,-3.45l0,-11.5c0,-1.905 1.545,-3.45 3.45,-3.45c1.905,0 3.45,1.545 3.45,3.45l0,6.06c0.692,0.406 1.15,1.145 1.15,1.992c0,1.271 -1.03,2.3 -2.3,2.3c-1.27,0 -2.3,-1.029 -2.3,-2.3c0,-0.846 0.458,-1.586 1.139,-1.986l0.011,-0.006l0,0Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                                </div>
                            </div>@ViewBag.ResLang["病症參考"]
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div class="layout__container-1400">
            <ul class="layout__list-cm ul-reset fz-20 fwb">
                 @if (ViewBag.Data != null && CmList.Count > 0)
                 {
                     int i = 1;
                     foreach (cm_list item in CmList)
                     {
                            <li><a href="#@i">@item.title</a></li>

                         i++;
                     }
                 }
            </ul>
        </div>
        <section class="layout__container-full bg-grey pd__section-footer">
            <ul class="layout__container-1400 layout__list bg-white pt70 ul-reset">
                 @if (ViewBag.Data != null && CmList.Count > 0)
                 {
                     int i = 1;
                     foreach (cm_list item in CmList)
                     {
                         Dictionary<string, List<string>> viewData = FunctionService.InfinityJsonFormat(item.content);
                <li id="@i">
                    <h3 class="fwb fz-24">@item.title</h3>
                    <ul class="ul-reset innerlist fz-17">
                        @for (int s = 0;s < viewData["title"].Count; s++)
                        {
                            <li><a href="@viewData["url"][s].ToString()" target="_blank"><h4>@viewData["title"][s].ToString()</h4></a></li>
                        }

                    </ul>
                </li>
                         i++;
                     }
                 }

            </ul>
        </section>
    </div>
</main>

@section scripts {
    <script>
        var cmNav = $('.layout__list-cm >li >a');
        var list = $('.layout__list.bg-white > li');

        function anchorAdjust() {
            var headerHeight = $('.header').outerHeight();
            $(cmNav).each(function (i) {
                var item = list.eq(i)[0];
                var offset = $(item).offset().top - headerHeight;
                $(this).click(function (e) {
                    e.preventDefault();
                    $('html, body').animate({
                        scrollTop: offset
                    }, 0);
                })
            });
        }
        anchorAdjust();
        $(window).resize(anchorAdjust);
    </script>
}