﻿@using Web.Models;
@{
    List<hospitals> hospitalsList = ViewBag.hospitalsList;
}
<main class="main">
    <div class="inner">
        <section class="layout__hero no-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["意見信箱"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/01-index/hero-contact.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["意見信箱"]</h2>
                    <h3 class="fz-24 fwn">歡迎任何意見、問題或需要的服務</h3>
                </div>
            </div>
        </section>

        <section class="layout__container-1400">
            <div class="layout__page-title pd__page-title">
                <h3 class="fz-36">@ViewBag.ResLang["聯絡我們"]</h3>
                <div class="fz-18">我們歡迎任何意見、問題或需要的服務，您可以直接利用下列連絡表單與我們連絡，我們會盡快回覆您，謝謝您！<br>為能有效並迅速回應您的寶貴意見，請詳細描述事發經過、事發時間、地點、當事人資料等訊息，<br>並請具聯絡方式，此一個人資料僅使用於聯絡本反應事項。 ( <span class="fc-red">* </span>為必填 )</div>
            </div>
            <form action="@Url.Content("~/" + ViewBag.Lang + "/Home/ContactForm")" class="layout__container-1400" name="ContactForm" id="ContactForm" method="post">
                @Html.AntiForgeryToken()
                <div class="layout__form bg-white">
                    <div class="form fc-light">
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["姓名"]<span class="fc-red"> * </span></div>
                            <div class="td"><input type="text" name="cName" id="cName" required value="@if (ViewBag.Contact != null) {@ViewBag.Contact["cName"]}" ><span class="_formErrorMsg"></span></div>
                        </div>
                        <div class="row row-half">
                            <div class="td">@ViewBag.ResLang["連絡電話"]</div>
                            <div class="td fc-black"><input type="tel" name="tel" id="tel" value="@if (ViewBag.Contact != null) {@ViewBag.Contact["tel"]}"></div>
                        </div>
                        <div class="row">
                            <div class="td">@ViewBag.ResLang["電子信箱"]<span class="fc-red"> * </span></div>
                            <div class="td"><input type="email" name="eMail" id="eMail" value="@if (ViewBag.Contact != null) {@ViewBag.Contact["eMail"]}"><span class="_formErrorMsg"></span></div>
                        </div>
                        <div class="row align-top">
                            <div class="td">@ViewBag.ResLang["反應地點"]<span class="fc-red"> * </span></div>
                            <div class="td">
                                <ul class="ul-reset inline no-margin" id="area">

                                    @if (ViewBag.Hospitals != null)
                                    {
                                        foreach (hospitals item in hospitalsList)
                                        {
                                            string checkeds = "";
                                            if (ViewBag.Contact != null && ViewBag.Contact["hospitalID"] == item.hospitalID)
                                            {
                                                checkeds = " checked";
                                            }

                                            if (!string.IsNullOrEmpty(item.join_guid))
                                            {
                                                <li>
                                                    <label class="radio">
                                                        @item.join_title
                                                        <input type="radio" name="hospitalID" required value="@item.hospitalID" @checkeds>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                            }
                                            else if(item.title != "情人湖院區")
                                            {
                                                <li>
                                                    <label class="radio">
                                                        @item.title
                                                        <input type="radio" name="hospitalID" required value="@item.hospitalID" @checkeds>
                                                        <div class="checkmark"></div>
                                                    </label>
                                                </li>
                                            }
                                        }
                                            
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row align-top">
                            <div class="td">@ViewBag.ResLang["反應事項"]<span class="fc-red"> * </span></div>
                            <div class="td">
                                <ul class="ul-reset inline no-margin" id="problem-normal">
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["醫療服務"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["醫療服務"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] != "6" && ViewBag.Contact["matter"] == "醫療服務") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["健康諮詢"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["健康諮詢"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] != "6" && ViewBag.Contact["matter"] == "健康諮詢") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["關於網站"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["關於網站"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] != "6" && ViewBag.Contact["matter"] == "關於網站") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                </ul>
                                <!-- 院區為嘉義時顯示此選項 -->
                                <ul class="ul-reset inline no-margin" id="problem-chiayi">
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["醫療諮詢"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["醫療諮詢"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] == "6" && ViewBag.Contact["matter"] == "醫療諮詢") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["服務意見"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["服務意見"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] == "6" && ViewBag.Contact["matter"] == "服務意見") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            @ViewBag.ResLang["關於網站"]
                                            <input type="radio" name="matter" required value="@ViewBag.ResLang["關於網站"]" @if(ViewBag.Contact != null && ViewBag.Contact["hospitalID"] == "6" && ViewBag.Contact["matter"] == "關於網站") { @Html.Raw("checked") }>
                                            <div class="checkmark"></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row align-top">
                            <div class="td">@ViewBag.ResLang["意見內容"]<span class="fc-red"> * </span></div>
                            <div class="td td-full">
                                <textarea name="description" id="description" cols="30" rows="6" required>@if (ViewBag.Contact != null) {@ViewBag.Contact["description"]}</textarea>
                            </div>
                        </div>
                         <div class="row verify">
                             <div class="td">@ViewBag.ResLang["請輸入驗證碼"]<span class="fc-red"> * </span></div>
                          <div class="td">
                            <input type="text"  name="verification" id="verification" required>
                            <a class="verify__img" href="javascript:;"><img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt=""></a>
                            <span>@ViewBag.ResLang["點擊圖示刷新"]</span>
                          </div>
                        </div>
                        <!--
                       <div class="row">
                            <div class="td hide-tablet-under"></div>
                            <div class="td">
                                <div class="img">
                                    <div class="g-recaptcha" data-sitekey="6Ld_NxUTAAAAAL0B-u6PEMYELzkgEfZFgP7ghSnv"></div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="layout__form-btns pd__section-footer tac fz-18">
                    <button type="submit" class="btn__rec-main submitBut">@ViewBag.ResLang["確認送出"]</button>
                    <button type="reset" class="btn__rec-main">@ViewBag.ResLang["重新填寫"]</button>
                </div>
            </form>
        </section>
    </div>
</main>
@section scripts {
        <script>
            (function () {
                $('input[name=hospitalID]').on('click', function () {
                    if ($(this).val() == "6") {
                        $('#problem-normal').hide();
                        $('#problem-chiayi').show();
                    } else {
                        $('#problem-normal').show();
                        $('#problem-chiayi').hide();
                    }
                });
            })();


        </script>

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!-- * * * validate 表單驗證-->
        @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
      
  
        @if (ViewBag.Lang == "tw")
        {
            @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")     
        }
        <script>
        $(document).ready(function () {

            

            $("#ContactForm").each(function () {
                $("#ContactForm").validate({                   
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);
                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');


                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);

                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
        </script>

}