﻿@using Web.ServiceModels;
@using Web.Service;
@using Web.Models;
@{
    List<BulletinListModel> newsList = ViewBag.News1;
    List<BulletinListModel> newsList2 = ViewBag.News2;


    List<GlobalArticleListModel> IndexBanner = ViewBag.IndexBanner;
    List<GlobalArticleListModel> NewsS02 = ViewBag.S02;
    List<GlobalArticleListModel> NewsS03 = ViewBag.S03;
    List<GlobalArticleListModel> NewsS04 = ViewBag.S04;
    int i = 0;
    List<string> reURL = new List<string>();
    web_data WebData = ViewBag.webData;
}


<main class="main index">
    <!--jefftest-->
   @* <span class="hidden">@ViewBag.test</span>
    <span class="hidden">@ViewBag.test1</span>
    <span class="hidden">@ViewBag.test2</span>*@
    <!--jefftest-->
    <div class="inner">
        <section class="layout__hero">
            <div class="slider slick-default slick-hero-dot">
                @if (ViewBag.IndexBanner != null && IndexBanner.Count > 0)
                {
                    foreach (GlobalArticleListModel item in ViewBag.IndexBanner)
                    {

                        <picture class="index__hero">
                            <source media="(max-width: 576px)" srcset="@item.photoUrl_s">
                            <img src="@item.photoUrl" alt="@item.title">
                        </picture>
                    }
                }
                else
                {


                    <picture class="index__hero">
                        <!-- <div class="layout__container-1400 text">
                      <div class="fz-70 fwb">長庚守護，專心揚名</div>
                      <div class="fz-30 hero__info">支持體育，運動扎根，成為運動明日之星推手</div>
                    </div> -->
                        <!-- 手機板圖片位置 -->
                        <source media="(max-width: 576px)" srcset="~/images/01-index/test-s.jpg">
                        <!-- 桌機板圖片位置 -->
                        <img src="~/images/01-index/test.jpg" alt="台灣醫療典範">
                    </picture>
                    <picture class="index__hero">
                        <source media="(max-width: 576px)" srcset="~/images/01-index/test2-s.jpg">
                        <img src="~/images/01-index/test2.jpg" alt="長庚人我驕傲">
                    </picture>

                }



            </div>
            <ul class="ul-reset fwb nav__hero layout__container-1400">
                <li>
                    <a href="@WebData.register_url" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 54 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M47.061,31.664l-10.498,0c-0.732,0 -1.331,-0.597 -1.331,-1.33c0,-0.732 0.599,-1.329 1.331,-1.329l10.498,0c0.733,0 1.33,0.597 1.33,1.329c0,0.733 -0.597,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,36.914c-0.732,0 -1.33,-0.598 -1.33,-1.33l0,-10.496c0,-0.735 0.598,-1.33 1.33,-1.33c0.732,0 1.33,0.595 1.33,1.33l0,10.496c0,0.732 -0.598,1.33 -1.33,1.33" style="fill-rule:nonzero;" /><path d="M41.812,21.133c-5.075,0 -9.205,4.127 -9.205,9.201c0,5.075 4.13,9.203 9.205,9.203c5.075,0 9.203,-4.128 9.203,-9.203c0,-5.074 -4.128,-9.201 -9.203,-9.201m0,20.462c-6.208,0 -11.261,-5.053 -11.261,-11.261c0,-6.208 5.053,-11.256 11.261,-11.256c6.208,0 11.261,5.048 11.261,11.256c0,6.208 -5.053,11.261 -11.261,11.261" style="fill-rule:nonzero;" /><path d="M30.766,41.518l-24.593,0c-3.078,0 -5.58,-2.5 -5.58,-5.587l0,-25.574c0,-3.077 2.502,-5.584 5.58,-5.584l27.754,0c3.078,0 5.584,2.507 5.584,5.584l0,4.456c0,0.702 -0.564,1.266 -1.266,1.266c-0.704,0 -1.273,-0.564 -1.273,-1.266l0,-4.456c0,-1.678 -1.367,-3.045 -3.045,-3.045l-27.754,0c-1.681,0 -3.047,1.367 -3.047,3.045l0,25.574c0,1.685 1.366,3.045 3.047,3.045l24.593,0c0.695,0 1.273,0.567 1.273,1.269c0,0.702 -0.578,1.273 -1.273,1.273" style="fill-rule:nonzero;" /><path d="M12.192,11.45c-0.84,0 -1.52,-0.68 -1.52,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.52,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M29.032,11.45c-0.839,0 -1.519,-0.68 -1.519,-1.52l0,-7.64c0,-0.839 0.68,-1.519 1.519,-1.519c0.839,0 1.519,0.68 1.519,1.519l0,7.64c0,0.84 -0.68,1.52 -1.519,1.52" style="fill-rule:nonzero;" /><path d="M38.244,16.107l-36.383,0c-0.539,0 -0.966,-0.427 -0.966,-0.965c0,-0.537 0.427,-0.966 0.966,-0.966l36.383,0c0.532,0 0.959,0.429 0.959,0.966c0,0.538 -0.427,0.965 -0.959,0.965" style="fill-rule:nonzero;" /><rect x="7.478" y="20.827" width="3.198" height="3.187" style="" /><rect x="14.513" y="20.897" width="3.2" height="3.189" style="" /><rect x="21.412" y="20.827" width="3.198" height="3.187" style="" /><rect x="7.297" y="28.402" width="3.204" height="3.189" style="" /><rect x="14.336" y="28.474" width="3.193" height="3.189" style="" /><rect x="21.229" y="28.402" width="3.2" height="3.189" style="" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["即時掛號"]</div>
                    </a>
                    <a href="@WebData.reference_url" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 41 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M16.912,20.996c-1.097,0 -2.169,0.565 -2.795,1.477c-0.61,0.888 -0.713,1.98 -0.292,3.078c1.779,4.59 5.585,7.196 6.821,7.945c1.093,-0.534 4.232,-2.319 6.494,-6.273c0.189,-0.333 0.374,-0.677 0.549,-1.041c0.779,-1.6 0.189,-3.108 -0.621,-3.991c-1.493,-1.631 -3.97,-1.543 -5.693,0.472c-0.19,0.221 -0.524,0.349 -0.77,0.339c-0.292,-0.01 -0.569,-0.149 -0.749,-0.385c-1.015,-1.339 -2.164,-1.621 -2.944,-1.621m3.673,14.562c-0.154,0 -0.308,-0.031 -0.446,-0.108c-0.236,-0.118 -5.745,-3.021 -8.13,-9.196c-0.651,-1.688 -0.472,-3.468 0.498,-4.888c1.774,-2.575 5.765,-3.037 8.155,-0.77c1.41,-1.251 2.821,-1.538 3.821,-1.538c1.492,0 2.959,0.656 4.021,1.815c1.59,1.724 1.949,4.083 0.939,6.16c-0.19,0.4 -0.4,0.79 -0.611,1.159c-3.139,5.488 -7.714,7.232 -7.909,7.304c-0.107,0.041 -0.22,0.062 -0.338,0.062" style="fill-rule:nonzero;" /><path d="M37.824,47.869l-34.098,0c-0.821,0 -1.59,-0.318 -2.164,-0.898c-0.58,-0.574 -0.898,-1.343 -0.898,-2.164l0,-35.021c0,-0.816 0.318,-1.58 0.898,-2.16c0.574,-0.574 1.338,-0.897 2.154,-0.897l2.59,0c0.636,0 1.159,0.528 1.159,1.164c0,0.641 -0.523,1.159 -1.159,1.159l-2.59,0c-0.195,0 -0.38,0.072 -0.518,0.216c-0.139,0.133 -0.211,0.323 -0.211,0.518l0,35.021c0,0.205 0.072,0.39 0.216,0.528c0.138,0.139 0.323,0.216 0.523,0.216l34.098,0c0.215,0 0.426,-0.082 0.585,-0.241c0.19,-0.19 0.231,-0.416 0.231,-0.57l0,-34.949c0,-0.2 -0.077,-0.38 -0.216,-0.518c-0.143,-0.149 -0.328,-0.221 -0.523,-0.221l-2.821,0c-0.641,0 -1.159,-0.518 -1.159,-1.159c0,-0.636 0.518,-1.164 1.159,-1.164l2.821,0c0.815,0 1.585,0.323 2.164,0.908c0.57,0.564 0.893,1.333 0.893,2.154l0,34.949c0,0.836 -0.328,1.621 -0.913,2.211c-0.605,0.595 -1.39,0.918 -2.221,0.918" style="fill-rule:nonzero;" /><path d="M11.009,12.176l19.604,0l-0.672,-5.001l-4.945,0c-0.513,0 -0.928,-0.41 -0.928,-0.923c0,-0.041 0.005,-0.082 0.01,-0.134l0,-0.502c0,-1.8 -1.462,-3.273 -3.267,-3.273c-1.8,0 -3.267,1.473 -3.267,3.273l0,0.508c0.01,0.046 0.01,0.087 0.01,0.128c0,0.513 -0.415,0.923 -0.923,0.923l-4.95,0l-0.672,5.001Zm20.665,1.857l-21.726,0c-0.267,0 -0.518,-0.118 -0.698,-0.318c-0.174,-0.2 -0.256,-0.472 -0.22,-0.734l0.923,-6.852c0.061,-0.462 0.456,-0.8 0.918,-0.8l4.831,0c0.149,-2.693 2.385,-4.832 5.109,-4.832c2.729,0 4.96,2.139 5.114,4.832l4.831,0c0.462,0 0.857,0.338 0.918,0.8l0.918,6.852c0.036,0.262 -0.046,0.534 -0.22,0.734c-0.18,0.2 -0.431,0.318 -0.698,0.318" style="fill-rule:nonzero;" /><path d="M22.181,5.476c0,0.8 -0.646,1.447 -1.446,1.447c-0.8,0 -1.446,-0.647 -1.446,-1.447c0,-0.8 0.646,-1.451 1.446,-1.451c0.8,0 1.446,0.651 1.446,1.451" style="fill-rule:nonzero;" /><path d="M31.914,40.989l-22.209,0c-0.508,0 -0.923,-0.415 -0.923,-0.928c0,-0.508 0.415,-0.923 0.923,-0.923l22.209,0c0.513,0 0.928,0.415 0.928,0.923c0,0.513 -0.415,0.928 -0.928,0.928" style="fill-rule:nonzero;" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["看哪一科"]</div>
                    </a>
                    <a href="@WebData.symptom_url" target="_blank">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 50 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M29.839,20.29l-9.678,0c-0.672,0 -1.224,-0.553 -1.224,-1.225c0,-0.677 0.552,-1.224 1.224,-1.224l9.678,0c0.672,0 1.224,0.547 1.224,1.224c0,0.672 -0.552,1.225 -1.224,1.225" style="fill-rule:nonzero;" /><path d="M24.997,25.126c-0.677,0 -1.224,-0.552 -1.224,-1.224l0,-9.672c0,-0.672 0.547,-1.225 1.224,-1.225c0.678,0 1.23,0.553 1.23,1.225l0,9.672c0,0.672 -0.552,1.224 -1.23,1.224" style="fill-rule:nonzero;" /><path d="M25,10.588c-4.676,0 -8.48,3.804 -8.48,8.474c0,4.677 3.804,8.48 8.48,8.48c4.676,0 8.48,-3.803 8.48,-8.48c0,-4.67 -3.804,-8.474 -8.48,-8.474m0,18.851c-5.722,0 -10.376,-4.655 -10.376,-10.377c0,-5.716 4.654,-10.371 10.376,-10.371c5.722,0 10.376,4.655 10.376,10.371c0,5.722 -4.654,10.377 -10.376,10.377" style="fill-rule:nonzero;" /><path d="M3.096,34.595l43.808,0l0,-31.054l-43.808,0l0,31.054Zm45.087,2.541l-46.361,0c-0.704,0 -1.273,-0.569 -1.273,-1.268l0,-33.6c0,-0.705 0.569,-1.274 1.273,-1.274l46.361,0c0.699,0 1.268,0.569 1.268,1.274l0,33.6c0,0.699 -0.569,1.268 -1.268,1.268" style="fill-rule:nonzero;" /><path d="M18.338,41.189l13.324,0l0,-4.362l-13.324,0l0,4.362Zm14.234,1.821l-15.144,0c-0.504,0 -0.911,-0.407 -0.911,-0.911l0,-6.182c0,-0.499 0.407,-0.905 0.911,-0.905l15.144,0c0.504,0 0.911,0.406 0.911,0.905l0,6.182c0,0.504 -0.407,0.911 -0.911,0.911" style="fill-rule:nonzero;" /><path d="M41.7,43.372l-33.405,0c-0.699,0 -1.268,-0.569 -1.268,-1.268c0,-0.705 0.569,-1.274 1.268,-1.274l33.405,0c0.699,0 1.273,0.569 1.273,1.274c0,0.699 -0.574,1.268 -1.273,1.268" style="fill-rule:nonzero;" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["病症參考"]</div>
                    </a>
                    <a href="@Url.Content("~/" + ViewBag.Lang + "/Guide/Index")" class="">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 40 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M13.458,2.176c-4.267,0 -7.739,3.472 -7.739,7.743c0,4.267 3.472,7.739 7.739,7.739c4.271,0 7.743,-3.472 7.743,-7.739c0,-4.271 -3.472,-7.743 -7.743,-7.743m0,17.48c-5.37,0 -9.737,-4.367 -9.737,-9.737c0,-5.369 4.367,-9.737 9.737,-9.737c5.369,0 9.741,4.368 9.741,9.737c0,5.37 -4.372,9.737 -9.741,9.737" style="fill-rule:nonzero;" /><path d="M14.987,38.92l-12.998,0c-0.547,0 -0.997,-0.446 -0.997,-0.997c0,-12.31 4.893,-20.264 12.468,-20.264c3.173,0 6.186,1.372 8.71,3.975c0.383,0.392 0.375,1.023 -0.022,1.407c-0.398,0.384 -1.024,0.375 -1.408,-0.022c-2.14,-2.206 -4.659,-3.362 -7.28,-3.362c-7.429,0 -10.249,9.08 -10.46,17.269l11.987,0c0.551,0 0.997,0.45 0.997,0.997c0,0.551 -0.446,0.997 -0.997,0.997" style="fill-rule:nonzero;" /><path d="M32.502,34.404l-7.88,0c-0.547,0 -0.993,-0.45 -0.993,-1.001c0,-0.547 0.446,-0.993 0.993,-0.993l7.88,0c0.547,0 0.997,0.446 0.997,0.993c0,0.551 -0.45,1.001 -0.997,1.001" style="fill-rule:nonzero;" /><path d="M32.502,34.404l-7.88,0c-0.547,0 -0.993,-0.45 -0.993,-1.001c0,-0.547 0.446,-0.993 0.993,-0.993l7.88,0c0.547,0 0.997,0.446 0.997,0.993c0,0.551 -0.45,1.001 -0.997,1.001" style="fill-rule:nonzero;" /><path d="M28.561,38.342c-0.551,0 -0.997,-0.45 -0.997,-1.001l0,-7.871c0,-0.552 0.446,-0.997 0.997,-0.997c0.552,0 1.002,0.445 1.002,0.997l0,7.871c0,0.551 -0.45,1.001 -1.002,1.001" style="fill-rule:nonzero;" /><path d="M28.561,38.342c-0.551,0 -0.997,-0.45 -0.997,-1.001l0,-7.871c0,-0.552 0.446,-0.997 0.997,-0.997c0.552,0 1.002,0.445 1.002,0.997l0,7.871c0,0.551 -0.45,1.001 -1.002,1.001" style="fill-rule:nonzero;" /><path d="M28.561,24.779c-5.387,0 -9.768,3.989 -9.768,8.89c0,4.792 4.139,8.674 9.411,8.851c0.22,0.008 0.432,0.114 0.573,0.282c0.146,0.172 0.203,0.397 0.168,0.618l-0.243,1.575l2.392,-2.656c0.097,-0.111 0.225,-0.186 0.366,-0.225c4.107,-1.174 6.869,-4.567 6.869,-8.445c0,-4.901 -4.381,-8.89 -9.768,-8.89m-1.028,23.45c-0.11,0 -0.225,-0.022 -0.335,-0.075c-0.309,-0.146 -0.481,-0.486 -0.428,-0.821l0.512,-3.318c-5.696,-0.586 -10.042,-4.99 -10.042,-10.346c0,-5.762 5.078,-10.447 11.321,-10.447c6.243,0 11.321,4.685 11.321,10.447c0,4.509 -3.115,8.454 -7.778,9.874l-3.993,4.43c-0.15,0.167 -0.362,0.256 -0.578,0.256" style="fill-rule:nonzero;" /></g></svg>
                        </div>
                        <div class="fz-16">@ViewBag.ResLang["就醫指南"]</div>
                    </a>
                </li>
            </ul>
        </section>
        <!-- 同醫院訊息-聚焦點 -->
        @if (ViewBag.S02 != null)
        {
            i = 0;
            <section class="layout__container-1400 padding-first newsmain">
                <div class="slick-newsmain">
                    @foreach (GlobalArticleListModel item in ViewBag.S02)
                    {
                        if (i % 2 == 0)
                        {
                            @Html.Raw("<div class=\"layout__textimg layout__textimg-arrow \">")
                        }
                        <div class="col">
                            <div class="col__img @try{ if (item.Data.paragraph[0].type == "4") {@Html.Raw("img-video")} } catch { }" ><img src="@item.photoUrl" alt="@item.title">
                            </div>
                            <div class="col__text">
                                <div class="fz-24 fwb">@item.title </div>
                                <div class="fz-16">@item.description</div>
                                @{
                                    reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/News/ArticleInfo/A2", item.Data);
                                }
                                <a href="@reURL[0]" target="@reURL[1]" class="btn__round-transparent fz-17">@ViewBag.ResLang["了解更多"]</a>
                            </div>
                        </div>


                        if (i % 2 == 1 || i == (NewsS02.Count - 1))
                        {
                            @Html.Raw("</div>")
                        }


                        i++;
                    }
                </div>
            </section>

        }
        <!-- 同醫院訊息-新聞與觀點 -->
        <section class="layout__container-full newslider">
            <div class="layout__container-1400">
                <div class="newslider__top slick-block-remote">
                    <div class="btn__rec fz-20 active" data-slide="0">@ViewBag.ResLang["最新消息"]</div>
                    <div class="btn__rec fz-20" data-slide="1">@ViewBag.ResLang["活動訊息"]</div>
                </div>
                <div class="slick-block-switch">
                    <div class="newslider__bottom">
                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A" class="btn__round-transparent">@ViewBag.ResLang["更多消息"]</a>
                        <div class="slick-newslist slick-arrow-round">
                            @if (ViewBag.News1 != null)
                            {
                                i = 0;
                                foreach (BulletinListModel item in newsList)
                                {
                                    if (i % 3 == 0)
                                    {
                                        @Html.Raw("<ul class=\"ul-reset fz-17 newslist\">")
                                    }

                                    <li>
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/Info/A/@item.bulletinId">
                                            <div class="info">
                                                <div class="fwb">@item.startDate</div>
                                                <div class="tag">@item.hospitalName</div>
                                            </div>
                                            <div class="text">@item.bulletinTitle</div>
                                        </a>
                                    </li>
                                    if (i % 3 == 2 || i == (newsList.Count - 1))
                                    {
                                        @Html.Raw("</ul>")
                                    }
                                    i++;
                                }
                            }

                        </div>
                    </div>
                    <div class="newslider__bottom">
                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/List/B" class="btn__round-transparent">@ViewBag.ResLang["更多消息"]</a>
                        <div class="slick-newslist slick-arrow-round">
                            @if (ViewBag.News2 != null)
                            {
                                i = 0;
                                foreach (BulletinListModel item in newsList2)
                                {
                                    if (i % 3 == 0)
                                    {
                                        @Html.Raw("<ul class=\"ul-reset fz-17 newslist\">")
                                    }

                                    <li>
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/Info/B/@item.bulletinId">
                                            <div class="info">
                                                <div class="fwb">@item.startDate</div>
                                                <div class="tag">@item.hospitalName</div>
                                            </div>
                                            <div class="text">@item.bulletinTitle</div>
                                        </a>
                                    </li>
                                    if (i % 3 == 2 || i == (newsList.Count - 1))
                                    {
                                        @Html.Raw("</ul>")
                                    }
                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 同醫院訊息-社會關懷 -->
        @if (ViewBag.S03 != null)
        {
            int s = 0;

            <section class="layout__container-full fz-17 slick-single slick-imggrid">


                @foreach (GlobalArticleListModel item in ViewBag.S03)
                {

                    if (s % 7 == 0)
                    {@Html.Raw("<div class=\"item\"><div class=\"layout__imggrid\">" + "\r\n") }

                if (s % 7 == 0)
                { @Html.Raw("<div class=\"row row-l\">" + "\r\n") }
            if (s % 7 == 1)
            { @Html.Raw("<div class=\"row row-nl\">" + "\r\n") }


                    try
                    {
                             <div class="img @if (item.Data.paragraph != null && item.Data.paragraph.Count > 0 && item.Data.paragraph[0].type == "4") {@Html.Raw("img-video")} imgLiquidFill">
                            <img src="@item.photoUrl" alt="@item.title">
                            <div class="cover">
                                <div class="content content-row-l">
                                    <div class="text">@item.title</div>
                                    @{
                                        reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/News/ArticleInfo/A1", item.Data);
                                    }
                                    <a href="@reURL[0]" target="@reURL[1]" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                                </div>
                            </div>
                        </div>
                                        }
                                        catch{

                                              <div class="img imgLiquidFill">
                                                <img src="@item.photoUrl" alt="@item.title">
                                                <div class="cover">
                                                    <div class="content content-row-l">
                                                        <div class="text">@item.title</div>
                                                        @{
                                                            reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/News/ArticleInfo/A1", item.Data);
                                                        }
                                                        <a href="@reURL[0]" target="@reURL[1]" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                                                    </div>
                                                </div>
                                            </div>

                                        }

   



        if (s % 7 == 0 || s % 7 == 6 || s == (NewsS03.Count - 1))
        { @Html.Raw("</div>" + "\r\n") }


        if (s % 7 == 6 || s == (NewsS03.Count - 1))
        { @Html.Raw("</div></div>" + "\r\n")}

                s++;

                }
            </section>

        }
        @if (ViewBag.S04 != null)
        {

            <section class="layout__container-full fullslide">
                <div class="slider slick-default slick-single">
                    @foreach (GlobalArticleListModel item in ViewBag.S04)
                    {
                        <div class="slider__item">
                            <div class="imgLiquidFill bgimage">
                                <img src="@item.photoUrl" alt="@item.title">
                            </div>
                            <div class="text">
                                <div class="fz-24 fwb">@item.title</div>
                                <div class="fz-17">@Html.Raw(item.description)</div>
                                @{
                                    reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/News/ArticleInfo/SD1", item.Data);
                                }
                                <a href="@reURL[0]" target="@reURL[1]" class="btn__round fz-17">@ViewBag.ResLang["了解更多"]</a>
                            </div>
                        </div>

                    }

                </div>
            </section>

        }
    </div>
</main>
