﻿@using Web.Service;
<main class="main page__privacy">
    <div class="inner">
        <section class="layout__hero no-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["隱私權聲明與網站資安政策"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/01-index/hero-privacy.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["隱私權聲明與網站資安政策"]</h2>
                    <h3 class="fz-24 fwn">為了讓您能夠安全的使用本網站提供之各項服務與資訊，請閱讀以下說明</h3>
                </div>
            </div>
        </section>
        <section class="layout__container-1400 pd__section-footer">



            <div class="layout__page-title pd__page-title">
                <h3 class="fz-36">@ViewBag.Data.title</h3>
                <div class="fz-18">@Html.Raw(ViewBag.Data.sub_title.Replace(Environment.NewLine, "<br />"))</div>
            </div>

            <div class="wrap bg-grey fz-18">

                @Html.Raw(@Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content)))

            </div>



        </section>
    </div>
</main>