﻿@using Web.Models;
@using Web.Service;
<main class="main">
    <div class="inner">
        <section class="layout__hero no-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["搜尋結果"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48">@ViewBag.ResLang["搜尋結果"]</h2>
                    <h3 class="fz-24 fwn">使用關鍵字搜尋，快速瀏覽相關訊息</h3>
                </div>
            </div>
        </section>
        <section class="page__search layout__container-1400 pd__section-footer">
            <div class="head">
                <div class="fz-18">@ViewBag.ResLang["您搜尋的關鍵字為"] <span class="fz-22 fwb">"@ViewBag.SearchKeyword"</span></div>
                <div class="fz-18">@ViewBag.ResLang["總計"]<span class="fz-22 fwb">"@ViewBag.searchCount.ToString("0")"</span>@ViewBag.ResLang["筆"]</div>
            </div>
            <ul class="result ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (full_search item in ViewBag.Data)
                    {
                        string notes = "";

                        if (!string.IsNullOrEmpty(item.notes))
                        {
                            notes = FunctionService.RemoveHtmlTag(item.notes);
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(item.content))
                            {
                                notes = FunctionService.RemoveHtmlTag(item.content);
                            }
                        }

                        if(notes.Length > 145)
                        {
                            notes = notes.Substring(0, 142) + "...";
                        }

                        string url = FunctionService.FormatSearchUrl(item , Url.Content("~/") , ViewBag.Lang);                        

                        <li>
                            <a href="@url" target="_blank" class="fz-22 fwb fc-main">@item.title</a>
                            <div class="fz-18">@notes</div>
                        </li>

                    }

                }
                else
                {
                    <li>
                        <span class="fz-22 fwb fc-main">@ViewBag.ResLang["查無相關資訊"]</span>             
                    </li>
                }


            </ul>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset  ">
                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>
