﻿@using Web.Models;
@using Web.ServiceModels;
@{
    web_data WebData = ViewBag.webData;
    List<subsidiary_web> SubWeb = ViewBag.SubWebUrl;
}
<main class="main page__sitemap">
    <div class="inner">
        <section class="layout__hero no-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>

                    <li><a>@ViewBag.ResLang["網站地圖"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/01-index/hero-sitemap.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["網站地圖"]</h2>
                    <h3 class="fz-24 fwn">詳細網站目錄，快速查找相關頁面</h3>
                </div>
            </div>
        </section>
        <section class="layout__container-1280 pd100">
            <section class="menu fz-18">
                <h4 class="fz-24 fc-main"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></h4>
                <div class="submenu">
                    <div class="submenu__row">
                        <div class="content__wrap">
                            <div class="wrap-title fwb">@ViewBag.ResLang["網路掛號"]</div>
                            <ul class="mb50">
                                <li><img src="~/images/06-header/icon-1.svg" class="circle"><a href="@WebData.register_url">@ViewBag.ResLang["即時掛號"]</a></li>
                                <li><img src="~/images/06-header/icon-2.svg" class="circle"><a href="@WebData.reference_url">@ViewBag.ResLang["該看哪一科"]</a></li>
                                <li><img src="~/images/06-header/icon-3.svg" class="circle"><a href="@WebData.symptom_url">@ViewBag.ResLang["看診病症參考"] </a></li>
                            </ul>
                            <div class="wrap-title fwb">@ViewBag.ResLang["醫療團隊"]</div>
                            <ul>
                                <li><img src="~/images/06-header/icon-4.svg" class="circle"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["院區"]</a></li>
                                <li><img src="~/images/06-header/icon-5.svg" class="circle"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/TeamSearch">@ViewBag.ResLang["搜尋"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Index" class="submenu__title">@ViewBag.ResLang["就醫指南"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1">@ViewBag.ResLang["門診"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2">@ViewBag.ResLang["急診"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3">@ViewBag.ResLang["住院"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4">@ViewBag.ResLang["轉診就醫流程"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5">@ViewBag.ResLang["文件申請"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa">@ViewBag.ResLang["常見問題"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login" class="submenu__title">@ViewBag.ResLang["線上服務"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["網站會員"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Guardian">@ViewBag.ResLang["衛教園地"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Advisory">@ViewBag.ResLang["醫療諮詢"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Consultation">@ViewBag.ResLang["用藥諮詢"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Drug">@ViewBag.ResLang["藥品綜合查詢"]</a></li>
                            <!-- <li><a href="service-online06.php">中醫用藥查詢</a></li> -->
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DrugGuide">@ViewBag.ResLang["用藥指導單張"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Questionnaire">@ViewBag.ResLang["服務滿意度問卷調查"]</a></li>
                            <li><a href="@if(!string.IsNullOrEmpty(WebData.refs_url)) {@WebData.refs_url} else {@Html.Raw("https://www.cgmh.org.tw/refs/adtlogin.asp")}" target="_blank">@ViewBag.ResLang["轉診作業"]</a></li>
                            <li><a href="@if(!string.IsNullOrEmpty(WebData.webwork_url)) {@WebData.webwork_url} else {@Html.Raw("https://www.cgmh.org.tw/webwork/cghmhb")}" target="_blank">@ViewBag.ResLang["健康存摺上傳"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><div class="submenu__title">@ViewBag.ResLang["相關連結"]</div></h5>
                        <ul class="ul-arrow">
                            @if (!string.IsNullOrEmpty(WebData.sp_url))
                            {
                                <li><a href="@WebData.sp_url" target="_blank">@ViewBag.ResLang["特色醫療中心"]</a></li>
                            }

                            @if (!string.IsNullOrEmpty(WebData.International_url))
                            {
                                <li><a href="@WebData.International_url" target="_blank">@ViewBag.ResLang["國際醫療"]</a></li>
                            }
                            @if (!string.IsNullOrEmpty(WebData.health_url))
                            {
                                <li><a href="@WebData.health_url" target="_blank">@ViewBag.ResLang["健康促進"]</a></li>
                            }
                            @if (!string.IsNullOrEmpty(WebData.medical_url))
                            {
                                <li><a href="@WebData.medical_url" target="_blank">@ViewBag.ResLang["長庚醫訊"]</a></li>
                            }
                            @if (!string.IsNullOrEmpty(WebData.care_url))
                            {
                                <li><a href="@WebData.care_url" target="_blank">@ViewBag.ResLang["預立醫療照護"]</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </section>
            <section class="menu fz-18">
                <h4 class="fz-24 fc-main"><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a></h4>
                <div class="submenu">
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation" class="submenu__title">@ViewBag.ResLang["創新研究"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#result">@ViewBag.ResLang["研究成果"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#resource">@ViewBag.ResLang["研究資源"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#service">@ViewBag.ResLang["服務諮詢"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education" class="submenu__title">@ViewBag.ResLang["醫學教育"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#train">@ViewBag.ResLang["教育培訓"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#resource">@ViewBag.ResLang["教學資源"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#service">@ViewBag.ResLang["服務諮詢"]</a></li>                   
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity" class="submenu__title">@ViewBag.ResLang["會議與活動"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["研討會資訊"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/AcademicEventsList">@ViewBag.ResLang["學術活動資訊"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search" class="submenu__title">@ViewBag.ResLang["申請與查詢"]</a></h5>
                        <ul class="ul-arrow">
                            @if (ViewBag.AppInquiryCategory != null)
                            {
                                foreach (app_inquiry_category item in ViewBag.AppInquiryCategory)
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search#@item.guid">@item.title</a></li>
                                }

                            }
                        </ul>
                    </div>
                </div>
            </section>
            <section class="menu fz-18">
                <h4 class="fz-24 fc-main"><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a></h4>
                <div class="submenu">
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare" class="submenu__title">@ViewBag.ResLang["社會關懷"]</a></h5>
                        <ul class="ul-arrow">
                            @if (ViewBag.PublicWelfareTop != null)
                            {
                                int i = 1;
                                foreach (public_welfare item in ViewBag.PublicWelfareTop)
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare#@i">@item.title</a></li>
                                    i++;
                                }
                            }
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service" class="submenu__title">@ViewBag.ResLang["社會服務"]</a></h5>
                        <ul class="ul-arrow">
                            @if (ViewBag.SocialServiceTop != null)
                            {
                                int i = 2;
                                foreach (social_service item in ViewBag.SocialServiceTop)
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service#@i">@item.title</a></li>
                                    i++;
                                }
                            }
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys" class="submenu__title">@ViewBag.ResLang["社服活動"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys?v=List">@ViewBag.ResLang["列表"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys">@ViewBag.ResLang["月曆"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row holder">
                    </div>
                </div>
            </section>
            <section class="menu fz-18">
                <h4 class="fz-24 fc-main"><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></h4>
                <div class="submenu">
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area" class="submenu__title">@ViewBag.ResLang["醫療體系"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["組織架構"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area#area__intro">@ViewBag.ResLang["各院區"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About" class="submenu__title">@ViewBag.ResLang["關於長庚"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["宗旨與理念"]</a></li>
                            @if (!string.IsNullOrEmpty(ViewBag.webData.csr_url))
                            {
                                <li><a href="@ViewBag.webData.csr_url" target="_blank">@ViewBag.ResLang["永續發展"]</a></li>
                            }
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Historys">@ViewBag.ResLang["大事記"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Overview">@ViewBag.ResLang["服務概況"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Security">@ViewBag.ResLang["病人安全"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A" class="submenu__title">@ViewBag.ResLang["醫院訊息"]</a></h5>
                        <ul class="ul-arrow">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A2">@ViewBag.ResLang["聚焦點"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A1">@ViewBag.ResLang["新聞與觀點"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["最新消息"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/B">@ViewBag.ResLang["活動訊息"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/PressNewsList">@ViewBag.ResLang["記者會資訊"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/AwardList">@ViewBag.ResLang["得獎紀錄"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/DrugChangeList">@ViewBag.ResLang["藥品異動訊息"]</a></li>
                            <li><a href="@if(!string.IsNullOrEmpty(WebData.fidrug_url)) {@WebData.fidrug_url} else {@Html.Raw("https://www1.cgmh.org.tw/fidrug/index.htm")}" target="_blank">@ViewBag.ResLang["藥品引進資訊"]</a></li>
                            <li><a href="@if(!string.IsNullOrEmpty(WebData.material_url)) {@WebData.material_url} else {@Html.Raw("https://www1.cgmh.org.tw/material/index.htm")}" target="_blank">@ViewBag.ResLang["材料資訊"]</a></li>
                        </ul>
                    </div>
                    <div class="submenu__row">
                        <h5><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit" class="submenu__title">@ViewBag.ResLang["人員招募"]</a></h5>
                        <ul class="ul-arrow">
                            @if (ViewBag.Recruit != null)
                            {
                                int i = 1;
                                foreach (recruits item in ViewBag.Recruit)
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit#@i">@item.title</a></li>
                                }
                                i++;
                            }
                        </ul>
                    </div>
                </div>
            </section>
            <section class="menu fz-18">
                <h4 class="fz-24 fc-main">@ViewBag.ResLang["其他服務"]</h4>
                <div class="submenu">
                    <div class="submenu__row">
                        <ul class="ul-arrow-full">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Contact">@ViewBag.ResLang["意見信箱"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Sitemap">@ViewBag.ResLang["網站地圖"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Staff">@ViewBag.ResLang["員工專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Privacy">@ViewBag.ResLang["隱私權聲明"]</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </div>
</main>