﻿@using Web.Service;
@using Web.Models;
@using Web.Controllers;
@using Newtonsoft.Json;
@{
    List<staff_area> StaffArea = ViewBag.Data;
}
<main class="main page__sitemap">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["員工專區"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48">@ViewBag.ResLang["員工專區"]</h2>
                    <h3 class="fz-24 fwn">歡迎長庚員工，請點選相關資料連結</h3>
                </div>
            </div>
        </section>
        <section class="layout__container-1400 pd__section-footer">
            <h3 class="fz-36 tac mb20 mt80">@ViewBag.ResLang["員工專區"]</h3>
            <ul class="layout__list ul-reset">
                @if (ViewBag.Data != null && StaffArea.Count > 0)
                {
                    foreach (staff_area item in StaffArea)
                    {
                        Dictionary<string, List<string>> viewData = FunctionService.InfinityJsonFormat(item.content);

                        <li>
                            <h3 class="fwb fz-24">@item.title</h3>
                            <ul class="ul-reset innerlist fz-18">

                                @for (int i = 0; i < viewData["title"].Count; i++)
                                {
                                    <li><a href="@viewData["url"][i].ToString()" target="_blank"><h4>@viewData["title"][i].ToString()</h4></a></li>
                                }



                            </ul>
                        </li>
                    }
                }


            </ul>
        </section>
    </div>
</main>