﻿@using Web.Models;
@using Web.ServiceModels;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
    int i = 0;
    ViewBag.subTitle = "流量統計";
}

<div class="col-bg-12 col-lg-12 mt-3">
    <section class="panel h-100-c">
        <header class="panel-heading">


            <div class="form-group row">
                <label class="col-form-label">
                    顯示區間：
                </label>
                <div class="col-sm-10">
                    <div class="form-row">
                        <div class="col-md-auto mb-2 mb-md-0">
                            <input class="form-control datepicker-birthdate" type="text" name="s_date" id="s_date" value="@Html.Raw(Session["sDate"].ToString().Replace("-","/"))" placeholder="">
                        </div>
                        <div class="col-md-auto mb-2 mb-md-0">
                            <input class="form-control datepicker-birthdate" type="text" name="e_date" id="e_date" value="@Html.Raw(Session["eDate"].ToString().Replace("-","/"))" placeholder="">
                        </div>
                        <div class="col-md-auto">
                            <button class="btn btn-primary gaSearch" type="button">切換日期</button>
                        </div>
                    </div>
                </div>
            </div>


        </header>

    </section>
</div>
<div class="content-body">

    <!-- layout-content-->
    <!-- row  -->
    <div class="row">
        <div class="col-bg-3 col-lg-6 col-sm-6 col-xs-12">
            <section class="panel h-100-c">
                <header class="panel-heading">
                    <h2 class="h5 float-left">流量來源</h2>
                    <div class="float-right"><a class="btn btn-light btn-sm mr-15" href="@Url.Content("~/siteadmin/AnalyticsList/sessions")" title="瀏覽全部"><i class="icon-eye"></i></a></div>
                </header>
                <div class="panel-body">
                    <div id="analyticsTraffic" style="width: 100%; height:195px;"></div>

                    @if (ViewBag.Medium != null)
                    {
                        foreach (MediumViewModel item in ViewBag.Medium)
                        {
                            if (item.source != null)
                            {


                                List<string> vRows = item.source.ToString().Split('/').ToList();

                            <div class="row pl-3 pr-1">
                                <div class="col-sm-8 col-xs-12">
                                    <span class="badge badge-info float-left clabels d-inline mt-1 mr-3 no-radius"></span>
                                    <div class="clabels-text d-inline txt-dark text-capitalize float-left"><span class="d-block font-weight-bold mb-1">@Html.Raw((float.Parse(item.litres.ToString()) / float.Parse(ViewBag.MediumTotalNum.ToString()) * 100).ToString("0.0"))%   @vRows[0]</span><span class="d-block text-muted small">@item.litres 訪問</span></div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="float-right mb-1" id="traffic_@vRows[1]" style="width: 100%; height:30px;"></div>
                                </div>
                            </div>
                            <hr class="my-2 w-100">
                            }
                        }

                    }



                </div>
            </section>
        </div>
        <div class="col-bg-3 col-lg-6 col-sm-6 col-xs-12">
            <section class="panel h-45-c">
                <header class="panel-heading text-center">
                    <h2 class="h5 px-2 float-left">線上使用者</h2>
                </header>
                <div class="panel-body">
                    <div class="h3 text-center font-weight-bold pb-1"><span class="text-main">@ViewBag.RealtimeData</span></div>
                    <div class="progress" title="73.77% 新工作階段" style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-main" role="progressbar" style="width: 73.77%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row text-center py-3">
                        <div class="col"><span class="d-block text-muted small">單次頁數</span><span class="d-block font-weight-bold mb-1">18.80</span></div>
                        <div class="col"><span class="d-block text-muted small">停留時間</span><span class="d-block font-weight-bold mb-1">@ViewBag.avgSessionDuration</span></div>
                        <div class="col"><span class="d-block text-muted small">跳出率</span><span class="d-block font-weight-bold mb-1">@ViewBag.bounceRate</span></div>
                    </div>
                </div>
            </section>
            <section class="panel h-55-c">
                <header class="panel-heading text-center">
                    
                    <h2 class="h5 float-left">瀏覽器使用</h2>
                    <div class="float-right"><a class="btn btn-light btn-sm mr-15" href="@Url.Content("~/siteadmin/AnalyticsList/browser")" title="瀏覽全部"><i class="icon-eye"></i></a></div>
                </header>
                @{ i = 1;}
                @if (ViewBag.BrowserView != null)
                {
                    foreach (BrowserViewModel item in ViewBag.BrowserView)
                    {

                        float session = float.Parse(item.session.ToString()) / float.Parse(ViewBag.TotalPageView.ToString()) * 100;
                        string style = "main";
                        if (i == 2)
                        {
                            style = "warning";
                        }
                        if (i == 3)
                        {
                            style = "info";
                        }
                        if (i == 4)
                        {
                            style = "success";
                        }

                        <div class="clearfix px-4"><span class="flot-left small">@item.name</span><span class="float-right"><span class="badge badge-pill badge-@style">@session.ToString("0")%</span></span></div>
                        <hr class="my-2 w-100">
                        i++;
                    }
                }
            </section>
        </div>
        <div class="col-bg-6 col-lg-12">
            <section class="panel h-100-c">
                <div id="mapdiv" style="width: 100%; height: 440px"></div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- row    -->
    <div class="row text-center">
        <!-- col-->
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <section class="panel p-3 bg-main text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">@ViewBag.sessionCount</span><span class="d-block">今日參觀</span></div>
                    <div class="col"><span class="icon-accessibility display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <section class="panel p-3 bg-warning text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">@ViewBag.SocialNetwork.Rows[0][1].ToString()</span><span class="d-block">社群網站來源數</span></div>
                    <div class="col"><span class="icon-mail-envelope-open display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <section class="panel p-3 bg-success text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">@ViewBag.UserType.Rows[0][1].ToString()</span><span class="d-block">新訪問者數</span></div>
                    <div class="col"><span class="icon-database display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <section class="panel p-3 bg-primary text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">@ViewBag.allCount</span><span class="d-block">總流量</span></div>
                    <div class="col"><span class="icon-eye2 display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
    </div>
    <!-- / row-->
    <!-- row  -->
    <div class="row">
        <div class="col-bg-4 col-lg-12">
            <section class="panel h-100-c">
                <header class="panel-heading">
                    <h2 class="h5 float-left">熱門頁面</h2>
                    <div class="float-right"><a class="btn btn-light btn-sm mr-15" href="@Url.Content("~/siteadmin/AnalyticsList/hot")" title="瀏覽全部"><i class="icon-eye"></i></a></div>
                </header>
                <div class="panel-wrapper">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-nowrap">網頁</th>
                                        <th class="text-center">瀏覽量</th>
                                        <th class="text-center">平均停留時間</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ i = 1;}
                                    @if (ViewBag.HotPages != null)
                                    {
                                        foreach (PageViewModel item in ViewBag.HotPages)
                                        {
                                            <tr>
                                                <td class="text-center"> @i</td>
                                                <td><a class="text-primary text-nowrap" href="@Url.Content("~"+ item.url)" target="_blank">@item.url</a></td>
                                                <td class="text-center"> @item.views</td>
                                                <td class="text-center"> @item.times</td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-bg-4 col-lg-6 col-sm-12">
            <section class="panel h-100-c">
                <header class="panel-heading">
                    <h2 class="h5 float-left">瀏覽年齡層</h2>
                    <div class="float-right"><a class="btn btn-light btn-sm mr-15" href="supportTicket.html" style="display:none;" title="瀏覽全部"><i class="icon-eye"></i></a></div>
                </header>
                <div class="panel-wrapper"></div>
                <div class="panel-body pb-3">
                    <div id="analyticsAge" style="height:265px;"></div>
                </div>
            </section>
        </div>
        <div class="col-bg-4 col-lg-6 col-sm-12">
            <section class="panel h-100-c">
                <header class="panel-heading">
                    <h2 class="h5 float-left">查詢關鍵字</h2>
                    <div class="float-right"><a class="btn btn-light btn-sm mr-15" href="@Url.Content("~/siteadmin/AnalyticsList/keyword")" title="瀏覽全部"><i class="icon-eye"></i></a></div>
                </header>
                <div class="panel-wrapper"></div>
                <div class="panel-body">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead class="font-weight-bold">
                                <tr>
                                    <th>#</th>
                                    <th>關鍵字</th>
                                    <th>次數</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.KeyWords != null)
                                {
                                    int s = 1;
                                    foreach (KeywordViewModel item in ViewBag.KeyWords)
                                    {
                                        <tr>
                                            <th class="text-center" scope="row">@s</th>
                                            <td>@item.keyword</td>
                                            <td>@item.num</td>
                                        </tr>
                                        s++;
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    
    <!-- / row-->
    
    <!-- / layout-content-->
</div>

@section scripts {

    <script src="~/Content/Siteadmin/scripts/index.js"></script>
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <script>

        $(document).ready(function () {

            $('.gaSearch').click(function () {

                window.location.href = '@Url.Content("~/siteadmin/AnalyticsInfo")?sDate='+$('#s_date').val()+'&eDate='+$('#e_date').val();

            });
        });


        $('.datepicker-birthdate').each(function () {
            $(this).daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                showDropdowns: true,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'YYYY/MM/DD',
                    "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                    "monthNames": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                },
            });
            $(this).on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY/MM/DD'));
            });
            $(this).on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

    <script>
        @Html.Raw(ViewBag.latlong);
        var mapData = @Html.Raw(ViewBag.CountryView);

        var map;
        var minBulletSize = 3;
        var maxBulletSize = 70;
        var min = Infinity;
        var max = -Infinity;

        AmCharts.theme = AmCharts.themes.black;
      
        // get min and max values
        for (var i = 0; i < mapData.length; i++) {
            var value = mapData[i].value;
            if (value < min) {
                min = value;
            }
            if (value > max) {
                max = value;
            }
        }

        // build map
        AmCharts.ready(function () {
            map = new AmCharts.AmMap();
            map.projection = "winkel3";

          /*  map.zoomControl = {
                "zoomControlEnabled": true,
                "minZoomLevel":2,
            };*/
         
            map.addTitle("流量地區分布", 14);
            map.areasSettings = {
                unlistedAreasColor: "#000000",
                unlistedAreasAlpha: 0.1
            };
            map.imagesSettings = {
                balloonText: "<span style='font-size:14px;'><b>[[title]]</b>: [[value]]</span>",
                alpha: 0.6
            }

            var dataProvider = {
                mapVar: AmCharts.maps.worldLow,
                /*zoomLevel: 4,
                zoomLongitude: 121.51,
                zoomLatitude: 25.04,*/
                images: []
            }
            
            // create circle for each country

            // it's better to use circle square to show difference between values, not a radius
            var maxSquare = maxBulletSize * maxBulletSize * 2 * Math.PI;
            var minSquare = minBulletSize * minBulletSize * 2 * Math.PI;

            // create circle for each country
            for (var i = 0; i < mapData.length; i++) {
                var dataItem = mapData[i];
                var value = dataItem.value;
                // calculate size of a bubble
                var square = (value - min) / (max - min) * (maxSquare - minSquare) + minSquare;
                if (square < minSquare) {
                    square = minSquare;
                }
                var size = Math.sqrt(square / (Math.PI * 2));
                var id = dataItem.code;

                dataProvider.images.push({
                    type: "circle",
                    width: size,
                    height: size,
                    color: dataItem.color,
                    longitude: latlong[id].longitude,
                    latitude: latlong[id].latitude,
                    title: dataItem.name,
                    value: value
                });
            }
            map.dataProvider = dataProvider;
            map.write("mapdiv");

        });


    </script>
}
