﻿
@{ 
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";

    Web.Models.system_menu system_menu = ViewBag.system_menu_data;

    ViewBag.subTitle = "流量統計";
}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">流量統計 / @ViewBag.actTitle </h1>
            
            <div class="float-right">
               

                </div>

        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
              
                

                <div class="table-toolbar row">
                    <div class="col-md-auto">
                        <div class="dataTablesSearch row no-gutters">
                            <label class="col-auto mr-2"><i class="icon-search i-o align-middle h3 mb-0 p-0"></i>搜尋</label>
                            <div class="col col-md-auto mr-1">
                                <input class="form-control form-control-sm table-search-input keywordsInput" type="search" placeholder="關鍵字" aria-controls="tableList" />
                            </div>

                            <div class="col-auto mr-1">
                                <a class="btn btn-sm btn-main keywordSearch" title="新增" href="#1"><i class="icon-search"></i><span class="ml-1 d-none d-md-inline-block">搜尋</span></a>
                            </div>

                        </div>
                    </div>

                     
                    <div class="col-md" style="display:none;">
                        <div class="datatableFilter row no-gutters justify-content-end text-nowrap">
                            <label class="col-auto mr-1"><i class="icon-narrow i-o align-middle h3 mb-0 p-0"></i>檢視</label>


                      



                                <div class="col col-md-auto ml-1">
                                    <select class="bs-select form-control min-w-select categorySearch" data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm">
                                        <option value="" selected="selected">全部分類</option>
                                       

                                    </select>
                                </div>
                          


                       

                        </div>
                    </div>

                     

                </div>

                <table class="table table-striped table-bordered dt-responsive nowrap datatables" style="width:100%" id="tableList">
                    <thead>
                        <tr>
                            @if (ViewBag.act == "hot")
                            {   //熱門頁面

                                <th class="w-5">
                                    #
                                </th>
                                <th class="min-tablet-p">
                                    網頁
                                </th>
                                <th class="min-tablet-p">
                                    網頁名稱
                                </th>
                                <th class="w-5">
                                    瀏覽量
                                </th>
                                <th class="w-5">
                                    平均停留時間
                                </th>
                            }
                            @if (ViewBag.act == "keyword")
                            {   //查詢關鍵字
                                <th class="w-5">
                                    #
                                </th>
                                <th class="min-tablet-p">
                                    關鍵字
                                </th>
                                <th class="min-tablet-p">
                                    次數
                                </th>

                            }
                            @if (ViewBag.act == "sessions")
                            {   //流量來源
                                <th class="w-5">
                                    #
                                </th>
                                <th class="min-tablet-p">
                                    來源
                                </th>
                                <th class="min-tablet-p">
                                    次數
                                </th>

                            }
                            @if (ViewBag.act == "browser")
                            {   //瀏覽器使用
                                <th class="w-5">
                                    #
                                </th>
                                <th class="min-tablet-p">
                                    瀏覽器名稱
                                </th>
                                <th class="min-tablet-p">
                                    次數
                                </th>

                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>

<input type="hidden" id="tables" value="@ViewBag.Tables" />
@section scripts {
    <!--page index-->
    @Scripts.Render("~/Content/Siteadmin/scripts/index2.js")


    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")
    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Siteadmin/modules/validate/jquery.validate.js")
    @Scripts.Render("~/Content/Siteadmin/modules/validate/additional-methods.js")
    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/validate.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")
    <!-- /  layout-js-->
<script>


        $(document).ready(function () {


            $.extend($.fn.dataTable.defaults, {
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                },
            });


        var table = $(".datatables");
        table.each(function () {
            var that = $(this);
            that.dataTable({
                sAjaxSource: '@Url.Content("~/siteadmin/analyticsDatatable/"+ ViewBag.act)',

                   /* fnServerParams: function(aoData) {
                        aoData.push( @Html.Raw(ViewBag.dataTableAddPostVal) );
                    },*/

                sPaginationType: "full_numbers",
                checkAllId: "checkAll",
                bProcessing: true,
                bServerSide: true,
                pageLength: 20,
                language: {
                    aria: {
                        sortAscending: ": 生序",
                        sortDescending: ": 降序"
                    },

                    emptyTable: "無資料",
                    info: "<span class='text-muted'> ，在 _START_ 到 _END_ 筆，全部 _TOTAL_ 筆</span>",
                    infoEmpty: "無資料",
                    //infoFiltered: "(篩選1 from _MAX_ total 筆)",
                    infoFiltered :"",
                    lengthMenu: "<span class='mr-1 text-muted'>每頁</span>  _MENU_",
                    search: "<i class='icon-search'></i> 搜尋：",
                    zeroRecords: "無資料",
                    paginate: {
                        previous: "<i class='icon-keyboard_arrow_left'></i>",
                        next: "<i class='icon-keyboard_arrow_right'></i>",
                        last: "<i class='icon-last_page'></i>",
                        first: "<i class='icon-first_page'></i>"
                    }
                },
                buttons: [{
                    extend: "print",
                    className: "btn dark btn-outline"
                }, {
                    extend: "copy",
                    className: "btn red btn-outline"
                }, {
                    extend: "pdf",
                    className: "btn green btn-outline"
                }, {
                    extend: "excel",
                    className: "btn yellow btn-outline "
                }, {
                    extend: "csv",
                    className: "btn purple btn-outline "
                }, {
                    extend: "colvis",
                    className: "btn dark btn-outline",
                    text: "欄位"
                }],

                lengthMenu: [
                    [10, 20, 50, 100, 150, -1],
                    [10, 20, 50, 100, 150, "All"]
                ],

                dom: 't<"row mt-1 align-items-center"<"col-md-6 text-center text-md-left"li><"col-md-6 text-center text-md-right"p>>',
                order: [
                    [@ViewBag.orderByKey, "@ViewBag.orderByType"]
                ],
                columns:[@Html.Raw(ViewBag.columns)],
                columnDefs: [{
                    "targets": [@ViewBag.targets],
                    "orderable": false
                }]

            });

            $(".datatables").on('draw.dt', function () {
                $(".imgFill").each(function () {
                    $(this).imgLiquid();
                });
            });

            /* datatables -輸出按鈕*/
            $("#datatableTools a.tool-action").on("click", function () {
                var e = $(this).attr("data-action");
                that.DataTable().button(e).trigger();
            });


        });



    });


</script>

}