﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="subject">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-5 col-xl-4">
        <input class="form-control" data-tables="@ViewBag.Tables" data-category="@if (Request["c"] != null) {@Html.Raw(Request["c"].ToString())}" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] @if (ViewBag.data != null) { @Html.Raw("readonly") } value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" /><div class="_formErrorMsg"></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>