﻿@using Web.Models;
@using Web.Service;
@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            Model DB = new Model();
            string category = "";
            if (!string.IsNullOrEmpty(Request["c"]))
            {
                category = Request["c"].ToString();
            }
            string[] valData = null;
            if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang))
            {
                category = ViewBag.data[item.lang]["category"].ToString();
                //取得資料
                valData = ViewBag.data[item.lang][ViewBag.key].ToString().Split(',');
            }
            string lang = item.lang;
            var OverviewData = DB.about_overview.Where(m => m.guid == category).Where(m => m.lang == lang).FirstOrDefault();





            if (!string.IsNullOrEmpty(OverviewData.content))
            {
                Dictionary<string, List<string>> viewData = FunctionService.InfinityJsonFormat(OverviewData.content);

                var KeyList = viewData["X"];

                <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="" />
                <div class="form-group row vLay @Html.Raw("v_"+item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") }>
                    <label class="col-lg-2 col-form-label" for="subject">
                        @Html.Raw(ViewBag.colJson["subject"])
                        @if (ViewBag.colJson["required"] != "")
                        {<span class="text-danger ml-1">*</span>}
                    </label>

                    <div class="col-lg-5 col-xl-2">

                        @if (KeyList.Count > 0)
                        {
                            int i = 0;
                            foreach (string keyVal in KeyList)
                            {
                                <div>@keyVal (僅數字)</div> <div style=""><input value="@if(valData != null && valData.Length > i) {@Html.Raw(valData[i].ToString())}" class="form-control fixedConcent" data-field="@Html.Raw(ViewBag.key + "_" + item.lang)" data-lang="@item.lang" type="text" @ViewBag.colJson["required"] @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /></div>
                                i++;
                            }
                        }


                        <div class="_formErrorMsg"></div>
                    </div>

                    @Html.Raw(ViewBag.colJson["notes"])
                </div>


            }
            a++;


        }
    }

}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="subject">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>

        <div class="col-lg-5 col-xl-4">
            @if (ViewBag.useLang == "Y")
            {
                <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.defLang][ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
            }
            else
            {
                <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
            }
        </div>

        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}

