﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="tiptop">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
    {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        
    @if(ViewBag.category["data"] != "")
    {
        string[] radioData = ViewBag.category["data"].ToString().Split('/');
        string[] radioVal = ViewBag.category["val"].ToString().Split('/');

        for(int i=0;i< radioData.Length;i++)
        {
            string checkeds = "";
            if(ViewBag.data == null)
            {
                if (ViewBag.colJson["defaultVal"] == radioVal[i])
                {
                    checkeds = " checked";
                }
            }
            else
            {
                if (ViewBag.data[ViewBag.key] == radioVal[i])
                {
                    checkeds = " checked";
                }
                else
                {
                    checkeds = "";
                }

            }

             <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" type="radio" id="@Html.Raw(ViewBag.key + i.ToString())" name="@Html.Raw(ViewBag.key)" value="@radioVal[i]" @checkeds />
                <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i.ToString())">@radioData[i]</label>
            </div>
        }
        


    }

   


       
    </div> @Html.Raw(ViewBag.colJson["notes"])
</div>