﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="title">
        回覆日期
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="form-text">
            @if(ViewBag.data["re_date"] != null && ViewBag.data["re_date"].ToString() != "")
            {
                @Html.Raw(DateTime.Parse(ViewBag.data["re_date"].ToString()).ToString("yyyy-MM-dd HH:mm"))
            }
            else
            {

                @Html.Raw("尚未回覆");
            }

        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="title">
        回覆者
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input class="form-control-plaintext" type="text" name="name" value="@ViewBag.data["ad_name"].ToString() (@Html.Raw(ViewBag.data["ad_department"].ToString()))" readonly>
            </div>
            <div class="col-auto">
                @if(ViewBag.data["role"].ToString() == "Replyer")
                {
                  
                     <span class="badge mr-1 badge-primary">回覆者</span>
                }
             @if(ViewBag.data["role"].ToString() == "Asker")
                {
                        <span class="badge mr-1 badge-danger">提問者</span>
                }
             @if(ViewBag.data["role"].ToString() == "Tongren")
                {
                   <span class="badge mr-1 badge-secondary">同仁</span>
                }
            

         
           
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="title">
        主題
    </label>
    <div class="col-lg-5 col-xl-4">
        <a class="form-text" href="forumRepliesEdit.html">Re(2): @Html.Raw(ViewBag.category.title)</a>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="text">
        內容
    </label>
    <div class="col-lg-10">
        <div class="form-text">@Html.Raw(ViewBag.category.content)</div>
    </div>
</div>
