﻿<div class="form-group row">
       <input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
    <label class="col-lg-2 col-form-label" for="img">
        @Html.Raw(ViewBag.colJson["subject"])
    </label>
    <div class="col-lg-5 col-xl-4">
        <div class="file-img-list">

               @if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() != "")
               {
                   if (ViewBag.colJson["filetype"].ToString().IndexOf("image") != -1)
                   {
                       string[] fileList = ViewBag.data[ViewBag.key].ToString().Split(',');


                       for (int i = 0; i < fileList.Length; i++)
                       {

                            <div class="card mr-2 d-inline-block mt-1 noUploadImg" id="@Html.Raw(ViewBag.key + "_img" + i)" data-value="@Html.Raw(fileList[i].ToString())">

                                <a class="thumb" href="@Html.Raw(fileList[i])" data-fancybox=""><span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;@Html.Raw(fileList[i])&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="@Html.Raw(fileList[i])" class="imgData fileData" data-file="@Html.Raw(fileList[i])" style="display: none;"></span></a>
               
                                <div class="form-row mt-1">
                                    <div class="col-auto">
                                        <div class="btn-group btn-group-sm justify-content-center">
                                            <button class="btn btn-outline-default delFiles" type="button" data-guid="" data-id="@Html.Raw(ViewBag.key + "_img" + i)" data-field="@Html.Raw(ViewBag.key)" data-filename="@Html.Raw(fileList[i])"><i class="icon-trash2"></i></button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input class="form-control form-control-sm" type="text" name="order" value="10" />
                                    </div>
                                </div>
                            </div>
                           
                       }
                   }
               }


        </div>
    </div>
</div>


