﻿@using Web.Models;
@{ 
    List<medical_guide> data = (List<medical_guide>)ViewBag.Data;
    List<medical_other> medical_other = (List<medical_other>)ViewBag.Data2;
    List<qas> qas = (List<qas>)ViewBag.Qas;
}
@section css {
    @Styles.Render("~/Styles/plugin/jquery.mCustomScrollbar.min.css")

}
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["就醫指南"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/guide/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["就醫指南"]</h2>
                    <h3 class="fz-24 fwn">便民服務，快速瀏覽就醫相關資訊</h3>
                </div>
            </div>
            @Html.Partial("../Services/ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-1400 pd__section-footer pd__nav-first guide">
            <div class="layout__grid-circleblock">
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/1.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["門診"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (data != null && data.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_guide item in data.FindAll(m=>m.category == "1").OrderBy(m=>m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Info/1#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/2.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["住院"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (data != null && data.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_guide item in data.FindAll(m => m.category == "3").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Info/3#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/3.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["急診"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (data != null && data.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_guide item in data.FindAll(m => m.category == "2").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Info/2#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/4.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["轉診就醫流程"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (data != null && data.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_guide item in data.FindAll(m => m.category == "4").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Info/4#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/5.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["文件申請"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (data != null && data.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_guide item in data.FindAll(m => m.category == "5").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Info/5#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/6.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["檢查與檢驗"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (medical_other != null && medical_other.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_other item in medical_other.FindAll(m => m.category == "1").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/List/1#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/7.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["常見問題"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (qas != null && qas.Count > 0)
                                {
                                    int i = 0;
                                    foreach (qas item in qas.OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/Qa/"+item.guid)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="wrap">
                        <div class="imgLiquidFill"><img src="~/images/02-service/guide/8.jpg" alt=""></div>
                        <h4 class="fz-24">@ViewBag.ResLang["收費標準"]</h4>
                        <div class="scrollbox">
                            <ul class="ul-reset ul-arrow fz-18">
                                @if (medical_other != null && medical_other.Count > 0)
                                {
                                    int i = 0;
                                    foreach (medical_other item in medical_other.FindAll(m => m.category == "2").OrderBy(m => m.sortIndex).ToList())
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang+"/Guide/List/2#"+i)">@item.title</a></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts {

    @Scripts.Render("~/Scripts/js/plugin/jquery.mCustomScrollbar.concat.min.js")
    <script>
        var winWidth = $(window).outerWidth();
        $('.scrollbox').mCustomScrollbar({
            theme: "my-theme",
            scrollbarPosition: "outside"
        });
        $(window).resize(function () {
            winWidth = $(window).outerWidth();
            if (winWidth > 768) {
                $('.scrollbox').mCustomScrollbar({
                    theme: "my-theme",
                    scrollbarPosition: "outside"
                });
            } else {
                $('.scrollbox').mCustomScrollbar("destroy");
            }
        })
    </script>
}