﻿@using Web.Models;
@{ 
    List<medical_guide> data = (List<medical_guide>)ViewBag.Data;
}
<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="service-team.php">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["就醫指南"]</a></li>
                </ul>
            </div>

            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/guide/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["就醫指南"]</h2>
                    <h3 class="fz-24 fwn">便民服務，快速瀏覽就醫相關資訊</h3>
                </div>
            </div>

            @Html.Partial("../Services/ServiceMenu")<!--共用選單-->


        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            <div class="mobile-nav hide-tablet-portrait-up">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option disabled selected>請選擇項目</option>
                    <option @if (ViewBag.ID == "1") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1">@ViewBag.ResLang["門診"]</option>
                    <option @if (ViewBag.ID == "2") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2">@ViewBag.ResLang["急診"]</option>
                    <option @if (ViewBag.ID == "3") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3">@ViewBag.ResLang["住院"]</option>
                    <option @if (ViewBag.ID == "4") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4">@ViewBag.ResLang["轉診就醫流程"]</option>
                    <option @if (ViewBag.ID == "5") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5">@ViewBag.ResLang["文件申請"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa">@ViewBag.ResLang["常見問題"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</option>
                </select>
            </div>
            <ul class="ul-reset fz-20 hide-tablet-portrait-under">
             

                <li ><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1" @if (ViewBag.ID == "1") { @Html.Raw("class=\"active\"") }>@ViewBag.ResLang["門診"]</a></li>
                <li ><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2" @if (ViewBag.ID == "2") { @Html.Raw("class=\"active\"") }>@ViewBag.ResLang["急診"]</a></li>
                <li ><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3" @if (ViewBag.ID == "3") { @Html.Raw("class=\"active\"") }>@ViewBag.ResLang["住院"]</a></li>
                <li ><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4" @if (ViewBag.ID == "4") { @Html.Raw("class=\"active\"") }>@ViewBag.ResLang["轉診就醫流程"]</a></li>
                <li ><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5" @if (ViewBag.ID == "5") { @Html.Raw("class=\"active\"") }>@ViewBag.ResLang["文件申請"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa">@ViewBag.ResLang["常見問題"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</a></li>

            </ul>
            <h3 class="fz-36 fwb tac">@ViewBag.pathTitle</h3>
        </section>
        <section class="layout__nav-subclass nav-tab">
            <div class="layout__container-1400">
                <ul class="nav ul-reset fz-17 slick-nav-subclass slick-arrow-round">
                    @if (data != null && data.Count > 0)
                    {
                        foreach (medical_guide item in data)
                        {
                            <li>@item.title</li>
                        }
                    }

                </ul>
            </div>
            <div class="list layout__container-full bg-grey">
                <div class="wrap layout__container-1400 slick-target-subclass slick-arrow-round">
                    @if (data != null && data.Count > 0)
                    {
                        foreach (medical_guide item in data)
                        {
                            <div class="item">

                                @Html.Raw(item.content)

                            </div>


                        }
                    }
                </div>
            </div>
        </section>

    </div>
</main>