﻿@using Web.Models;

<main class="main service">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="service-team.php">@ViewBag.ResLang["醫療服務"]</a></li>
                    <li><a>@ViewBag.ResLang["就醫指南"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/02-service/guide/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["就醫指南"]</h2>
                    <h3 class="fz-24 fwn">便民服務，快速瀏覽就醫相關資訊</h3>
                </div>
            </div>
            @Html.Partial("../Services/ServiceMenu")<!--共用選單-->
        </section>
        <section class="layout__container-full layout__nav-class pd__nav-first tac">
            <div class="mobile-nav hide-tablet-portrait-up">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option disabled selected>請選擇項目</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1">@ViewBag.ResLang["門診"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2">@ViewBag.ResLang["住院"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3">@ViewBag.ResLang["急診"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4">@ViewBag.ResLang["轉診就醫流程"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5">@ViewBag.ResLang["文件申請"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</option>
                    <option selected value="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa">@ViewBag.ResLang["常見問題"]</option>
                    <option value="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</option>
                </select>
            </div>
            <ul class="ul-reset fz-20 hide-tablet-portrait-under">


                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1">@ViewBag.ResLang["門診"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2">@ViewBag.ResLang["急診"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3">@ViewBag.ResLang["住院"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4">@ViewBag.ResLang["轉診就醫流程"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5">@ViewBag.ResLang["文件申請"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa" class="active">@ViewBag.ResLang["常見問題"]</a></li>
                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</a></li>

            </ul>
            <h3 class="fz-36 fwb tac">@ViewBag.pathTitle</h3>
        </section>
        <section class="layout__nav-subclass nav-href">
            <div class="layout__container-1400">
                <ul class="nav ul-reset fz-17 slick-nav-subclass slick-arrow-round">
                    @if (ViewBag.Categorys != null)
                    {
                        foreach (qas item in ViewBag.Categorys)
                        {
                            string active = "";
                            if(item.guid == ViewBag.ID)
                            {
                                active = "nav-current";
                            }

                            <li class="@active"><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa/@item.guid">@item.title</a></li>
                        }
                    }

                </ul>
            </div>
            <div class="list layout__container-full bg-grey">


                <div class="layout__container-1400 slick-target-subclass">
                    <div class="item">
                        <ol class="layout__grid-qa">
                            @if (ViewBag.Data != null)
                            {
                                int i = 1;
                                foreach (qas_data item in ViewBag.Data)
                                {
                                    int no = (( (int)ViewBag.page - 1 ) * (int)ViewBag.pageWidth) + i; 

                                    <li class="">
                                        <div class="qa__head js-qa-toggle">
                                            <div class="qa__index">@Html.Raw("Q"+no)</div>
                                            <h5 class="title fz-20">@item.title</h5>
                                            <div class="arrowdown"><i class="icon-angle-down"></i></div>
                                        </div>
                                        <div class="qa__body fz-17">
                                            @if (item.content.IndexOf("<") != -1 && item.content.IndexOf(">") != -1)
                                            {
                                                @Html.Raw(item.content)
                                            }
                                            else
                                            {
                                                @Html.Raw(item.content.Replace(Environment.NewLine, "<br />"))
                                            }
                                        </div>
                                    </li>
                                    i++;
                                }
                            }
                        </ol>
                    </div>
                </div>


                <ul class="layout__pagination ul-reset">
                   @Html.Raw(ViewBag.pageView)
                </ul>
            </div>
        </section>

    </div>
</main>