﻿@using Web.Models;
@using Web.ServiceModels;
@{
    web_data WebData = ViewBag.webData;
    List<subsidiary_web> SubWeb = ViewBag.SubWebUrl;
}
<!doctype html>
<html lang="zh">
<head>
    <!-- Title and Meta
    ================================================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="~/images/00-logo-icon/ico.png" />

    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144941884-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144941884-1');
    </script>
</head>
<body>
    <div class="wp">
        <header id="header">
            <div class="header">
                <div class="header__logo">
                    <h1>@ViewBag.WebData.title</h1>
                    <a href="~/@ViewBag.Lang">
                        <img src="~/images/00-logo-icon/logo.svg" alt="">
                    </a>
                </div>
                <nav class="header__menu">
                    <div class="hide-tablet-up mobile-search">
                        <div class="search">
                            <form action="@Url.Content("~/" + ViewBag.Lang + "/Home/Searchs")" name="TopSearchForm" method="get">
                                <input type="text" placeholder="@ViewBag.ResLang["關鍵字搜尋"]">
                                <button type="submit"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="hide-tablet-up mobile-top">
                        <a href="@WebData.register_url" target="_blank">
                            <div class="svg">
                                <svg width="100%" height="100%" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M13.874,12.684c0,0.82 0.539,1.482 1.202,1.482l4.784,0c0.662,0 1.201,-0.662 1.201,-1.482c0,-1.483 -0.359,-3.19 -1.841,-3.19c-0.45,0.45 -1.067,0.719 -1.752,0.719c-0.685,0 -1.303,-0.269 -1.752,-0.719c-1.483,0 -1.842,1.707 -1.842,3.19Zm1.437,-4.987c0,1.191 0.966,2.157 2.157,2.157c1.19,0 2.156,-0.966 2.156,-2.157c0,-1.19 -0.966,-2.156 -2.156,-2.156c-1.191,0 -2.157,0.966 -2.157,2.156Zm-11.5,4.672l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm4.313,-2.875l0,0.719c0,0.202 0.157,0.359 0.359,0.359l3.594,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-3.594,0c-0.202,0 -0.359,0.157 -0.359,0.359Zm-4.313,0l0,0.719c0,0.202 0.158,0.359 0.36,0.359l2.156,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-2.156,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm0,-2.875l0,0.719c0,0.202 0.158,0.359 0.36,0.359l7.906,0c0.202,0 0.359,-0.157 0.359,-0.359l0,-0.719c0,-0.202 -0.157,-0.359 -0.359,-0.359l-7.906,0c-0.202,0 -0.36,0.157 -0.36,0.359Zm-1.437,9.344l0,-12.578l20.125,0l0,12.578c0,0.191 -0.168,0.359 -0.359,0.359l-19.407,0c-0.191,0 -0.359,-0.168 -0.359,-0.359Zm-1.438,-13.656l0,13.656c0,0.988 0.809,1.797 1.797,1.797l19.407,0c0.988,0 1.796,-0.809 1.796,-1.797l0,-13.656c0,-0.988 -0.808,-1.797 -1.796,-1.797l-19.407,0c-0.988,0 -1.797,0.809 -1.797,1.797Z" style="fill-rule:nonzero;" /></svg>
                            </div>
                            <div class="fz-16">@ViewBag.ResLang["即時掛號"]</div>
                        </a>
                        <a href="@WebData.reference_url" target="_blank">
                            <div class="svg">
                                <svg width="90%" height="90%" viewBox="0 0 13 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="path-5" serif:id="path 5" d="M2.408,4.635c0,2.072 1.678,3.75 3.75,3.75c2.072,0 3.75,-1.678 3.75,-3.75c0,-2.072 -1.678,-3.75 -3.75,-3.75c-2.072,0 -3.75,1.678 -3.75,3.75Zm0,7.969l0,8.437l-1.172,0c-0.647,0 -1.172,0.525 -1.172,1.172c0,0.647 0.525,1.172 1.172,1.172l9.844,0c0.647,0 1.172,-0.525 1.172,-1.172c0,-0.647 -0.525,-1.172 -1.172,-1.172l-1.172,0l0,-9.75c0,-0.572 -0.459,-1.031 -1.031,-1.031l-7.641,0c-0.647,0 -1.172,0.525 -1.172,1.171c0,0.648 0.525,1.173 1.172,1.173l1.172,0Z" style="fill-rule:nonzero;" /></svg>
                            </div>
                            <div class="fz-16">@ViewBag.ResLang["看哪一科"]</div>
                        </a>
                        <a href="@WebData.symptom_url" target="_blank">
                            <div class="svg">
                                <svg width="80%" height="80%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M20.208,12.445l0,-6.072c0,-0.635 -0.515,-1.15 -1.15,-1.15c-0.635,0 -1.15,0.515 -1.15,1.15l0,11.512c0,3.176 -2.574,5.75 -5.75,5.75c-3.176,0 -5.75,-2.574 -5.75,-5.75l0,-1.242c-3.284,-0.57 -5.75,-3.399 -5.75,-6.804c0,-0.001 0,-0.003 0,-0.004l0,0l0,-6.9c0,-1.265 1.035,-2.3 2.3,-2.3l1.15,0c0.635,0 1.15,0.515 1.15,1.15c0,0.635 -0.515,1.15 -1.15,1.15l-1.15,0l0,6.9c0,2.54 2.059,4.6 4.6,4.6c2.54,0 4.6,-2.06 4.6,-4.6l0,-6.9l-1.15,0c-0.635,0 -1.15,-0.515 -1.15,-1.15c0,-0.635 0.515,-1.15 1.15,-1.15l1.15,0c1.27,0 2.3,1.03 2.3,2.3l0,6.905c0,3.404 -2.466,6.233 -5.709,6.797l-0.041,0.006l0,1.242c0,1.905 1.545,3.45 3.45,3.45c1.905,0 3.45,-1.545 3.45,-3.45l0,-11.5c0,-1.905 1.545,-3.45 3.45,-3.45c1.905,0 3.45,1.545 3.45,3.45l0,6.06c0.692,0.406 1.15,1.145 1.15,1.992c0,1.271 -1.03,2.3 -2.3,2.3c-1.27,0 -2.3,-1.029 -2.3,-2.3c0,-0.846 0.458,-1.586 1.139,-1.986l0.011,-0.006l0,0Z" style="fill-rule:nonzero;" /></svg>
                            </div>
                            <div class="fz-16">@ViewBag.ResLang["病症參考"]</div>
                        </a>
                    </div>
                    <ul class="menu fz-20">
                        <li>
                            <div class="menu__list js-menu-toggle">
                                <a class="nav-service" href="@Url.Content("~/" + ViewBag.Lang)/Services/Index">@ViewBag.ResLang["醫療服務"]</a>
                            </div>
                            <div class="submenu fz-16">
                                <div class="submenu__row lg first">
                                    <div>
                                        <div class="img">
                                            <img src="~/images/06-header/1.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="content__wrap">
                                                <div class="wrap-title fwb">@ViewBag.ResLang["網路掛號"]</div>
                                                <ul>
                                                    <li><img src="~/images/06-header/icon-1.svg" class="circle"><a href="@WebData.register_url" target="_blank">@ViewBag.ResLang["即時掛號"]</a></li>
                                                    <li><img src="~/images/06-header/icon-2.svg" class="circle"><a href="@WebData.reference_url" target="_blank">@ViewBag.ResLang["該看哪一科"]</a></li>
                                                    <li><img src="~/images/06-header/icon-3.svg" class="circle"><a href="@WebData.symptom_url" target="_blank">@ViewBag.ResLang["病症參考"] </a></li>
                                                </ul>
                                            </div>
                                            <div class="content__wrap">
                                                <div class="wrap-title fwb">@ViewBag.ResLang["醫療團隊"]</div>
                                                <ul>
                                                    <li><img src="~/images/06-header/icon-4.svg" class="circle"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["院區"]</a></li>
                                                    <li><img src="~/images/06-header/icon-5.svg" class="circle"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/TeamSearch">@ViewBag.ResLang["搜尋"]</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submenu__row hide-tablet-up">
                                    <div class="submenu__title"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/TeamSearch">@ViewBag.ResLang["團隊搜尋"]</a></li>
                                        @if (ViewBag.Hospitals != null)
                                        {
                                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                                            {
                                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DeptList/@item.hospitalID">@if (!string.IsNullOrEmpty(item.join_title))
                                                                                                                                { @item.join_title }
                                                                                                                                else { @item.title }</a></li>
                                                                                                                                }
                                        }
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title"><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Index">@ViewBag.ResLang["就醫指南"]</a></div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/1">@ViewBag.ResLang["門診"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/2">@ViewBag.ResLang["急診"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/3">@ViewBag.ResLang["住院"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/4">@ViewBag.ResLang["轉診就醫流程"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Info/5">@ViewBag.ResLang["文件申請"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/1">@ViewBag.ResLang["檢查與檢驗"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Qa">@ViewBag.ResLang["常見問題"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/List/2">@ViewBag.ResLang["收費標準"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title"><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["線上服務"]</a></div>

                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["網站會員"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Guardian">@ViewBag.ResLang["衛教園地"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Advisory">@ViewBag.ResLang["醫療諮詢"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Consultation">@ViewBag.ResLang["用藥諮詢"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Drug">@ViewBag.ResLang["藥品綜合查詢"]</a></li>
                                        <!-- <li><a href="service-online06.php">中醫用藥查詢</a></li> -->
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/DrugGuide">@ViewBag.ResLang["用藥指導單張"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Questionnaire">@ViewBag.ResLang["服務滿意度問卷調查"]</a></li>
                                        <li><a href="@if(!string.IsNullOrEmpty(WebData.refs_url)) {@WebData.refs_url} else {@Html.Raw("https://www.cgmh.org.tw/refs/adtlogin.asp")}" target="_blank">@ViewBag.ResLang["轉診作業"]</a></li>
                                        <li><a href="@if(!string.IsNullOrEmpty(WebData.webwork_url)) {@WebData.webwork_url} else {@Html.Raw("https://www.cgmh.org.tw/webwork/cghmhb")}" target="_blank">@ViewBag.ResLang["健康存摺上傳"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row lg">
                                    <ul class="ul-arrow-full no-title">

                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Cm" >@ViewBag.ResLang["特色醫療中心"]</a></li>

                                        @if (!string.IsNullOrEmpty(WebData.International_url))
                                        {
                                            <li><a href="@WebData.International_url" target="_blank">@ViewBag.ResLang["國際醫療"]</a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(WebData.health_url))
                                        {
                                            <li><a href="@WebData.health_url" target="_blank">@ViewBag.ResLang["健康促進"]</a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(WebData.medical_url))
                                        {
                                            <li><a href="@WebData.medical_url" target="_blank">@ViewBag.ResLang["長庚醫訊"]</a></li>
                                        }
                                        @if (!string.IsNullOrEmpty(WebData.care_url))
                                        {
                                            <li><a href="@WebData.care_url" target="_blank">@ViewBag.ResLang["預立醫療照護"]</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="menu__list js-menu-toggle">
                                <a class="nav-research" href="@Url.Content("~/" + ViewBag.Lang)/Research/Index">@ViewBag.ResLang["研究教學"]</a>
                            </div>
                            <div class="submenu fz-16">
                                <div class="submenu__row lg first">
                                    <div class="img">
                                        <img src="~/images/06-header/2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation">@ViewBag.ResLang["創新研究"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#result">@ViewBag.ResLang["研究成果"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#resource">@ViewBag.ResLang["研究資源"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation#service">@ViewBag.ResLang["服務諮詢"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education">@ViewBag.ResLang["醫學教育"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#train">@ViewBag.ResLang["教育培訓"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#resource">@ViewBag.ResLang["教學資源"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education#service">@ViewBag.ResLang["服務諮詢"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row lg">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["會議與活動"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["研討會資訊"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/AcademicEventsList">@ViewBag.ResLang["學術活動資訊"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row lg">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search" target="_blank">@ViewBag.ResLang["申請與查詢"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        @if (ViewBag.AppInquiryCategory != null)
                                        {
                                            foreach (app_inquiry_category item in ViewBag.AppInquiryCategory)
                                            {
                                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search#@item.guid">@item.title</a></li>
                                            }

                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="menu__list js-menu-toggle">
                                <a class="nav-welfare" href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a>
                            </div>
                            <div class="submenu fz-16">
                                <div class="submenu__row lg first">
                                    <div class="img">
                                        <img src="~/images/06-header/3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title"><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare">@ViewBag.ResLang["社會關懷"]</a></div>
                                    <ul class="ul-arrow">
                                        @if (ViewBag.PublicWelfareTop != null)
                                        {
                                            int i = 1;
                                            foreach (public_welfare item in ViewBag.PublicWelfareTop)
                                            {
                                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare#@i">@item.title</a></li>
                                                i++;
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service">@ViewBag.ResLang["社會服務"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service#1">@ViewBag.ResLang["長庚社服"]</a></li>
                                        @if (ViewBag.SocialServiceTop != null)
                                        {
                                            int i = 2;
                                            foreach (social_service item in ViewBag.SocialServiceTop)
                                            {
                                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service#@i">@item.title</a></li>
                                                i++;
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="submenu__row lg">
                                    <div class="submenu__title no-bd">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys">@ViewBag.ResLang["社服活動"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys?v=List">@ViewBag.ResLang["列表"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys">@ViewBag.ResLang["月曆"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="menu__list js-menu-toggle">
                                <a class="nav-system" href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a>
                            </div>
                            <div class="submenu fz-16">
                                <div class="submenu__row lg first">
                                    <div class="img">
                                        <img src="~/images/06-header/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["醫療體系"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["組織架構"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area#area__intro">@ViewBag.ResLang["各院區"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["宗旨與理念"]</a></li>

                                        @if (!string.IsNullOrEmpty(WebData.csr_url))
                                        {
                                            <li><a href="@WebData.csr_url" target="_blank">@ViewBag.ResLang["永續發展"]</a></li>
                                        }


                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Historys">@ViewBag.ResLang["大事記"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Overview">@ViewBag.ResLang["服務概況"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Security">@ViewBag.ResLang["病人安全"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row">
                                    <div class="submenu__title">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["醫院訊息"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A2">@ViewBag.ResLang["聚焦點"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A1">@ViewBag.ResLang["新聞與觀點"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["最新消息"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/B">@ViewBag.ResLang["活動訊息"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/PressNewsList">@ViewBag.ResLang["記者會資訊"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/AwardList">@ViewBag.ResLang["得獎紀錄"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/DrugChangeList">@ViewBag.ResLang["藥品異動訊息"]</a></li>
                                        <li><a href="@if(!string.IsNullOrEmpty(WebData.fidrug_url)) {@WebData.fidrug_url} else {@Html.Raw("https://www1.cgmh.org.tw/fidrug/index.htm")}" target="_blank">@ViewBag.ResLang["藥品引進資訊"]</a></li>
                                        <li><a href="@if(!string.IsNullOrEmpty(WebData.material_url)) {@WebData.material_url} else {@Html.Raw("https://www1.cgmh.org.tw/material/index.htm")}" target="_blank">@ViewBag.ResLang["材料資訊"]</a></li>
                                    </ul>
                                </div>
                                <div class="submenu__row lg">
                                    <div class="submenu__title no-bd">
                                        <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit">@ViewBag.ResLang["人員招募"]</a>
                                    </div>
                                    <ul class="ul-arrow">
                                        @if (ViewBag.Recruit != null)
                                        {
                                            int i = 1;
                                            foreach (recruits item in ViewBag.Recruit)
                                            {
                                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit#@i">@item.title</a></li>
                                            }

                                            i++;
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="hide-tablet-under">
                            <div class="menu__wrap search-holder fz-16 por">
                                <div class="menu__wrap-search">
                                    <form action="@Url.Content("~/" + ViewBag.Lang + "/Home/Searchs")" name="TopSearchForm" method="get">
                                        <input class="menu__search" type="text" name="keyword">
                                        <button type="submit" class="js-btn-search"><i class="icon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="menu__wrap wrap-lang fz-16">
                                <i class="icon-globe"></i>
                                <ul class="ul-reset fwb js-lang">
                                    <li><a>繁中</a></li>
                                    <li>
                                        <ul class="ul-reset fwb js-lang-for tac">
                                            <li><a href="@WebData.en_url" target="_blank">ENGLISH</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__fontchange fz-16">
                            @ViewBag.ResLang["字級設定"] :
                            <ul class="fwb">
                                <li data-size="s">小</li>
                                <li data-size="m" class="active">中</li>
                                <li data-size="l">大</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header__mobile hide-tablet-up">
                    <div class="language js-language">
                        <i class="icon-globe"></i>
                        <ul class="ul-reset fwb">
                            <li><a href="javascript:;">繁中</a></li>
                            <li><a href="@WebData.en_url" target="_blank">ENGLISH</a></li>
                        </ul>
                    </div>
                    <a class="js-burgerlist">
                        <div class="burgerlist">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </a>
                </div>
            </div>
            @if (ViewBag.Announcement != null)
            {
                <div class="layout__urgent">
                    <div class="layout__container-1400 ">
                        <!-- <span class="fz-20 fwb">即時訊息</span>
                        <span class="fz-14">2018-09-21</span> -->
                        <span class="icon-urgent">
                        
                        <img src="/images/icon-urgent.png">
                        
                        
                        
                        
                        
                        
                        <!--
                            <div class="svg">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                <path d="M505.403,406.394L295.389,58.102c-8.274-13.721-23.367-22.245-39.39-22.245c-16.023,0-31.116,8.524-39.391,22.246
								L6.595,406.394c-8.551,14.182-8.804,31.95-0.661,46.37c8.145,14.42,23.491,23.378,40.051,23.378h420.028
								c16.56,0,31.907-8.958,40.052-23.379C514.208,438.342,513.955,420.574,505.403,406.394z M477.039,436.372
								c-2.242,3.969-6.467,6.436-11.026,6.436H45.985c-4.559,0-8.784-2.466-11.025-6.435c-2.242-3.97-2.172-8.862,0.181-12.765
								L245.156,75.316c2.278-3.777,6.433-6.124,10.844-6.124c4.41,0,8.565,2.347,10.843,6.124l210.013,348.292
								C479.211,427.512,479.281,432.403,477.039,436.372z" />
						</g>
                                <g>
                                <path d="M256.154,173.005c-12.68,0-22.576,6.804-22.576,18.866c0,36.802,4.329,89.686,4.329,126.489
								c0.001,9.587,8.352,13.607,18.248,13.607c7.422,0,17.937-4.02,17.937-13.607c0-36.802,4.329-89.686,4.329-126.489
								C278.421,179.81,268.216,173.005,256.154,173.005z" />
						</g>
                                <g>
                                <path d="M256.465,353.306c-13.607,0-23.814,10.824-23.814,23.814c0,12.68,10.206,23.814,23.814,23.814
								c12.68,0,23.505-11.134,23.505-23.814C279.97,364.13,269.144,353.306,256.465,353.306z" />
						</g>
					</svg>
                            </div>
                            -->
                            
                            
                        </span>
                        <ul class="ul-arrow ul-reset fz-18 fwb">

                            @{
                                notes_data Announcement = ViewBag.Announcement;
                            }
                            @if (!string.IsNullOrEmpty(Announcement.sub_title))
                            {
                                <li><a href="@Announcement.sub_title" target="_blank">@Announcement.title</a></li>
                            }
                            else
                            {
                                <li>@Announcement.title</li>
                            }
                        </ul>
                        <div class="btn-close js-urgent-close"><i class="icon-cancel fz-36"></i></div>
                    </div>
                </div>
            }
        </header>

        <!-- main ======================================================================================= -->

        @RenderBody()

        <!-- main ======================================================================================= -->
        <footer id="footer" class="footer">
            <div class="footer__top">
                <a href="https://cghbotpglap.cgmh.org.tw/?chatwebId=20210202144733843&traceTag=official_web&hospitalId=0" target="_blank" class="apo-talk-box">
                    <span class="apo-talk">
                        <span class="apo-title apo-content">長庚醫院智能服務</span>
                        <span class="apo-content">有任何問題隨時找我！</span>
                    </span>
                </a>
                <a href="https://cghbotpglap.cgmh.org.tw/?chatwebId=20210202144733843&traceTag=official_web&hospitalId=0" target="_blank" class="apo">
                    <div class="apo-icon">
                        <img src="~/images/00-logo-icon/apo.svg" alt="apo">
                    </div>
                </a>
                <a class="js-btn-scrollTop">
                    <div class="arrow"><i class="icon-angle-up"></i></div>
                </a>
                <div class="layout__container-1280">
                    <nav class="hide-tablet-under">
                        <div class="submenu__row">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Services/Index" class="submenu__title">@ViewBag.ResLang["醫療服務"]</a>
                            <ul class="ul-arrow">
                                <li><a href="@WebData.register_url" target="_blank">@ViewBag.ResLang["即時掛號"]</a></li>
                                <li><a href="@WebData.reference_url" target="_blank">@ViewBag.ResLang["該看哪一科"]</a></li>
                                <li><a href="@WebData.symptom_url" target="_blank">@ViewBag.ResLang["看診病症參考"]</a></li>
                            </ul>
                            <ul class="ul-arrow">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Team">@ViewBag.ResLang["醫療團隊"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Guide/Index">@ViewBag.ResLang["就醫指南"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Services/Login">@ViewBag.ResLang["線上服務"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Cm">@ViewBag.ResLang["特色醫療中心"]</a></li>
                            </ul>
                            <ul class="ul-arrow">
                                <li><a href="@WebData.International_url" target="_blank">@ViewBag.ResLang["國際醫療"]</a></li>
                                <li><a href="@WebData.health_url" target="_blank">@ViewBag.ResLang["健康促進"]</a></li>
                                <li><a href="@WebData.medical_url" target="_blank">@ViewBag.ResLang["長庚醫訊"]</a></li>
                                <li><a href="@WebData.care_url" target="_blank">@ViewBag.ResLang["預立醫療照護"]</a></li>
                            </ul>
                        </div>
                        <div class="submenu__row">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Research/Index" class="submenu__title">@ViewBag.ResLang["研究教學"]</a>
                            <ul class="ul-arrow">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Innovation">@ViewBag.ResLang["創新研究"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Education">@ViewBag.ResLang["醫學教育"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Activity">@ViewBag.ResLang["會議與活動"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Research/Search">@ViewBag.ResLang["申請與查詢"]</a></li>
                            </ul>
                        </div>
                        <div class="submenu__row">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare" class="submenu__title">@ViewBag.ResLang["社會公益"]</a>
                            <ul class="ul-arrow">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare">@ViewBag.ResLang["社會關懷"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service">@ViewBag.ResLang["社會服務"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys">@ViewBag.ResLang["社服活動"]</a></li>
                            </ul>
                        </div>
                        <div class="submenu__row">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index" class="submenu__title">@ViewBag.ResLang["長庚體系"]</a>
                            <ul class="ul-arrow">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Area">@ViewBag.ResLang["醫療體系"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["醫院訊息"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Recruit">@ViewBag.ResLang["人員招募"] </a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="links">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_blank')">
                            <option selected disabled>@ViewBag.ResLang["附屬網站"]</option>
                            @if (SubWeb != null && SubWeb.Count > 0)
                            {
                                foreach (subsidiary_web item in SubWeb.FindAll(m => m.category == "1").ToList())
                                {
                                    <option value="@item.url">@item.title</option>
                                }
                            }
                        </select>
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_blank')">
                            <option selected disabled>@ViewBag.ResLang["友善連結"]</option>
                            @if (SubWeb != null && SubWeb.Count > 0)
                            {
                                foreach (subsidiary_web item in SubWeb.FindAll(m => m.category == "2").ToList())
                                {
                                    <option value="@item.url">@item.title</option>
                                }
                            }
                        </select>
                        <div class="links__app fwb fz-20">
                            <img src="~/images/01-index/icon-app.svg" alt="">
                            <div>
                                @ViewBag.ResLang["長庚e指通服務"]
                                <div class="link">
                                    <a href="https://itunes.apple.com/tw/app/zhang-genge-zhi-tong-fu-wu/id619682038?mt=8" target="_blank">iOS</a>
                                    <a href="https://play.google.com/store/apps/details?id=tw.org.cgmh.phonereg&feature=search_result#?t=W251bGwsMSwxLDEsInR3Lm9yZy5jZ21oLnBob25lcmVnIl0." target="_blank">Android</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="layout__container-1280">
                    <div class="wrap">
                        <img class="hide-tablet-under footer__logo" src="~/images/00-logo-icon/logo.svg" alt="@ViewBag.WebData.title">
                        <div class="fz-14 policy">@Html.Raw(ViewBag.ResLang["依政府法律規定"])</div>
                    </div>
                    <div class="wrap wrap-mobile">
                        <div class="fz-14">@ViewBag.ResLang["網站內容為長庚醫療財團法人所有未經授權禁止轉載"]</div>
                        <a class="tar" href="@Url.Content("~/" + ViewBag.Lang)/Home/Privacy"><span class="hide-tablet-under">@ViewBag.ResLang["隱私權政策"]</span></a>
                        <div class="btns">
                            <a class="btn__round" href="@Url.Content("~/" + ViewBag.Lang)/Home/Contact">@ViewBag.ResLang["意見信箱"]</a>
                            <a class="btn__round" href="@Url.Content("~/" + ViewBag.Lang)/Home/Sitemap">@ViewBag.ResLang["網站地圖"]</a>
                            <a class="btn__round" href="@Url.Content("~/" + ViewBag.Lang)/Home/Staff">@ViewBag.ResLang["員工專區"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/plugins")

    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {

            $("form[name='TopSearchForm']").submit(function () {

                var keyword = $(this).find("input[name='keyword']").val();

                if (keyword == '' || keyword.length < 2) {

                        swal({
                            title: "@ViewBag.ResLang["系統訊息"].ToString()",
                            text: "@ViewBag.ResLang["請輸入至少2個文字以上之關鍵字"].ToString()",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                        }, function () {

                        });
                        return false;
                    }
                    else {

                        return true;
                    }

                });
        });
    </script>
</body>
</html>