.login{
    background-color: #fff;
}
.user-login2 {
    min-height: 100vh;
    position: relative;
    padding-top: 8%;
    div.is-invalid{
        font-size: 12px;
        color:red;
        position: absolute;
        top:3px;
        line-height: 2rem;
        left:20px;
    }
    .login-bg {

        overflow: hidden;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .login-logo {

        span{
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            visibility: visible;
            vertical-align: middle;
            letter-spacing: 0px;
            opacity: 1;
            font-weight: 500;
        }
        .max-lg-size &{
            top:15px;
        }
    }
    .login-container {
        position: relative;
        z-index: 2;
        min-height: 430px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        background-color: rgba(5, 2, 2, 0.6);

    }

    .login-footer {
        position: relative;
        width: 100%;
        padding-bottom: 10px;
        z-index: 3;
        text-align: center;
        margin-top: 45px;
        .login-copyright {
            margin-top: 6px;
            p {
                margin: 0;
                font-size: 13px;
                color: #a9b5be
            }
        }

    }
    .welcome-panl{
        color: #ffffff;
        padding: 10%;
        line-height: 2rem;

    }
    .login-content{
        background-color: #fff;
        border-radius: 5px;
        //height: 480px;
        margin: -20px  0 -20px 30px;
        box-shadow: 0px 0px 50px rgba(87, 49, 23, 0.5);
        padding: 35px 50px 35px 50px;
        width: 510px;
        display: inline-block;
        .form-group{
            border-bottom: 1px solid #e1e5ec;
            padding-bottom:10px;
            i{
                opacity: 0.3;
            }
            .col-form-label{
                color:#a1a1a1;
            }
            .form-control{
                //border:1px solid #fff;
            }
        }
    }
}

@include media-breakpoint-down(lg)  {
    .user-login2 {
        .welcome-panl{
            padding:10% 3%;
        }
        .container{
            max-width: 95%;
        }
        .login-content{
            margin-left: 15px;
            width: 450px;
            margin: -20px  0 -20px 0;
        }
    }
}
@include media-breakpoint-down(md)  {
    .user-login2 {

        .login-content{
            width: 100%;
            margin: 0;
            padding: 35px 30px;
        }
        .login-footer {margin-top: 25px;}
    }
}
@include media-breakpoint-down(sm)  {
    .user-login2 {
        .login-content{

        }
        .login-container {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
            background-color: rgba(5, 2, 2, 0);
        }
    }
}
