﻿@using Web.ServiceModels;


<main class="main system">
    <div class="inner">
        @Html.Partial("Menu")<!--共用選單-->
        <section class="layout__grid-news">
            <div class="layout__container-1400 por">
                <h3 class="fz-36 fwb tac">@ViewBag.PathTitle</h3>
                <div class="search-box">
                    <input type="text" name="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]" value="@ViewBag.SearchKeyword">
                    <a href="javascript:;"><i class="icon-search"></i></a>
                </div>
            </div>
            <ul class="list ul-reset">
                @if (ViewBag.Data != null)
                {
                    foreach (GlobalArticleListModel item in ViewBag.Data)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleInfo/@ViewBag.ID/@item.articleId" class="wrap">
                                <div class="img"><div class="imgLiquidFill"><img src="@item.photoUrl" alt="@item.title"></div></div>
                                <div class="fz-20">@item.title</div>
                            </a>
                        </li>

                    }
                }
            </ul>
            <div class="layout__container-full bg-grey">
                <ul class="layout__pagination ul-reset">
                    @Html.Raw(ViewBag.pageView)
                </ul>
            </div>
        </section>
    </div>
</main>

