﻿@using Web.ServiceModels;
@{
    GlobalArticleModel data = ViewBag.Data;
}
    <main class="main system">
        <div class="inner">
            <section class="layout__hero hero-nav">
                <div class="layout__breadcrumb layout__container-1400 fz-15">
                    <span>@ViewBag.ResLang["您現在的位置"] : </span>
                    <ul class="ul-reset">
                        <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["醫院訊息"]</a></li>
                        <li><a>@ViewBag.PathTitle</a></li>
                    </ul>
                </div>
                <div class="imgLiquidFill hero__content">
                    <img src="~/images/05-system/news/hero.jpg" alt="">
                    <div class="layout__container-1400">
                        <h2 class="fz-48 fwb">@ViewBag.ResLang["醫院訊息"]</h2>
                        <h3 class="fz-24 fwn">長庚大小事，專業領域獲取各界信賴</h3>
                    </div>
                </div>
                @Html.Partial("MenuSingo")<!--共用選單-->
            </section>
            <section class="layout__newsinfo layout__container-1400">
                <div class="head-tag btn__rec-main-full fz-18 fwb">@ViewBag.PathTitle</div>
                <div class="head top">
                    <h3 class="fz-30 fwb">@data.title </h3>
                    <div class="share">
                        <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                        <ul class="ul-reset">
                            <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="body">
                    <div class="tag fz-18 bg-grey">
                        <span>@data.startDate</span><span>@data.dept</span>
                    </div>


                    <div>

                        @if (data.paragraph != null && data.paragraph.Count > 0)
                        {
                            foreach (Paragraph item in data.paragraph)
                            {
                                if (item.type == "1")
                                {
                                    <article class="fz-17">                                       
                                         @Html.Raw(item.paragraph)
                                    </article>
                                }

                                if (item.type == "2")
                                {
                                    <img src="@item.photoUrl" alt="">
                                    <article class="fz-17">                                                                 
                                        @Html.Raw(item.photoDesc)
                                    </article>

                                }

                                if (item.type == "3")
                                {
                                    <article class="fz-17">
                                        <a href="@item.url" target="_blank">@item.urlWord</a>
                                    </article>
                                }
                                if (item.type == "4")
                                {
                                    <article class="fz-17">
                                        <a href="@item.movieUrl" target="_blank">@item.movieUrl</a>                                   
                                        @Html.Raw(item.movieDesc)
                                    </article>
                                }
                            }

                        }



                    </div>


                </div>
                <div class="head">
                    <div class="share">
                        <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                        <ul class="ul-reset">
                            <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                            <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="btns fz-17">
                    @if (ViewBag.prevID != "")
                    {
                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleInfo/@ViewBag.ID/@ViewBag.prevID" class="btn"><i class="icon-angle-left"></i>@ViewBag.ResLang["上一則"]</a>
                    }
                    <a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/@ViewBag.ID" class="btn red">@ViewBag.ResLang["回列表"]</a>
                    @if (ViewBag.nextID != "")
                    {
                        <a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleInfo/@ViewBag.ID/@ViewBag.nextID" class="btn">@ViewBag.ResLang["下一則"]<i class="icon-angle-right"></i></a>
                    }
                </div>
            </section>

        </div>
    </main>