﻿@using Web.ServiceModels;

<main class="main system">
    <div class="inner">

        @Html.Partial("Menu")<!--共用選單-->

        <section class="layout__list-news layout__container-1400 por">
            <h3 class="fz-36 fwb tac">@ViewBag.PathTitle</h3>
            <div class="search-box">
                <input type="text" placeholder="@ViewBag.ResLang["請輸入關鍵字"]">
                <a href="research-activity.php"><i class="icon-search"></i></a>
            </div>
            <ul class="ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (AwardListModel item in ViewBag.Data)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/News/Award/@item.awardId">
                                <div class="fz-18 block">
                                 
                                    <span>@item.awardDate</span>
                                </div>
                                <div class="fz-20 block">@item.Title</div>
                            </a>
                        </li>
                    }

                }

            </ul>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset">

                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>