﻿@using Web.ServiceModels;
@{
    List<DrugChangeListModel> DrugChangeList = ViewBag.Data;

}
<main class="main system">
    <div class="inner">
        @Html.Partial("Menu")<!--共用選單-->
        <section class="about__history layout__container-full pd__section-footer">
            <h3 class="fz-36 pd__nav-title  fwb tac">@ViewBag.PathTitle</h3>
              @if (ViewBag.YearLen != 0)
              {


            <ul class="layout__year-slide ul-reset slick-year">

                @for (int i = ViewBag.FirstYear; i <= ViewBag.LastYear; i++)
                {
                    <li>
                        <div class="fz-36">@(i+1911)</div>
                    </li>
                }



            </ul>
            <div class="info-wrap">
                <ul class="info layout__list ul-reset layout__container-1400 slick-year-for">
                    @for (int i = ViewBag.FirstYear; i <= ViewBag.LastYear; i++)
                    {

                        List<DrugChangeListModel> SubDrugList = DrugChangeList.FindAll(m => m.yearMonth.Contains(i.ToString())).ToList();


                        if (SubDrugList != null && SubDrugList.Count > 0)
                        {
                            <li>
                                <ul class="bd-block ul-reset innerlist fz-17">
                                    @foreach (DrugChangeListModel item in SubDrugList)
                                    {
                                        List<string> YearMonth = item.yearMonth.ToString().Split('年').ToList();
                                        int WestYear = int.Parse(YearMonth[0].ToString()) + 1911;
                                        <li><a href="@item.dataUrl" target="_blank"><h4>@Html.Raw(WestYear + "年" + YearMonth[1].ToString())</h4></a></li>
                                    }
                                </ul>
                            </li>

                        }
                    }
                </ul>
            </div>

              }
        </section>
    </div>
</main>