﻿@using Web.ServiceModels;

<main class="main system">
    <div class="inner">

        @Html.Partial("Menu")<!--共用選單-->

        <section class="layout__list-news layout__container-1400 por">
            <h3 class="fz-36 fwb tac">@ViewBag.PathTitle</h3>
            <div class="search-box">
                <form name="searchForm" action="" method="GET">
                    <input type="text" name="keyword" placeholder="@ViewBag.ResLang["請輸入關鍵字"]" value="@ViewBag.SearchKeyword">
                    <!--<a href="#1"><i class="icon-search"></i></a>-->
                    <button type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
            <ul class="ul-reset">

                @if (ViewBag.Data != null)
                {
                    foreach (BulletinListModel item in ViewBag.Data)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/News/Info/@ViewBag.ID/@item.bulletinId">
                                <div class="fz-18 block">
                                    <span class="tag fwb tac">@item.hospitalName</span>
                                    <span>@item.startDate</span>
                                </div>
                                <div class="fz-20 block">@item.bulletinTitle</div>
                            </a>
                        </li>
                    }

                }

            </ul>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset">

                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>