﻿@using Web.Models;
@{
    web_data WebData = ViewBag.webData;
}
<section class="layout__hero hero-nav">
    <div class="layout__breadcrumb layout__container-1400 fz-15">
        <span>@ViewBag.ResLang["您現在的位置"] : </span>
        <ul class="ul-reset">
            <li><a href="~/@ViewBag.Lang">@ViewBag.ResLang["首頁"]</a></li>
            <li><a href="system.php">@ViewBag.ResLang["長庚體系"]</a></li>
            <li><a href="system-about.php">@ViewBag.ResLang["關於長庚"]</a></li>
            <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/SD1">@ViewBag.ResLang["醫院訊息"]</a></li>
            <li><a>@ViewBag.PathTitle</a></li>
        </ul>
    </div>
    <div class="imgLiquidFill hero__content">
        <img src="~/images/05-system/news/hero.jpg" alt="">
        <div class="layout__container-1400">
            <h2 class="fz-48 fwb">@ViewBag.ResLang["醫院訊息"]</h2>
            <h3 class="fz-24 fwn">長庚大小事，專業領域獲取各界信賴</h3>
        </div>
    </div>

    @Html.Partial("MenuSingo")<!--共用選單-->

</section>
<section class="layout__container-full layout__nav-class pd__nav-first tac">
    <div class="mobile-nav hide-tablet-portrait-up">
        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
            <option disabled selected>@ViewBag.ResLang["請選擇項目"]</option>
            <option @if (ViewBag.ID == "A2") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A2">@ViewBag.ResLang["聚焦點"]</option>
            <option @if (ViewBag.ID == "A1") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A1">@ViewBag.ResLang["新聞與觀點"]</option>
            <option @if (ViewBag.ID == "A") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["最新消息"]</option>
            <option @if (ViewBag.ID == "B") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/List/B">@ViewBag.ResLang["活動訊息"]</option>
            <option @if (ViewBag.Action == "PressNewsList") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/PressNewsList">@ViewBag.ResLang["記者會資訊"]</option>
            <option @if (ViewBag.Action == "AwardList") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/AwardList">@ViewBag.ResLang["得獎紀錄"]</option>
            <option @if (ViewBag.Action == "Quality") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</option>
            <option @if (ViewBag.Action == "DrugChangeList") { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/News/DrugChangeList">@ViewBag.ResLang["藥品異動訊息"]</option>
            <option value="@if(!string.IsNullOrEmpty(WebData.fidrug_url)) {@WebData.fidrug_url} else {@Html.Raw("https://www1.cgmh.org.tw/fidrug/index.htm")}">@ViewBag.ResLang["藥品引進資訊"]</option>
            <option value="https://www1.cgmh.org.tw/material/index.htm">@ViewBag.ResLang["材料資訊"]</option>
        </select>
    </div>
    <ul class="ul-reset fz-20 hide-tablet-portrait-under">
        <li><a @if (ViewBag.ID == "A2") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A2">@ViewBag.ResLang["聚焦點"]</a></li>
        <li><a @if (ViewBag.ID == "A1") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/ArticleList/A1">@ViewBag.ResLang["新聞與觀點"]</a></li>
        <li><a @if (ViewBag.ID == "A") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["最新消息"]</a></li>
        <li><a @if (ViewBag.ID == "B") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/List/B">@ViewBag.ResLang["活動訊息"]</a></li>
        <li><a @if (ViewBag.Action == "PressNewsList") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/PressNewsList">@ViewBag.ResLang["記者會資訊"]</a></li>
        <li><a @if (ViewBag.Action == "AwardList") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/AwardList">@ViewBag.ResLang["得獎紀錄"]</a></li>
        <li><a @if (ViewBag.Action == "Quality") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</a></li>
        <li><a @if (ViewBag.Action == "DrugChangeList") { @Html.Raw("class=\"active\"") } href="@Url.Content("~/" + ViewBag.Lang)/News/DrugChangeList">@ViewBag.ResLang["藥品異動訊息"]</a></li>
        <li><a href="@if(!string.IsNullOrEmpty(WebData.fidrug_url)) {@WebData.fidrug_url} else {@Html.Raw("https://www1.cgmh.org.tw/fidrug/index.htm")}" target="_blank">@ViewBag.ResLang["藥品引進資訊"]</a></li>
        <li><a href="@if(!string.IsNullOrEmpty(WebData.material_url)) {@WebData.material_url} else {@Html.Raw("https://www1.cgmh.org.tw/material/index.htm")}" target="_blank">@ViewBag.ResLang["材料資訊"]</a></li>
    </ul>
</section>
