﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<ExcellentQualityListModel> ExcellentQualityList = new List<ExcellentQualityListModel>();
    if (ViewBag.Data != null && ViewBag.Data.GetType().Name != "JObject")
    {
       ExcellentQualityList = ViewBag.Data;
    }
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["醫院訊息"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/QualityInfo/@ViewBag.ID">@ViewBag.ResLang["品質績優事項"]</a></li>
                    <li><a>@ViewBag.ThisHospital</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/news/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫院訊息"]</h2>
                    <h3 class="fz-24 fwn">長庚大小事，專業領域獲取各界信賴</h3>
                </div>
            </div>

            @Html.Partial("MenuSingo")<!--共用選單-->

        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["品質績優事項"]</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                            {
                                if (!string.IsNullOrEmpty(item.hospitalID))
                                {
                                    string selected = "";
                                    if (ViewBag.ID == item.hospitalID)
                                    {
                                        selected = " selected";
                                    }

                        <option value="@Url.Content("~/" + ViewBag.Lang)/News/QualityInfo/@item.hospitalID" @selected>
                                                    @if (!string.IsNullOrEmpty(item.join_title))
                                                    {@item.join_title }
                                                    else
                                                    { @item.title}</option>
                                }

                            }
                        }

                    </select>
                </li>
            </ul>
        </div>
        <section class="about__history layout__container-full pd__section-footer">
            <h3 class="fz-36 fwb tac mb50">@ViewBag.ThisHospital</h3>


            @if (ViewBag.Data != null && ViewBag.Data.GetType().Name != "JObject")
            {
                if (ViewBag.YearLen != 0)
                {

                    <ul class="layout__year-slide ul-reset slick-year">

                      @for (int i = ViewBag.LastYear; i >= ViewBag.FirstYear; i--)
                        {
                            <li>
                                <div class="fz-36">@i</div>
                            </li>
                        }

                    </ul>
                }
                <div class="news__info03-2 info-wrap">
                    <!-- slick-year-for -->
                    <ul class="info ul-reset layout__container-1400 slick-year-for">
                        @for (int i = ViewBag.LastYear; i >= ViewBag.FirstYear; i--)
                        {

                            List<ExcellentQualityListModel> SubList = ExcellentQualityList.FindAll(m => m.year == i.ToString()).ToList();


                            if (SubList != null && SubList.Count > 0)
                            {

                                <li>
                                    <div class="layout__tablewrap">
                                        <table class="layout__table-main fz-18">
                                            <tr class="fz-17 hide-phone-under">
                                                <th>@ViewBag.ResLang["獎項名稱及結果"]</th>
                                                <th>@ViewBag.ResLang["得獎單位"]</th>
                                                <th>@ViewBag.ResLang["認證或競賽主題"]</th>
                                            </tr>
                                             @foreach (ExcellentQualityListModel item in SubList)
                                             {
                                                <tr>
                                                    <td data-th="@ViewBag.ResLang["獎項名稱及結果"]" class="tal">
                                                        <div class="text">
                                                            @item.title
                                                        </div>
                                                    </td>
                                                    <td data-th="@ViewBag.ResLang["得獎單位"]">@item.dept</td>
                                                    <td data-th="@ViewBag.ResLang["認證或競賽主題"]" class="tac">@item.award</td>
                                                </tr>
                                             }

                                        </table>
                                    </div>
                                </li>

                            }
                        }
                    </ul>
                </div>
            }
            else
            {
                <h4 class="fz-24 fwb tac mb50">@ViewBag.Data["Message"]</h4>
            }


        </section>
    </div>
</main>

