﻿@using Web.ServiceModels;
@using Web.Models;
@{ 
    Dictionary<int, string> ReportData = ViewBag.ReportData;
    List<string> HospitalTitle = ViewBag.HospitalTitle;//取得圖表院區
    List<SatisfactionListModel> Data1 = ViewBag.Data;
    List<SatisfactionListModel> Data2 = ViewBag.Data2;
}
<main class="main system">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/Index">@ViewBag.ResLang["長庚體系"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Systems/About">@ViewBag.ResLang["關於長庚"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/List/A">@ViewBag.ResLang["醫院訊息"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/Quality">@ViewBag.ResLang["醫療品質"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/QualityResult/@ViewBag.ID">@ViewBag.ResLang["滿意度調查"]</a></li>
                    <li><a>@ViewBag.ThisHospital</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/05-system/news/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["醫院訊息"]</h2>
                    <h3 class="fz-24 fwn">長庚大小事，專業領域獲取各界信賴</h3>
                </div>
            </div>
            @Html.Partial("MenuSingo")<!--共用選單-->
        </section>
        <section class="layout__sec-subtitle layout__container-full bg-grey">
            <h2 class="fz-48">@ViewBag.ResLang["滿意度調查結果"]</h2>
        </section>
        <div class="layout__nav-search">
            <ul class="ul-reset">
                <li class="fz-17">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                      
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                            {
                                if (!string.IsNullOrEmpty(item.hospitalID))
                                {
                                    string selected = "";
                                    if (ViewBag.ID == item.hospitalID)
                                    {
                                        selected = " selected";
                                    }

                                    <option value="@Url.Content("~/" + ViewBag.Lang)/News/QualityResult/@item.hospitalID" @selected>
                                        @if (!string.IsNullOrEmpty(item.join_title))
                                        {@item.join_title }
                                    else
                                    { @item.title}
                                    </option>
                                }

                            }
                        }
                    </select>
                </li>
            </ul>
        </div>
        <section class="news__info03 layout__container-1400 mb50">
            <h3 class="fz-36 fwb tac mb20">@ViewBag.ThisHospital</h3>
          @if(ViewBag.ReportData != null)
          {
              int i = 1;
              foreach (KeyValuePair<int, string> item in ReportData)
              {
              <div class="block">
                <div class="wrap">
                    <canvas class="chart @Html.Raw("chart"+i)"></canvas>
                </div>
            </div>
                  i++;
              }
          }


        </section>
        <section class="news__info03 layout__container-1400 mb100">

            <h4 class="fz-28 fwb mb20 ml40 tac-tablet-por">@ViewBag.ResLang["檢討摘要"]</h4>

            @if (ViewBag.Data != null)
            {
                foreach (SatisfactionListModel item in Data1.Skip(0).Take(1))
                {
                    <div class="block fz-17">
                        <h5 class="fz-24 fwb fc-main mb20">@Html.Raw(item.title)</h5>

                        <p>@Html.Raw(item.description)</p>
                    </div>

                }
            }
           @if (ViewBag.Data2 != null)
            {
                foreach (SatisfactionListModel item in Data2.Skip(0).Take(1))
                {
                    <div class="block fz-17">
                        <h5 class="fz-24 fwb fc-main mb20">@Html.Raw(item.title)</h5>

                        <p>@Html.Raw(item.description)</p>
                    </div>

                }
            }

                </section>
    </div>
</main>

@section scripts {

    @Scripts.Render("~/Scripts/js/plugin/Chart.min.js")
<script>
        var winWidth = $(window).outerWidth();
        function creatOption(title) {
            if (winWidth > 600) {
                return {
                    elements: {
                    },
                    title: {
                        display: true,
                        text: '' + title,
                        fontSize: 24,
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontSize: 18,
                            boxWidth: 15,
                        },
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 18,
                            },
                            categoryPercentage: 0.5,
                            barPercentage: 1.0,
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '(分)',
                                fontSize: 18,
                            },
                            ticks: {
                                fontSize: 18,
                                min: 60,
                                max: 100
                            }
                        }]
                    },

                }
            } else {
                return {
                    elements: {
                    },
                    title: {
                        display: true,
                        text: '' + title,
                        fontSize: 18,
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontSize: 12,
                            boxWidth: 12,
                        },
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 12,
                            },
                            categoryPercentage: 0.5,
                            barPercentage: 1.0,
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '(分)',
                                fontSize: 12,
                            },
                            ticks: {
                                fontSize: 12,
                                min: 60,
                                max: 100
                            }
                        }]
                    },
                    maintainAspectRatio: false,
                }
            }

        }


       /*  var data1 = {
            labels: ["104 上半年", "104 下半年", "105 上半年", "105 下半年", "106 上半年", "106 下半年"],
            datasets: [{
                label: '門診',
                data: [90, 92, 92, 90, 92, 92],
                borderColor: '#63AAD6',
                backgroundColor: '#63AAD6',

            }, {
                label: '急診',
                data: [88, 95, 95, 92, 90, 90],
                borderColor: '#90B64C',
                backgroundColor: '#90B64C',
            }, {
                label: '住院',
                data: [95, 89, 89, 95, 95, 94],
                borderColor: '#F38826',
                backgroundColor: '#F38826',
            }]
        }

       
        var data2 = {
            labels: ["104 上半年", "104 下半年", "105 上半年", "105 下半年", "106 上半年", "106 下半年"],
            datasets: [{
                label: '門診',
                data: [92, 92, 92, 94, 94, 92],
                borderColor: '#63AAD6',
                backgroundColor: '#63AAD6',

            }, {
                label: '急診',
                // data: [88, 95, 95, 92, 90, 90],
                borderColor: '#90B64C',
                backgroundColor: '#90B64C',
            }, {
                label: '住院',
                data: [95, 95, 95, 96, 96, 96],
                borderColor: '#F38826',
                backgroundColor: '#F38826',
            }]
        }
        */
    
            @if(ViewBag.ReportData != null)
            {

                foreach (KeyValuePair<int, string> item in ViewBag.ReportData)
                {
                    @Html.Raw(item.Value);
                  
                }

            }

        //var isData1Load = false;
       // var isData2Load = false;
         @if(HospitalTitle != null && HospitalTitle.Count > 0)
         {
            for (int s = 1; s <= HospitalTitle.Count; s++)
            {
                  @Html.Raw("var isData"+s+"Load = false;");                   
            }
         }

        // Draw chart when in view
        function isScrolledIntoView(elem) {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();

            var elemTop = $(elem).offset().top;
            var elemBottom = elemTop + $(elem).height();

            return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
        }
        $(window).scroll(function () {
            @if(HospitalTitle != null && HospitalTitle.Count > 0)
            {
                for (int s = 1; s <= HospitalTitle.Count; s++)
                {

                    string js = "if(isScrolledIntoView($('.chart"+s+ "'))){if(!isData" + s + "Load){var c" + s + " = new Chart($('.chart" + s + "'),{type: 'bar',data: data" + s + ",options: creatOption('"+ HospitalTitle[s-1] + "'),});isData" + s + "Load = true;}}" + "\r\n";
                    @Html.Raw(js);

                }
            }

        });
</script>
}