﻿@using Web.ServiceModels;
@using Web.Models;
@using Web.Service;
@{
    List<MedicalQualityListModel> MedicalList = ViewBag.Data;

}
<main class="main system">
    <div class="inner">


        @Html.Partial("Menu")<!--共用選單-->

        <section class="news__03 layout__container-1400">

            <h3 class="fz-36 pd__nav-title  fwb tac">@ViewBag.PathTitle</h3>

            <div class="layout__page-title por pb80">
                <p class="fz-18">@Html.Raw(ViewBag.MsgData.sub_title)</p>
                <div class="decline"></div>
            </div>
            <div class="layout__textimg mb50">
                <div class="col">                  
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.MsgData.content))
                </div>
            </div>
            <h3 class="fz-24 fwb fc-main ls2 mb20">@ViewBag.ResLang["各分院服務滿意度問卷調查結果"]</h3>
            <ul class="layout__list ul-reset mb50">
                <li>
                    <ul class="ul-reset innerlist fz-17">
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                            {
                                if (!string.IsNullOrEmpty(item.hospitalID))
                                {
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/News/QualityResult/@item.hospitalID"><h4>@if (!string.IsNullOrEmpty(item.join_title))
                                {@item.join_title }
                                else
                                { @item.title}</h4></a></li>
                                }
                            }
                        }
                    </ul>
                </li>
            </ul>
        </section>



        <section class="news__03 layout__container-full bg-grey pd100">
            <div class="layout__container-1400">
                <h3 class="fz-28 fwb tac mb20">@ViewBag.ResLang["品質績優事項"]</h3>
                <div class="layout__grid-circleblock">

                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (hospitals item in Web.Service.FunctionService.CheckHospitalsJoin(ViewBag.Hospitals))
                        {
                            if (!string.IsNullOrEmpty(item.hospitalID))
                            {
                                <div class="child">
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/News/QualityInfo/@item.hospitalID" class="wrap">
                                        <div class="imgLiquidFill">

                                            @if (item.pic.Contains("/Content"))
                                            {
                                                <img src="@Url.Content(item.pic)" alt="@item.title">
                                            }
                                            else if (item.pic.Contains("/Uploads"))
                                            {
                                                <img src="@Url.Content(item.pic.Replace("//Uploads" , "/Uploads"))" alt="@item.title">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("/"+item.pic)" alt="@item.title">
                                            }

                                        </div>
                                        <h4 class="fz-20">
                                            @if (!string.IsNullOrEmpty(item.join_title))
                                            {@item.join_title }
                                        else
                                        { @item.title}
                                        </h4>
                                    </a>
                                </div>
                            }
                        }
                    }
                    </div>
            </div>
        </section>


        <section class="news__03 layout__container-1400 pd100">


            <h3 class="fz-28 fwb tac mb20">@ViewBag.ResLang["醫療品質資訊公開"]</h3>


			<div style="padding: 30px 40px;">
			
			<h3 style="color: #CC0000; text-decoration: underline;"><a href="https://med.nhi.gov.tw/ihqe0000/index_pep.html" target="_blank">醫療品質公開指標(可點擊開啓連結)</a></h4>
			<h4 style="color: #CC0000;">為推動醫療品質資訊公開，民衆可至衛生福利部全民健康保險醫療品質資訊公開網，查閱本院各項醫療品質指標資訊。</h5>
			
			
			
			</div>
			
			
			
            <ul class="layout__grid-qa">
                @if (ViewBag.Hospitals != null)
                {

                    foreach (IEnumerable<MedicalQualityListModel> item in ViewBag.MedicalHospital)
                    {
                        MedicalQualityListModel MedicalData = item.FirstOrDefault();

                        List<MedicalQualityListModel> SubList = MedicalList.FindAll(m => m.hospitalName == MedicalData.hospitalName).ToList();

                        if (SubList != null && SubList.Count > 0)
                        {
                            <li class="">
                                <div class="qa__head js-qa-toggle">
                                    <h5 class="title fz-20">@MedicalData.hospitalName</h5>
                                    <div class="arrowdown"><i class="icon-angle-down"></i></div>
                                </div>
                                <div class="qa__body fz-17">
                                    <ul class="layout__list-download ul-reset">
                                        @foreach (MedicalQualityListModel subItem in SubList)
                                        {
                                            <li>
                                                <div class="fz-17">@subItem.title</div>
                                                <a href="@subItem.dataUrl" class="btn__round-green fz-16" target="_blank"><i class="icon-download"></i>下載</a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </section>
    </div>
</main>
