﻿@using Web.ServiceModels;
@using Newtonsoft.Json;
@using Web.Models;
@{
    List<SocialServiceListModel> SocialServiceList = ViewBag.Data;

}
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社服活動"]</a></li>
                </ul>
            </div>
            <div class="hero__content page3__hero">
                <!-- <img src="images/04-welfare/page3/hero.jpg" alt=""> -->
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社服活動"]</h2>
                    <h3 class="fz-24 fwn">社服用心 處處溫馨</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="index__head layout__container-full por">
            <h3 class="fz-48 fwb">做伙一起來</h3>
        </section>
        <section class="page3 layout__container-1400 pd__section-footer por">
            <div class="layout__nav-search layout__nav-search-between por">
                <ul class="ul-reset">
                    <li class="fz-24 fwb fc-main tac slick-calender">
                        @for (int y = int.Parse(DateTime.Now.ToString("yyyy")); y <= ((int.Parse(DateTime.Now.ToString("yyyy")))); y++)
                        {
                            int startMonth = 1;
                            if (DateTime.Now.ToString("yyyy") == y.ToString())
                            {
                                startMonth = int.Parse(DateTime.Now.ToString("MM"));
                            }
                            for (int m = startMonth; m <= (startMonth + 1); m++)
                            {
                                <div class="option">@Html.Raw(y + "年" + m + "月")</div>
                            }
                        }

                    </li>
                    <li>
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                   
                            @if (ViewBag.HhospitalOfSocial != null)
                            {
                                 foreach (SocialServiceLocListModel item in ViewBag.HhospitalOfSocial)         
                                {
                                    if (!string.IsNullOrEmpty(item.hospitalID))
                                    {


                                        string selected = "";
                                        if (ViewBag.CheckID == item.hospitalID.ToString())
                                        {
                                            selected = " selected";
                                        }

                                    <option value="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys/" + item.hospitalID)" @selected>
                                         @item.hospitalName
                                    </option>
                                    }
                                }
                            }

                        </select>
                    </li>
                </ul>
                <div class="btns">
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys" + ViewBag.AddPath)?v=List" class="btns__btn">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 30 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M6.876,0.128l22.7,0l0,3.265l-22.7,0l0,-3.265Zm0,16.248l0,-3.265l22.7,0l0,3.265l-22.7,0Zm0,-6.53l0,-3.188l22.7,0l0,3.188l-22.7,0Zm-6.452,-6.453l0,-3.265l3.265,0l0,3.265l-3.265,0Zm0,12.983l0,-3.265l3.265,0l0,3.265l-3.265,0Zm0,-6.53l0,-3.188l3.265,0l0,3.188l-3.265,0Z" style="fill-rule:nonzero;" /></svg>
                        </div>
                    </a>
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys" + ViewBag.AddPath)" class="btns__btn active">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 30 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M26.311,29.234l0,-17.841l-22.622,0l0,17.841l22.622,0Zm0,-25.965c1.748,0 3.265,1.52 3.265,3.266l0,22.699c0,1.746 -1.517,3.188 -3.265,3.188l-22.622,0c-1.822,0 -3.265,-1.442 -3.265,-3.188l0,-22.699c0,-1.746 1.443,-3.266 3.265,-3.266l1.594,0l0,-3.187l3.265,0l0,3.187l12.904,0l0,-3.187l3.265,0l0,3.187l1.594,0Zm-3.187,11.389l0,3.188l-3.265,0l0,-3.188l3.265,0Zm-6.53,0l0,3.188l-3.188,0l0,-3.188l3.188,0Zm-6.453,0l0,3.188l-3.265,0l0,-3.188l3.265,0Z" style="fill-rule:nonzero;" /></svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="slick-calender-for">

                @for (int y = int.Parse(DateTime.Now.ToString("yyyy")); y <= ((int.Parse(DateTime.Now.ToString("yyyy")))); y++)
                {
                    int startMonth = 1;
                    if (DateTime.Now.ToString("yyyy") == y.ToString())
                    {
                        startMonth = int.Parse(DateTime.Now.ToString("MM"));
                    }
                    for (int m = startMonth; m <= (startMonth + 1); m++)
                    {

                        DateTime dt = DateTime.Parse(y.ToString() + "-" + m.ToString() + "-1");

                        int totalDay = DateTime.DaysInMonth(dt.Year, dt.Month);//該月總天數
                        int startWeek = (int)dt.DayOfWeek;//起始星期

                        //週數天計算
                        int nedAdddate = totalDay % 7;
                        int weekDay = totalDay + (7 - nedAdddate);
                        int day = 1;
                        if (startWeek == 0)
                        {
                            startWeek = 7;
                            weekDay = weekDay + 7;
                        }

                        <div class="wrap">
                            <table class="calender">
                                <tr class="fz-18 hide-phone-under">
                                    <th width="14.285%">@ViewBag.ResLang["週一"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週二"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週三"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週四"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週五"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週六"]</th>
                                    <th width="14.285%">@ViewBag.ResLang["週日"]</th>
                                </tr>
                                @for (int d = 1; d <= weekDay; d++)
                                {
                                    if (d % 7 == 1)
                                    {
                                        @Html.Raw("<tr> ")
                                    }
                                    if (d >= startWeek & d <= (totalDay + startWeek - 1))
                                    {
                                        DateTime thisDay = DateTime.Parse(y.ToString() + "-" + m.ToString() + "-" + day.ToString());
                                        List<SocialServiceListModel> ActiveList = new List<SocialServiceListModel>();

                                        if (SocialServiceList != null && SocialServiceList.Count > 0)
                                        {
                                            ActiveList = SocialServiceList.FindAll(s => s.activityDate.ToString().Contains(thisDay.ToString("yyyyMMdd"))).ToList();
                                        }

                                        <td>
                                            <div class="date" data-day="@Web.Service.FunctionService.WeekToString((int)thisDay.DayOfWeek,ViewBag.Lang.ToString())">@day</div>
                                            @if (ActiveList != null && ActiveList.Count > 0)
                                            {
                                                foreach (SocialServiceListModel item in ActiveList)
                                                {

                                                    <div class="element">
                                                        <div class="tag tac fz-14">@item.hospitalName</div>
                                                        <div class="link fz-15 js-calender-activity openInfo" data-json="@JsonConvert.SerializeObject(item).ToString().Replace("\"","\\\"")">@Html.Raw(item.title)</div>
                                                    </div>

                                                }

                                            }

                                        </td>

                                        day++;
                                    }
                                    else
                                    {
                                        <td></td>
                                    }


                                    if (d % 7 == 0)
                                    {
                                        @Html.Raw("</tr> ")
                                    }

                                }
                            </table>
                        </div>

                    }
                }


            </div>
            <div class="info js-calender-info">
                <div class="info__head">
                    <div class="info__tag fz-14 info_hospitalName">基隆長庚</div>
                    <div class="fz-24 fwb">
                        <span class="fc-sub info_activityDate">9/10（一）</span>
                        <span class="info_title">慈雲寺義診</span>
                    </div>
                    <a class="info__map" href="javascript:;"><i class="icon-location"></i></a>
                </div>
                <div class="info__body">
                    <div class="info__block fz-17 info_description">為維護社區民眾健康，安排本院醫護人員於現場提供血糖、血壓測量及諮詢服務，並有家庭醫學科鄭又華醫師於現場進行醫療諮詢，歡迎民眾前往參加。</div>
                    <div class="info__block fz-16">
                        <ul class="ul-reset">
                            <li>
                                <span>@ViewBag.ResLang["活動時間"]：</span>
                                <span class="info_activityTime">上午 9：00～11：00</span>
                            </li>
                            <li>
                                <span>@ViewBag.ResLang["聯絡方式"]：</span>
                                <span class="info_contact">基隆長庚社會服務課連瑋玲小姐（02）24313131轉3088</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info__block fz-16 fc-sub info_memo_display">
                        @ViewBag.ResLang["注意事項"]：<span class="info_memo"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts {
    <script>
        //Remove active class when lose focus
        $(document.body).click(function (e) {
            const target = e.target;
            if (
                !$(target).is('.js-calender-activity') &&
                !$(target)
                    .parents()
                    .is('.js-calender-info')
            ) {
                $('.js-calender-info').removeClass('active');
            }
        });
        $(document).ready(function () {

            $('.openInfo').click(function () {


                var obj = $.parseJSON($(this).attr('data-json').replace(/\\/g, ""));
                for (var k in obj) {

                    $('.info_' + k).html(obj[k]);
                }

                $('.info_memo_display').show();
                if (obj['memo'] == "") {

                    $('.info_memo_display').hide();
                }

            });

        });
    </script>
}