﻿@using Web.ServiceModels;
@using Web.Models;
@{
    List<SocialServiceListModel> SocialServiceList = ViewBag.Data;

    try
    {
        SocialServiceList = SocialServiceList.OrderByDescending(m => m.activityDate).ToList();
    }
    catch { }

}
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="public-welfare.php">@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社服活動"]</a></li>
                </ul>
            </div>
            <div class="hero__content page3__hero">
                <!-- <img src="images/04-welfare/page3/hero.jpg" alt=""> -->
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社服活動"]</h2>
                    <h3 class="fz-24 fwn">社服用心 處處溫馨</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->

        </section>
        <section class="index__head layout__container-full por">
            <h3 class="fz-48 fwb">做伙一起來</h3>
        </section>
        <section class="page3 layout__container-1400 pd__section-footer por">
            <div class="layout__nav-search layout__nav-search-between por">
                <ul class="ul-reset">
                    <li class="fz-18">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    
                            @if (ViewBag.HhospitalOfSocial != null)
                            {
                                foreach (SocialServiceLocListModel item in ViewBag.HhospitalOfSocial)         
                                {
                                    if (!string.IsNullOrEmpty(item.hospitalID))
                                    {


                                        string selected = "";
                                        if (ViewBag.CheckID == item.hospitalID.ToString())
                                        {
                                            selected = " selected";
                                        }

                                        <option value="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys/" + item.hospitalID + "?v=list")" @selected> 
                                         @item.hospitalName
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </li>
                </ul>
                <div class="btns">
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys" + ViewBag.AddPath)?v=List" class="btns__btn active">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 30 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M6.876,0.128l22.7,0l0,3.265l-22.7,0l0,-3.265Zm0,16.248l0,-3.265l22.7,0l0,3.265l-22.7,0Zm0,-6.53l0,-3.188l22.7,0l0,3.188l-22.7,0Zm-6.452,-6.453l0,-3.265l3.265,0l0,3.265l-3.265,0Zm0,12.983l0,-3.265l3.265,0l0,3.265l-3.265,0Zm0,-6.53l0,-3.188l3.265,0l0,3.188l-3.265,0Z" style="fill-rule:nonzero;" /></svg>
                        </div>
                    </a>
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/@Html.Raw("Activitys" + ViewBag.AddPath)" class="btns__btn">
                        <div class="svg">
                            <svg width="100%" height="100%" viewBox="0 0 30 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M26.311,29.234l0,-17.841l-22.622,0l0,17.841l22.622,0Zm0,-25.965c1.748,0 3.265,1.52 3.265,3.266l0,22.699c0,1.746 -1.517,3.188 -3.265,3.188l-22.622,0c-1.822,0 -3.265,-1.442 -3.265,-3.188l0,-22.699c0,-1.746 1.443,-3.266 3.265,-3.266l1.594,0l0,-3.187l3.265,0l0,3.187l12.904,0l0,-3.187l3.265,0l0,3.187l1.594,0Zm-3.187,11.389l0,3.188l-3.265,0l0,-3.188l3.265,0Zm-6.53,0l0,3.188l-3.188,0l0,-3.188l3.188,0Zm-6.453,0l0,3.188l-3.265,0l0,-3.188l3.265,0Z" style="fill-rule:nonzero;" /></svg>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="layout__grid-expand ul-reset">

                @if (SocialServiceList != null && SocialServiceList.Count > 0)
                {
                    foreach (SocialServiceListModel item in SocialServiceList)
                    {

                        <li class="">
                            <div class="head js-qa-toggle">
                                <div class="title">
                                    <div>
                                        <span class="fz-24 fwb">@item.activityDate</span>
                                        <span class="fz-20">@Html.Raw(item.title)</span>
                                    </div>
                                    <div class="fz-16"><i class="icon-location"></i><span>@Html.Raw(item.place)</span></div>
                                </div>
                                <div class="arrowdown"><i class="icon-angle-down"></i></div>
                            </div>
                            <div class="body fz-17">
                                <div class="text">@Html.Raw(item.description)</div>
                                <div class="wrap">
                                    <ul class="ul-reset">
                                        <li>
                                            <span>@ViewBag.ResLang["活動時間"]：</span>
                                            <span>@Html.Raw(item.activityTime)</span>
                                        </li>
                                        <li>
                                            <span>@ViewBag.ResLang["聯絡方式"]：</span>
                                            <span>@Html.Raw(item.contact)</span>
                                        </li>
                                    </ul>
                                    @if (item.memo != "")
                                    {
                                        <div class="hr"></div>

                                        <div class="block fz-16 fc-sub">
                                            @ViewBag.ResLang["注意事項"]：@Html.Raw(item.memo)
                                        </div>
                                    }

                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="">
                        <div class="head js-qa-toggle">
                            <div class="title">@ViewBag.ResLang["無活動訊息"]</div>
                        </div>
                    </li>
                }

            </ul>
        </section>
    </div>
</main>
