﻿@using Web.ServiceModels;
@using Web.Service;
@{
    List<GlobalArticleListModel> SC1 = ViewBag.SC1;
    List<GlobalArticleListModel> SC2 = ViewBag.SC2;
    List<string> reURL = new List<string>();
}
<main class="main welfare index">
    <div class="inner">
        <section class="layout__hero layout__hero-index hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["社會公益"]</a></li>
                </ul>
            </div>
            <div class="slider slick-default slick-hero">
                @if (ViewBag.SC1 != null && SC1.Count > 0)
                {
                    foreach (GlobalArticleListModel item in ViewBag.SC1)
                    {
                        <div class="imgLiquidFill hero__content">
                            <img src="@item.photoUrl" alt="@item.title">
                            <div class="layout__container-1400">
                                <div class="fz-64 fwb">@item.title</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/04-welfare/hero.jpg" alt="">
                        <div class="text layout__container-1400">
                            <div class="fz-64 fwb">觸動每一顆公益愛心<br>共創生命的感動</div>
                        </div>
                    </div>
                    <div class="imgLiquidFill hero__content">
                        <img src="~/images/04-welfare/hero.jpg" alt="">
                        <div class="text layout__container-1400">
                            <div class="fz-64 fwb">觸動每一顆公益愛心<br>共創生命的感動</div>
                        </div>
                    </div>
                }
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="index__head layout__container-full">
            <div class="bgimage imgLiquidFill">
                <img src="~/images/04-welfare/head.png" alt="">
            </div>
            <div class="fz-48 fwb">@ViewBag.ResLang["守護健康散播愛"]</div>
        </section>
        @if (ViewBag.SC2 != null && SC2.Count > 0)
        {
        <section class="layout__container-full layout__imggrid fz-17">
            @{
                GlobalArticleListModel SC2FirstData = SC2[0];

            }
            <div class="row row-l">
                <div class="img imgLiquidFill">
                    <img src="@SC2FirstData.photoUrl" alt="@SC2FirstData.title">
                    <div class="cover">
                        <div class="content content-row-l">
                            <div class="text">@SC2FirstData.title</div>
                            @{
                                reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/SocialService/NewsInfo", SC2FirstData.Data);

                            }
                            <a href="@reURL[0]" target="@reURL[1]" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                        </div>
                    </div>
                </div>
            </div>
            @if (SC2.Count > 1)
            {
                int s = 0;

                <div class="row row-nl">
                    @foreach (GlobalArticleListModel item in ViewBag.SC2)
                    {
                        if (s > 0 && s <= 4)
                        {
                    <div class="img imgLiquidFill">
                        <img src="@item.photoUrl" alt="@item.title">
                        <div class="cover">
                            <div class="content">
                                <div class="text">@item.title</div>
                                @{
                                    reURL = FunctionService.IndexNewsURL(Url.Content("~/" + ViewBag.Lang) + "/SocialService/NewsInfo", item.Data);
                                }
                                <a href="@reURL[0]" target="@reURL[1]" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                            </div>
                        </div>
                    </div>

                        }
                      s++;
                    }

                </div>
            }
            </section>
        <div class="layout__container-full index__more tac fz-17">
            <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/ArticleList/A4" class="btn__round-full">@ViewBag.ResLang["了解更多"]</a>
        </div>
      }



        </div>
</main>

