﻿@using Web.Models;
@{
    web_data WebData = ViewBag.webData;
}
<ul class="nav ul-reset fwb layout__container-1400">
    <li @if (ViewBag.Action == "PublicWelfare") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfare">
            <div class="fz-24">@ViewBag.ResLang["社會關懷"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 46 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M3.431,10.569l-2.488,13.157c-0.138,1.076 0.142,2.203 0.844,3.021l7.639,8.14c1.687,1.78 1.553,3.624 1.553,4.404l-0.225,4.469l9.696,0.012c0,-6.574 1.696,-8.905 1.696,-12.127c-0.001,-5.182 -5.972,-5.294 -12.078,-10.946c-0.454,-0.42 -1.304,-0.478 -2.179,0.347c-0.745,0.747 -0.777,1.646 -0.418,2.17c0,0 5.058,5.387 4.057,6.593c0,0 -5.111,-3.607 -5.992,-4.585c-0.88,-0.978 -1.312,-1.656 -1.253,-3.066c0,-0.698 0.187,-1.399 0.555,-2.065c0.678,-1.121 1.723,-1.776 1.968,-1.832l0,-7.692c0,-2.466 -2.882,-3.242 -3.375,0Z" style="fill:url(#_Linear1);fill-rule:nonzero;" /><path d="M43.387,10.569l2.487,13.157c0.14,1.076 -0.141,2.203 -0.844,3.021l-7.639,8.14c-1.686,1.78 -1.551,3.624 -1.551,4.404l0.225,4.469l-9.697,0.012c0,-6.574 -1.696,-8.905 -1.696,-12.127c0.002,-5.182 5.973,-5.294 12.078,-10.946c0.454,-0.42 1.303,-0.478 2.179,0.347c0.745,0.747 0.778,1.646 0.419,2.17c0,0 -5.059,5.387 -4.057,6.593c0,0 5.11,-3.607 5.991,-4.585c0.88,-0.978 1.311,-1.656 1.253,-3.066c0,-0.698 -0.187,-1.399 -0.555,-2.065c-0.677,-1.121 -1.722,-1.776 -1.967,-1.832l0,-7.692c0,-2.466 2.881,-3.242 3.374,0Z" style="fill:url(#_Linear2);fill-rule:nonzero;" /><path d="M35.213,5.022c-1.187,-3.779 -3.804,-4.693 -6.272,-4.79c-2.805,-0.11 -5.062,1.904 -5.531,1.904c-0.471,0 -2.726,-2.014 -5.533,-1.904c-2.466,0.097 -5.085,1.011 -6.271,4.79c-2.787,8.867 11.744,15.759 11.804,15.788c0.058,-0.029 14.59,-6.921 11.803,-15.788Z" style="fill:url(#_Linear3);fill-rule:nonzero;" /></g><defs><linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.23222,-40.6387,40.6387,2.23222,33.336,40.8667)"><stop offset="0" style="stop-color:#ffc900;stop-opacity:1" /><stop offset="1" style="stop-color:#ff3250;stop-opacity:1" /></linearGradient><linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.23222,-40.6387,40.6387,2.23222,33.336,40.8667)"><stop offset="0" style="stop-color:#ffc900;stop-opacity:1" /><stop offset="1" style="stop-color:#ff3250;stop-opacity:1" /></linearGradient><linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.23222,-40.6387,40.6387,2.23222,33.336,40.8667)"><stop offset="0" style="stop-color:#ffc900;stop-opacity:1" /><stop offset="1" style="stop-color:#ff3250;stop-opacity:1" /></linearGradient></defs></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Service") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service">
            <div class="fz-24">@ViewBag.ResLang["社會服務"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 50 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M27.367,37.66c-1.08,1.869 -2.315,3.203 -3.581,3.823l0,-26.994c2.203,0.089 4.261,0.35 6.128,0.753c0.249,1.162 0.447,2.836 0.583,4.172c0.931,-0.296 1.937,-0.48 3.025,-0.521c0.085,-0.006 0.172,-0.006 0.259,-0.006c-0.103,-0.901 -0.251,-2.016 -0.356,-2.654c2.698,0.96 4.781,2.226 6.084,3.588c0.16,-0.068 0.321,-0.137 0.494,-0.203c1.025,-0.417 2.249,-0.764 3.641,-0.764c0.091,0 0.181,0.002 0.274,0.004c-1.948,-10.244 -10.96,-18.014 -21.761,-18.014c-12.22,0 -22.157,9.937 -22.157,22.157c0,12.216 9.937,22.155 22.157,22.155c3.855,0 7.475,-1.009 10.64,-2.75c-1.771,-1.209 -3.768,-2.813 -5.43,-4.746Zm12.174,-22.057c-1.875,-1.26 -4.229,-2.303 -6.929,-3.057c-0.756,-2.703 -1.8,-5.057 -3.057,-6.93c4.478,1.914 8.075,5.508 9.986,9.987Zm-15.755,-11.083c1.934,0.944 3.819,3.504 5.133,7.209c-1.632,-0.269 -3.35,-0.439 -5.133,-0.505l0,-6.704Zm-9.029,1.096c-1.259,1.873 -2.303,4.227 -3.059,6.93c-2.701,0.754 -5.053,1.797 -6.929,3.057c1.912,-4.479 5.509,-8.073 9.988,-9.987Zm-11.494,17.385c0,-2.46 2.877,-5.081 7.623,-6.768c-0.351,2.125 -0.542,4.397 -0.542,6.768c0,2.369 0.191,4.636 0.542,6.761c-4.746,-1.68 -7.623,-4.305 -7.623,-6.761Zm1.506,7.398c1.876,1.26 4.228,2.303 6.929,3.058c0.756,2.698 1.8,5.054 3.059,6.929c-4.479,-1.914 -8.076,-5.51 -9.988,-9.987Zm15.756,11.084c-1.935,-0.945 -3.821,-3.507 -5.134,-7.214c1.631,0.27 3.35,0.443 5.134,0.509l0,6.705Zm0,-18.482l0,8.508c-2.204,-0.09 -4.26,-0.35 -6.127,-0.751c-0.5,-2.321 -0.793,-4.929 -0.793,-7.757c0,-2.829 0.293,-5.438 0.793,-7.759c1.867,-0.403 3.923,-0.664 6.127,-0.753l0,8.512Zm0,-11.777c-1.784,0.066 -3.503,0.236 -5.134,0.505c1.313,-3.705 3.199,-6.265 5.134,-7.209l0,6.704Z" style="fill:url(#_Linear3);fill-rule:nonzero;" /><path d="M49.673,27.034c-1.098,-3.491 -3.515,-4.331 -5.793,-4.421c-2.59,-0.107 -4.675,1.754 -5.105,1.754c-0.433,0 -2.518,-1.861 -5.107,-1.754c-2.28,0.09 -4.697,0.93 -5.793,4.421c-2.57,8.185 10.845,14.547 10.9,14.573c0.052,-0.026 13.468,-6.388 10.898,-14.573Z" style="fill:url(#_Linear4);fill-rule:nonzero;" /></g><defs><linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-25.4207,-40.7635,40.7635,-25.4207,38.774,41.6073)"><stop offset="0" style="stop-color:#ff2629;stop-opacity:1" /><stop offset="1" style="stop-color:#ffa267;stop-opacity:1" /></linearGradient><linearGradient id="_Linear4" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-25.4207,-40.7635,40.7635,-25.4207,38.774,41.6073)"><stop offset="0" style="stop-color:#ff2629;stop-opacity:1" /><stop offset="1" style="stop-color:#ffa267;stop-opacity:1" /></linearGradient></defs></svg>
            </div>
        </a>
    </li>
    <li @if (ViewBag.Action == "Activitys") { @Html.Raw("class=\"active\"") }>
        <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Activitys">
            <div class="fz-24">@ViewBag.ResLang["社服活動"]</div>
            <div class="svg">
                <svg width="100%" height="100%" viewBox="0 0 46 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M45.171,13.576c1.132,-3.125 -2.201,-3.642 -2.993,-1.722c-1.409,3.412 -2.925,7.741 -4.187,10.44c-0.812,1.731 -2.481,0.993 -2.501,-0.555c0.033,-2.926 1.183,-7.554 1.712,-16.252c0.133,-2.192 -3.382,-3.039 -3.927,-0.463c-0.742,3.51 -1.148,10.665 -1.72,13.868c-0.493,2.776 -2.34,1.827 -2.256,-0.163c-0.449,-4.377 -0.427,-11.561 -0.492,-16.177c-0.034,-2.424 -3.878,-3.186 -4.296,0.042c-0.17,5.079 0.269,10.061 -0.059,16.13c0.056,1.546 -1.345,2.948 -2.382,0.667c-1.408,-3.832 -2.702,-10.69 -3.374,-13.285c-0.865,-3.354 -5.011,-1.847 -4.168,0.977c1.069,5.217 3.48,16.59 3.913,18.637c1.191,-0.547 2.687,-0.56 5.556,0.278c1.833,0.538 4.066,1.104 5.828,0.879c0.513,-0.067 1.924,-0.715 1.858,0.523c-0.041,0.799 -2.102,2.429 -5.548,1.494c-2.131,-0.579 -2.48,1.345 -1.242,2.671c1.244,1.318 2.288,1.777 2.288,1.777c1.065,0.649 3.958,2.255 5.943,3.566c1.16,0.628 0.328,2.413 -1.008,1.629c-1.03,-0.61 -3.83,-2.147 -5.486,-2.913c-1.05,-0.395 -1.049,0.494 -0.541,0.965c1.815,2.02 3.529,3.457 5.08,5.118c0.888,1.152 -0.57,2.129 -1.345,1.372c-1.479,-1.441 -3.743,-3.718 -5.271,-4.96c-0.602,-0.654 -1.485,-0.374 -0.766,0.662c0.834,1.195 2.966,3.586 3.842,4.928c0.643,0.986 -0.737,1.832 -1.388,1.094c-2.581,-2.916 -3.682,-4.743 -4.595,-5.68c-0.497,-0.483 -1.258,-0.188 -0.967,0.617c0.453,1.252 1.34,3.101 1.975,4.623c0.358,0.859 -0.859,1.752 -1.488,0.403c-1.073,-1.835 -2.678,-5.814 -3.505,-6.693c-3.772,-2.678 -4.695,-6.563 -5.329,-7.71c-3.878,-6.988 -9.924,-7.15 -11.258,-5.954c-2.06,1.85 1.197,3.05 2.111,3.759c3.145,2.438 5.779,6.866 7.829,10.608c4.337,7.921 7.152,9.642 11.433,9.893c2.276,0.133 2.876,-1.033 9.488,0c9.913,1.55 8.068,-14.912 8.193,-18.966c0.084,-2.699 3.836,-11.521 5.043,-16.127Z" style="fill:url(#_Linear5);fill-rule:nonzero;" /></g><defs><linearGradient id="_Linear5" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-1.28871,-35.7618,35.7618,-1.28871,33.495,48.772)"><stop offset="0" style="stop-color:#ab2293;stop-opacity:1" /><stop offset="1" style="stop-color:#6dcdff;stop-opacity:1" /></linearGradient></defs></svg>
            </div>
        </a>
    </li>
</ul>
<div class="layout__nav-top layout__container-1400">
    <ul class="ul-reset fwb fz-17">
        <li>
            <a href="@if(!string.IsNullOrEmpty(WebData.department_url)) {@WebData.department_url} else {@Html.Raw("https://www1.cgmh.org.tw/intr/intr2/c0910/department/index.html")}" target="_blank">
                <div class="circle">
                    <div class="svg">
                        <svg width="100%" height="100%" viewBox="0 0 495 495" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M487.083,225.514l-75.08,-75.08l0,-86.73c0,-15.682 -12.708,-28.391 -28.413,-28.391c-15.669,0 -28.377,12.709 -28.377,28.391l0,29.941l-55.903,-55.905c-27.639,-27.624 -75.694,-27.575 -103.27,0.05l-187.728,187.724c-11.082,11.104 -11.082,29.071 0,40.158c11.087,11.101 29.089,11.101 40.172,0l187.71,-187.729c6.115,-6.083 16.893,-6.083 22.976,-0.018l187.742,187.747c5.567,5.551 12.825,8.312 20.081,8.312c7.271,0 14.541,-2.764 20.091,-8.312c11.086,-11.086 11.086,-29.053 -0.001,-40.158Z" style="fill:#fff;fill-rule:nonzero;" /><path d="M257.561,131.836c-5.454,-5.451 -14.285,-5.451 -19.723,0l-165.126,165.077c-2.607,2.606 -4.085,6.164 -4.085,9.877l0,120.401c0,28.253 22.908,51.16 51.16,51.16l81.754,0l0,-126.61l92.299,0l0,126.61l81.755,0c28.251,0 51.159,-22.907 51.159,-51.159l0,-120.402c0,-3.713 -1.465,-7.271 -4.085,-9.877l-165.108,-165.077Z" style="fill:#fff;fill-rule:nonzero;" /></g></svg>
                    </div>
                </div>@ViewBag.ResLang["社服處官網"]
            </a>
        </li>
        <li>
            <a href="@if(!string.IsNullOrEmpty(WebData.donate1_url)) {@WebData.donate1_url} else {@Html.Raw("https://www1.cgmh.org.tw/intr/intr2/c0910/department/donate1.html")}" target="_blank">
                <div class="circle">
                    <div class="svg">
                        <svg width="100%" height="100%" viewBox="0 0 511 511" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M475.366,71.951c-24.175,-23.606 -57.575,-35.404 -100.215,-35.404c-11.8,0 -23.843,2.046 -36.117,6.136c-12.279,4.093 -23.702,9.615 -34.256,16.562c-10.568,6.945 -19.65,13.467 -27.269,19.556c-7.61,6.091 -14.845,12.564 -21.696,19.414c-6.854,-6.85 -14.087,-13.323 -21.698,-19.414c-7.616,-6.089 -16.702,-12.607 -27.268,-19.556c-10.564,-6.95 -21.985,-12.468 -34.261,-16.562c-12.275,-4.089 -24.316,-6.136 -36.116,-6.136c-42.637,0 -76.039,11.801 -100.211,35.404c-24.172,23.601 -36.259,56.337 -36.259,98.211c0,12.753 2.24,25.889 6.711,39.398c4.471,13.514 9.566,25.031 15.275,34.546c5.708,9.514 12.181,18.796 19.414,27.837c7.233,9.042 12.519,15.27 15.846,18.699c3.33,3.422 5.948,5.899 7.851,7.419l178.153,171.876c3.427,3.429 7.614,5.144 12.562,5.144c4.948,0 9.138,-1.715 12.563,-5.137l177.87,-171.307c43.588,-43.583 65.38,-86.41 65.38,-128.475c0.001,-41.874 -12.088,-74.61 -36.259,-98.211Z" style="fill:#fff;fill-rule:nonzero;" /></svg>
                    </div>
                </div>@ViewBag.ResLang["公益影片"]
            </a>
        </li>
    </ul>
</div>
