﻿@using Web.ServiceModels;
@{
    GlobalArticleModel data = ViewBag.Data;
}
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a>@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社會關懷"]</a></li>
                </ul>
            </div>
            <div class="imgLiquidFill hero__content">
                <img src="~/images/04-welfare/page1/hero.jpg" alt="">
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社會關懷"]</h2>
                    <h3 class="fz-24 fwn">創新服務，促進社會公益</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="index__head layout__container-full">
            <h3 class="fz-48 fwb">@ViewBag.ResLang["社會關懷"]</h3>
        </section>
        <section class="layout__newsinfo layout__container-1400">
            <div class="head top">
                <h3 class="fz-30 fwb">@data.title</h3>
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <article class="fz-17">
                    
                    @if (data.paragraph != null && data.paragraph.Count > 0)
                    {
                        foreach (Paragraph item in data.paragraph)
                        {
                            if (item.type == "1")
                            {
                                <article class="fz-17">
                                    @Html.Raw(item.paragraph)
                                </article>
                            }

                            if (item.type == "2")
                            {
                                <img src="@item.photoUrl" alt="">
                                <article class="fz-17">
                                    @Html.Raw(item.photoDesc)
                                </article>

                            }

                            if (item.type == "3")
                            {
                                <article class="fz-17">
                                    <a href="@item.url" target="_blank">@item.urlWord</a>
                                </article>
                            }
                            if (item.type == "4")
                            {
                                <article class="fz-17">
                                    <a href="@item.movieUrl" target="_blank">@item.movieUrl</a>
                                    @Html.Raw(item.movieDesc)
                                </article>
                            }
                        }

                    }
                </article>
            </div>
            <div class="head">
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="btns fz-17">
                @if (ViewBag.prevID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/NewsInfo/@ViewBag.prevID" class="btn"><i class="icon-angle-left"></i>@ViewBag.ResLang["上一則"]</a>
                }
                <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index" class="btn red">@ViewBag.ResLang["回列表"]</a>
                @if (ViewBag.nextID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/NewsInfo/@ViewBag.nextID" class="btn">@ViewBag.ResLang["下一則"]<i class="icon-angle-right"></i></a>
                }
            </div>
        </section>

    </div>
</main>
