﻿@using Web.Models;
@using Web.Service;
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社會關懷"]</a></li>

                </ul>
            </div>
            <div class="hero__content page1__hero">
                <!-- <img src="~/images/04-welfare/page1/hero.jpg" alt=""> -->
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社會關懷"]</h2>
                    <h3 class="fz-24 fwn">創新服務，促進社會公益</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="index__head layout__container-full">
            <h3 class="fz-48 fwb">@ViewBag.ResLang["公益活動"]</h3>
        </section>
        <section class="page1 layout__container-full">
            <div class="layout__textimg">


                @if (ViewBag.Data != null)
                {
                    int i = 1;
                    foreach (public_welfare item in ViewBag.Data)
                    {
                        <div id="@i" class="col">
                            <div class="col__img imgLiquidFill">
                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt">
                            </div>
                            <div class="col__text">
                                <h4 class="fz-24 fwb">@item.title</h4>
                                <div class="fz-17">@Html.Raw(item.notes)</div>
                                <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/PublicWelfareInfo/@item.guid" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                                <div class="bgimage imgLiquidFill">
                                    <img src="~/images/04-welfare/page1/text-bg.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }

            </div>
        </section>
        <div class="layout__container-full bg-grey">
            <ul class="layout__pagination ul-reset  ">

                @Html.Raw(ViewBag.pageView)
            </ul>
        </div>
    </div>
</main>