﻿@using Web.Models;
@using Web.Service;
@{
    notes_data data = ViewBag.Data;
}
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社會服務"]</a></li>
                </ul>
            </div>
            <div class="hero__content page2__hero">
                <!-- <img src="~/images/04-welfare/page2/hero.jpg" alt=""> -->
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社會服務"]</h2>
                    <h3 class="fz-24 fwn">提供優質服務和支援</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="index__head layout__container-full">
            <h3 class="fz-48 fwb">@ViewBag.ResLang["社服用心處處溫馨"]</h3>
            <div class="decline"></div>
        </section>
        <section class="page2 layout__container-full">
            <div id="1" class="head tac">
                <!-- <div class="bgimage imgLiquidFill">
                  <img src="~/images/04-welfare/page2/1.jpg" alt="">
                </div> -->
                <div class="wrap">
                    <h3 class="fz-36 fwb">@data.title</h3>
                    <div class="fz-20">@data.sub_title</div>
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                </div>
            </div>
            <ul class="layout__block-img-lr ul-reset">

                  @if (ViewBag.SocialService != null)
                  {
                      int i = 2;
                      foreach (social_service item in ViewBag.SocialService)
                      {
                <li id="@i" style="background: url(@Url.Content("~/" + item.pic)) center no-repeat;">
                    <!-- <div class="bgimage imgLiquidFill">
                      <img src="~/images/04-welfare/page2/2.jpg" alt="">
                    </div> -->
                    <div class="layout__container-1400">
                        <div class="text">
                            <h3 class="fz-36 fwb">@item.title</h3>
                            <div class="fz-20">@item.notes</div>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/ServiceInfo/@item.guid" class="btn__round-transparent">@ViewBag.ResLang["了解更多"]</a>
                        </div>
                    </div>
                </li>
                          i++;
                      }
                  }

            </ul>
        </section>
    </div>
</main>