﻿@using Web.Models;
@using Web.Service;
@{
    social_service data = ViewBag.Data;
}
<main class="main welfare">
    <div class="inner">
        <section class="layout__hero hero-nav">
            <div class="layout__breadcrumb layout__container-1400 fz-15">
                <span>@ViewBag.ResLang["您現在的位置"] : </span>
                <ul class="ul-reset">
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Index">@ViewBag.ResLang["社會公益"]</a></li>
                    <li><a>@ViewBag.ResLang["社會服務"]</a></li>
                </ul>
            </div>
            <div class="hero__content page2__hero">
                <!-- <img src="images/04-welfare/page2/hero.jpg" alt=""> -->
                <div class="layout__container-1400">
                    <h2 class="fz-48 fwb">@ViewBag.ResLang["社會服務"]</h2>
                    <h3 class="fz-24 fwn">提供優質服務和支援</h3>
                </div>
            </div>
            @Html.Partial("Menu")<!--共用選單-->
        </section>
        <section class="index__head layout__container-full">
            <h3 class="fz-48 fwb">@ViewBag.ResLang["社服用心處處溫馨"]</h3>
        </section>
        <section class="layout__newsinfo layout__container-1400">
            <div class="head top">
                <h3 class="fz-30 fwb">@data.title</h3>
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="body">
                <article class="fz-17">
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                </article>
            </div>
            <div class="head">
                <div class="share">
                    <div class="fz16">@ViewBag.ResLang["分享"]：</div>
                    <ul class="ul-reset">
                        <li><a href="javascript:void(0);" class="fb_share"><img src="~/images/00-logo-icon/icon-fb.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="gp_share"><img src="~/images/00-logo-icon/icon-gplus.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="line_share"><img src="~/images/00-logo-icon/icon-line.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="tt_share"><img src="~/images/00-logo-icon/icon-twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="btns fz-17">
                @if (ViewBag.prevID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/ServiceInfo/@ViewBag.prevID" class="btn"><i class="icon-angle-left"></i>@ViewBag.ResLang["上一則"]</a>
                }
                <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/Service" class="btn red">@ViewBag.ResLang["回列表"]</a>
                @if (ViewBag.nextID != "")
                {
                    <a href="@Url.Content("~/" + ViewBag.Lang)/SocialService/ServiceInfo/@ViewBag.nextID" class="btn">@ViewBag.ResLang["下一則"]<i class="icon-angle-right"></i></a>
                }
            </div>
        </section>
    </div>
</main>